// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  //vertical-gradient #eee, #fff
  margin-left 20px
  margin-right 0

a
  color #000a68

h1
  font-size 1.8em
  font-weight bold
  margin-top 0.2em
  margin-bottom 0.3em
  text-shadow 1px 1px 2px rgba(100,100,100,0.4)
  text-shadow 2px 2px 3px rgba(140,140,140,0.25)
h2
  font-size 1.3em
  text-shadow 1px 1px 1px rgba(100,100,100,0.4)
  text-shadow 2px 2px 2px rgba(140,140,140,0.25)
  font-weight bold
  margin 0.5em 0
  
h3
  font-size 1.1em
  text-shadow 1px 1px 1px rgba(100,100,100,0.4)
  text-shadow 2px 2px 2px rgba(140,140,140,0.25)
  margin 0.2em 0
  font-weight bold
  
h4
  margin 0.15em 0
  font-weight bold
  text-shadow 1px 1px 1px rgba(100,100,100,0.4)

small
  font-size smaller
strong
  font-weight bold

input[type="number"]
  width 5ex

#content
  padding 0
  clear both
  max-width 800px
  margin-left auto
  margin-right auto

//header
body > header
  text-align center
  margin-left -20px
  padding 4px 0 4px 8px
  background-color #000000
  vertical-gradient #565656,#131313
  border-bottom 1px solid #aaaaaa
  color #ffffff
  h1
    // 月下人狼
    display inline-block
    margin 0
    font-family 'Takao明朝',serif
    font-size 2em
    text-shadow  1px 1px 1px rgba(200,200,200,0.4)
  #userinfo,nav
    display inline-block
    vertical-align 40%
  #userinfo
    padding 0 5px
  nav ul li
    display inline-block
    margin-right 1em
    a
      color #ffffff !important
      text-decoration none
    a:hover
      background-color rgba(0,0,0,.4)
      box-shadow 0 0 5px 5px rgba(0,0,0,.4)
//おしらせ
body > .notice
  margin-left -20px
  background-color #ffff88
  color black
  font-size smaller
  padding 3px 0 3px 10px

.error
  color #dd0000
// window
.window
  round 5px
  border 1px solid #666666
  box-shadow 2px 2px 3px #000000
  margin 0
  padding 0 0.6em
  position absolute
  background-color rgba(240,240,240,0.85)
  color #000000
  max-width 20em
  a
    color #0000FF !important
  
.window.login
  width 20em
  
.window h1
  margin 0
  font-size 1.2em
  padding-left 1em
  color #000000
  text-shadow #ffffff
  vertical-gradient rgba(255,255,255,0.4), rgba(255,255,255,0.6)
  
.window form p
  text-align center
.window .closer
  float right
  
//user-profile
section.profile
  p.edit
    background-color #bbbbbb
    padding 2px
    border-radius 3px
  p.edit:empty
    height 1em
  form input[type="text"],form input[type="url"]
    width 100%
  table
    td,th
      border none
  table.newstable
    td,th
      border 1px solid currentColor
table.roomstable
  td,th
    border 1px solid currentColor !important
//roomlist
#roomlist td
  img
    vertical-align text-bottom
   
//lobby
.lobby #users li
  display inline-block
  margin-right 1em
    
//game
body.night
  background-color #000044
  color #ffffff
  a
    color #ffffff
  
body.day
  //background-color rgb(255,217,83)
  background-color #f0e68c
  
body.heaven
  background-color rgb(255,255,240)
  color #000000
  a
    color #000a68
    
.game
  .players
    h1
      font-size 1.2em
.game #playernumberinfo
  font-size 0.8em
//players
#players li
  display inline-block
  vertical-align top
  margin-left 0.5em
  min-width 5em
  min-height 2em
  p.job,p.outcome
    font-weight bold
  p.outcome.win
    color:#ff0000
  p.outcome.lose
    color:#0000ff
  figure.icon
    float left
.infobox
    border 2px dashed currentColor
    padding 8px
    margin 5px
#players li.icon
  min-width 8em
#players li.dead
  background-color rgba(0,0,0,0.1)
  p.name
    text-decoration line-through
#form_players li.dead
  text-decoration line-through

#form_players li
  display inline-block
  margin-left 0.8em
#speakform
  border-top 1px solid currentColor
  padding-top 5px
  textarea
    vertical-align top
#gamestart label
  mergin-right 0.6em
  border-left 2px dashed #ffffff
  padding-left 0.4em

//logs
#logs
  //display table
  width 100%
  > div
    margin 0
    padding 1px
    display table-row
    width 100%
    line-height 100%
    time
      font-size x-small
      //opacity 0.5
      margin-left 2em
    div.icon
      border none
    div.name
      font-weight bold
      display table-cell
      //max-width 10em
      overflow:hidden
      white-space nowrap
      max-width 15em
      word-wrap break-word
      text-align right
    div.comment
      display table-cell
      width 100%
      /*div
        //white-space pre-wrap
        white-space -moz-pre-wrap
        white-space -webkit-pre-wrap
        white-space pre-line
        word-wrap break-word
        max-width 600px*/
    div.comment.big
      font-size larger
      font-weight bold
      line-height 1
    div.comment.small
      font-size smaller
    time.time
      display table-cell
      white-space nowrap
      max-width 22ex
  .day
    background-color #f0e68c
    //borderud 1px dashed rgb(255,234,90)
    color #000000
  .system
    background-color #cccccc
    borderud 1px dashed #aaaaaa
    font-weight bold
    color #000000
  .werewolf,.monologue
    background-color #000044
    borderud 1px dashed #000066
    color #ffffff
  .heaven,.prepare
    background-color rgb(255,255,240)
    borderud 1px dashed #fffff8
    color #000000
  .skill,.wolfskill
    background-color #cc0000
    borderud 2px dashed #700000
    color #ffffff
    font-weight bold
  .voteto
    background-color #009900
    borderud 2px dashed #004000
    color #ffffff
    font-weight bold
  .nextturn
    background-color #eeeeee
    borderud 1px dashed #aaaaaa
    font-weight bold
    color #000000
  .audience
    background-color #ddffdd
    borderud 1px dashed #eeffee
    color #000000
  .couple
    background-color #ddddff
    borderud 1px dashed #eeffee
    color #000000
  .fox
    background-color #934293
    color #ffffff
  .will
    background-color #222222
    color #ffffff
  .gm,.gmreply
    background-color #ffd1d1
    borderud 1px dashed #ffa8a8
    color #000000
  .gmheaven,.gmaudience,.gmmonologue
    background-color #ffe5c9
    borderud 1px dashed #ffc68a
    color #000000
  .helperwhisper
    background-color #fff799
    borderud 1px dashed #e8e000
    color #000000
  .inlog
    background-color #a6daff
    borderud 1px dashed #00dce8
    color #000000
    font-weight bold
  .userinfo
    background-color #0000cc
    borderud 1px dashed #000070
    color #ffffff
    font-weight bold
  .voteresult
    display table-row
    div.name
      display table-cell
    table
      display inline-table
//jobs
dl.jobs
  dt
    font-weight bold
  dt,dd
    display inline-block
  dt
    margin-right 0.3em
  dd
    margin-right 0.7em
  dd input
    width 2.8em
    
//prizeedit
.profile
  li
    vertical-align bottom
  li.prizetip
    border 2px solid black
    background-color #ffffff
    padding 1px
    display inline-block
    margin 3px
    font-size 1.2em
    font-weight bold
  li.conjtip
    border 2px solid black
    background-color #ddffff
    padding 1px
    display inline-block
    margin 3px
    font-size 1.2em
    font-weight bold
  li.deleter
    border 2px solid black
    background-color #ffdddd
    padding 1px
    display inline-block
    margin 3px
    font-size 1.2em
    font-weight bold
  #prizeedit
    border 3px solid black
    padding 5px
    margin 5px
  li:empty
    min-width 1em
    min-height 1.2em
    
b
  font-weight bold
dt
  font-weight bold
  
table
  border-collapse collapse
  td,th
    border 1px solid currentColor
    padding 2px
  th
    font-weight bold
.casting table
  tr:nth-child(4n+1),tr:nth-child(4n+3)
    background-color #ffffff
  tr:nth-child(4n+2)
    background-color #eeeeee
  tr:nth-child(4n)
    background-color #dddddd
p
  line-height 110%

// color profile
.colorprofilebox
  display inline-block
  position relative
  top 0
  left 0
  width 50px
  height 50px
  margin 5px 15px
  .backbox
    cursor pointer
    box-sizing border-box
    position absolute
    top 0
    left 0
    width 36px
    height 36px
    border 1px solid black
  .colorbox
    cursor pointer
    box-sizing border-box
    position absolute
    top 14px
    left 14px
    width 36px
    height 36px
    border 1px solid black
.presetbox
  border-top 1px dashed #a0a0a0
  margin-top 6px



//manual
section.manual
  dl
    margin:0.8em 0
    dd
      margin-left 2.5em
    dt
      margin 2px
  p
    line-height 1.2em
    margin 0.8em 0
  ul
    line-height 1.2em
    li
      list-style disc inside
  h1,h2
    margin-top 1.4em
  h3
    margin-top 1em
section.manual.long
  section
    margin-left 2em
    h1,h2
      // 2/1.6=1.25
      margin-left -1.25em
      font-size 1.6em
    h3,h4
      font-size 1.4em
      margin-left -1.43em
  details summary
    border 3px dashed #aaaaaa
    width 50%
    padding 0.4em
    margin 0.4em 0
section.jobmanual
  margin-left 2em
  h1
    margin-left -1.25em
    font-size 1.6em
section.castlist
  dd
    margin-left 2em
//quantum werewolf
tr.deadoff-line
  background-color rgba(0,0,0,.3)
