// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  //vertical-gradient #eee, #fff
  margin-left 20px

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
//  font-weight normal
//  color #0057c5
//  text-shadow 1px 1px 2px white

#content
  padding 0
  clear both
//header
body header
  padding 0
  border-bottom 1px solid #0057c5
  h1
    float left
  nav ul li
    display inline-block
    margin-right 1em

.error
  color #dd0000
// window
.window
  round 5px
  border 1px solid #666666
  box-shadow 2px 2px 3px #000000
  margin 0
  padding 0 0.6em
  position absolute
  background-color rgba(240,240,240,0.7)
  
.window.login
  width 20em
  
.window h1
  margin 0
  font-size 1.2em
  padding-left 1em
  color #000000
  text-shadow #ffffff
  vertical-gradient rgba(255,255,255,0.4), rgba(255,255,255,0.6)
  
.window form p
  text-align center
.window .closer
  float right
  
//user-profile
section.profile
  p.edit
    background-color #bbbbbb
  p.edit:empty
    height 1em
  form input[type="text"]
    width 100%
    
//game
body.night
  background-color #000044
  color #ffffff
  a
    color #ffffff
  
body.day
  background-color rgb(255,217,83)
  
body,body.heaven
  background-color rgb(255,255,240)
  color #000000
  a
    color #000a68
    
.game
  .players
    h1
      font-size 1.2em
//players
#players li
  display inline-block
  margin-left 1em
.infobox
    border 2px dashed currentColor
    padding 8px
    margin 5px
#players li.dead
  text-decoration line-through
#form_players li
  display inline-block
  margin-left 0.8em
#speakform
  border-top 1px solid currentColor
  padding-top 5px

//logs
#logs
  p
    margin 0
    padding 1px
  .day
    background-color rgb(255,217,83)
    borderud 1px dashed rgb(255,234,90)
    color #000000
  .system
    background-color #cccccc
    borderud 1px dashed #aaaaaa
    font-weight bold
    color #000000
  .werewolf,.monologue
    background-color #000044
    borderud 1px dashed #000066
    color #ffffff
  .heaven,.prepare
    background-color rgb(255,255,240)
    borderud 1px dashedd #fffff8
    color #000000
  .skill
    background-color #cc0000
    borderud 2px dashed #700000
    color #ffffff
    font-weight bold
  .nextturn
    background-color #eeeeee
    borderud 1px dashed #aaaaaa
    font-weight bold
    color #000000
  .audience
    background-color #ddffdd
    borderud 1px dashed #eeffee
    color #000000
  .couple
    background-color #ddddff
    borderud 1px dashed #eeffee
    color #000000
  .fox
    background-color #934293
    color #ffffff
  table.voteresult
    border-collapse collapse
    td
      border 1px solid currentColor
      padding 2px
//jobs
dl.jobs
  dt
    font-weight bold
  dt,dd
    display inline-block
    margin-right 1em

