section.window
  h1
    = title
    input.closer(type="button",value="×",name="no")
  form(name="askform",action="/")
    p= message
    p
      input(type="submit",name="yes",value="是")
      input(type="submit",name="no",value="否")



