section.window
  h1
    = typeof title!=="undefined" ? title : ""
    input.closer(type="button",value="×",name="ok")
  form(name="okform",action="/")
    p
      input(type="submit",name="ok",value="OK")


