section.window
  h1
    = title
    input.closer(type="button",value="×",name="cancel")
  form#nameform(action="/")
    p= message
    p
      input.prompt.getfocus(name="name",size="30",required)
    figure(style="float:left")
      img#icondisp(width="48",height="48",alt="头像")
    p
      input(type="button",name="iconselectbutton",value="头像选择")
    p
      input(type="submit",name="ok",value="OK")
      input(type="button",name="cancel",value="取消")



