extends winskeleton
block icon
  i.fa.fa-user
block title
  | ログイン
block closebutton
  button.closer(type="button",name="cancel")
    i.fa.fa-times
block wincontent
  form(aciton="/")#loginform
    p
      label
        | ユーザーID
        input(type="text",size="30",name="userid",pattern="\\\\w+",title="ユーザーIDは半角英数字のみ可能です",required)
    p
      label
        | パスワード
        input(type="password",size="30",name="password",pattern="[\\\\x20-\\\\x7e]+",required,autocomplete="current-password")
    p
      input(type="submit",value="ログイン")
      label
        | ログイン状態を記憶
        input(type="checkbox",name="remember_me",checked)
    p#loginerror.error
  h2 新規登録
  form(aciton="/")#newentryform
    p
      label
        | ユーザーID
        input(type="text",size="30",name="userid",required)
    p
      label
        | パスワード
        input(type="password",size="30",name="password",required,autocomplete="new-password")
    p
      input(type="submit",value="登録")
    p#newentryerror.error
    p: a(href="/manual/login",target="_blank") ヘルプ



