extends winskeleton
block closebutton
  button.closer(type="button",name="cancel")
    i.fa.fa-times
block wincontent
  form(name="askform",action="/")
    div.window-content
      p= message
      p
        input.prompt.getfocus(size="30",required)
    p
      input(type="submit",name="ok",value="OK")
      input(type="button",name="cancel",value="キャンセル")



