extends winskeleton
block closebutton
  button.closer(type="button",name="cancel")
    i.fa.fa-times
block wincontent
  form(name="askform",action="/")
    div.window-content
      block formcontent
        p= message
        p
          select.prompt.getfocus
    p
      input(type="submit",name="ok",value="OK")
      input(type="button",name="cancel",value="キャンセル")
    block footercontent



