section.window
  h1
    = title
    input.closer(type="button",value="×",name="cancel")
  form(name="askform",action="/")
    p= message
    p
      select.prompt.getfocus
    p
      input(type="submit",name="ok",value="OK")
      input(type="button",name="cancel",value="取消")



