section.window
  h1
    = title
    button.closer(type="button",name="cancel")
      i.fa.fa-times
  form(name="askform",action="/")
    div.window-content
      p= message
      p
        select.prompt.getfocus
    p
      input(type="submit",name="ok",value="OK")
      input(type="button",name="cancel",value="キャンセル")



