section.window
  h1
    = title
    button.closer(type="button",name="ok")
      i.fa.fa-times
  form(name="messageform",action="/")
    div.window-content
      p= message
    p
      input(type="submit",name="ok",value="OK")



