section.admin#admin
  h1 メニュー
  p 下のメニューから操作項目を選択してください:
  ul
    li(data-opener="blacklist") アク禁管理
    li(data-opener="grandalert") 全体告知
    li(data-opener="dataexport") データエクスポート
    li(data-opener="update") 更新
    li(data-opener="news") お知らせ管理
  section#blacklist(hidden)
    h1 アク禁管理
    table
      thead
        tr
          th ユーザーID
          th IPアドレス
          th 期限
          th 禁止項目
          th 理由
          th 解除
      tbody#blacklisttable
    form#blistpager
      p
        input(type="button",name="prev",value="前のページ")
        span#page
        /
        span#total
        input(type="button",name="next",value="次のページ")
    h2 新規アク禁
    form#newbanform
      fieldset
        dl
          dt ユーザーID
          dd
            input(name="userid",size="20",required)
          dt 期間
          dd
            label
              input(type="radio",name="expire",value="forever",checked)
              無期限
            | |
            input(type="radio",name="expire",value="some")
            input(name="month",type="number",step="1",value="0",min="0")
            | ヶ月
            input(name="day",type="number",step="1",value="0",min="0")
            | 日
          dt 禁止項目
          dd
            ul
              li
                label
                  input(type="checkbox",name="create_account",value="on",checked)
                  | アカウント作成
              li
                label
                  input(type="checkbox",name="lobby_say",value="on",checked)
                  | ロビー発言
              li
                label
                  input(type="checkbox",name="watch_say",value="on",checked)
                  | 観戦発言
              li
                label
                  input(type="checkbox",name="play",value="on",checked)
                  | 参加
          dt 理由
          dd
            input(name="reason",type="text")
        p
          input(type="submit",value="OK")
  section#grandalert(hidden)
    h1 全体告知
    form#alertform
      p
        | タイトル:
        input(name="title",size="20",value="お知らせ")
      p
        | 内容:
        input(name="message",size="50",placeholder="メッセージ",required)
      p
        label
          input(type="checkbox",name="system",value="on",checked)
          | 月下人狼内へ
        label
          input(type="checkbox",name="twitter",value="on")
          | twitterへ
        
      p: input(type="submit",value="送信")
  section#dataexport(hidden)
    h1 データエクスポート
    form#dataexportform
      p
        | パスワード
        input(name="pass",size="30",required)
      p
        | コマンド?
        input(name="command",size="100")
      p: input(type="submit",value="取得")
  section#update(hidden)
    h1 更新
    form#pullform
      p: input(type="submit",value="更新する")
    pre
      samp#pullresult
  section#news(hidden)
    h1 お知らせ管理
    table
      thead
        tr
          th _id
          th 時間
          th 内容
      tbody#newstable
    h2 新規お知らせ
    form#newnewsform
      p
        | 内容
        input(name="message",size="100",required)
      p
        input(type="submit",value="OK")
