section.lobby
  h1 ロビー
  ul#users
  form#lobbyform
    p
      input(type="text",size="40",name="comment",required)
      input(type="submit",value="発言")
  #logs.whole-page
  div
    image(style="max-width: 100%",src="/images/campaign-202005.png",width="500",alt="人狼だって、家でがまんしています。")
