section.lobby
  h1 历史检索
  form#logsform
    fieldset
      legend 条件
      fieldset
        legend 人数
        p
          input(name="min_number_on",type="checkbox")
          input(name="min_number",type="number",value="3",disabled)
          | 人以上
        p
          input(name="max_number_on",type="checkbox")
          input(name="max_number",type="number",value="17",disabled)
          | 人以下
      p
        input(name="result_team_on",type="checkbox")
        | 胜利阵营
        select(name="result_team",disabled)
          option(value="Human") 村人
          option(value="Werewolf") 人狼
          option(value="Fox") 妖狐
          option(value="Devil") 恶魔
          option(value="Friend") 恋人
          option(value="Cult") 邪教主
          option(value="Vampire") 吸血鬼
          option(value="LoneWolf") 一匹狼
          option(value="Draw") 平局
      fieldset
        legend 结束前的天数
        p
          input(name="min_day_on",type="checkbox")
          input(name="min_day",type="number",value="1",disabled)
          | 天以上
        p
          input(name="max_day_on",type="checkbox")
          input(name="max_day",type="number",value="10",disabled)
          | 天以下
      fieldset
        legend 规则
        p
          input(name="rule_on",type="checkbox")
          select(name="rule",disabled)#rulebox
       
    p: input(type="submit",value="检索",disabled)
    p 非常抱歉，历史检索对服务器压力过大，暂时无法使用。
      
  form#pager
    p
      input(type="button",name="prev",value="上一页",disabled)
      input(type="button",name="next",value="下一页",disabled)
  table.roomstable
    thead
      tr
        th 房间名
        th 状態
        th 房主
        th 最大人数
        th 日時
        th 简介
    tbody#roomlist

