section
  p: a(href="/manual") 戻る
  h1 この人狼の特徴
  
  h2 リアルタイム性
  p この人狼はブラウザ上でプレイできるにも関わらず、<strong>完全リアルタイム</strong>という特徴を持っています。
  p リアルタイムというのはゲーム中の昼夜が現実の昼夜に対応する長期人狼ということではなく、<strong>更新などをしなくても誰かの発言がその瞬間に全員に届く</strong>ということです。これによりスムーズに人狼を楽しむことができます。
  p これは、従来のCGIなどとは全く異なる新技術(SocketStream)を用いることで実現しています。
  
  h2 豊富な役職
  p
    | 現在
    b#number_of_jobs ???
    | 種類の役職が利用可能です。
  p 標準的な役職の他にも、さまざまな種類の人狼から特殊な役職が搭載されています。
  p: a(href="/manual/joblist") 役職一覧
  
  h2 自由度の高さ
  p この人狼では、標準的な配役の他にも<strong>自由配役</strong>が利用可能であり、多彩な役職を組み合わせて思い通りの村を作ることができます。
  p また、<strong>闇鍋</strong>があります。
  p 他にも、<strong>詳細なルール設定</strong>が可能です。
