
section
  p: a(href="/manual") 戻る
  h1 禁止事項
  p 以下の禁止事項を行ったユーザーはアクセス禁止等の措置をとる場合がございます。
  ul(style='list-style-type: disc;')
    li 故意の突然死
    li ゲームを途中で投げ出す行為
    li 人狼ゲーム内のチャット以外でゲーム内容を話すこと
    li シスコピ(自分の役職を示す文などシステムの出力をコピー&ペーストすること)
    li 村人サイドに無益なリア狂(村人が能力者を騙ること)
    li 不正に勝敗数などを操作する行為
    li 暴言を吐く行為
    li 一人で複数のアカウントを使用して同時にプレイする行為
    li 鍵村以外で内輪以外のユーザーを追い出すまたは鍵村以外で内輪村と明記した村を作成する行為
    li ゲームマスターが、正当な理由なくプレイヤーを突然死させる行為
    li 同時に複数の村に参加する行為
    li 故意にサーバーに多大な負荷をかけることや、システムバグを利用する行為
    li 他の利用者に迷惑となる行為
    li 他の利用者を不快にさせる行為
    li 作成した部屋を、プレイしないのに廃村にせずに放置する行為
    li プレイする意思がないにもかかわらず部屋を作成する行為
    li その他、運営が不適切と判断した行為
