section.manual
  p: a(href="/manual") 戻る
  h1 ログインについて
  p この月下人狼で人狼をプレイするには<b>ユーザー登録</b>が必要です。
  p ユーザー登録制によって安全性の向上、<strong>称号</strong>の管理などを実現しています。
  p ユーザー登録に必要な情報は<b>ユーザーID</b>と<b>パスワード</b>のみです。
  
  h2 既にユーザー登録してある場合
  p 「ログイン」フォームにユーザーIDとパスワードを入力してログインし、部屋に参加しましょう。
  
  h2 まだユーザー登録していない場合
  p 登録は即座に終了し、すぐに人狼を楽しむことができます。
  p 「新規登録」フォームに、自分でユーザーIDとパスワードを決めて入力し、新規登録しましょう。ユーザーIDは半角英数字のみで、後から変更できないので注意しましょう。
  p 新規登録後は「<a href="/my">マイページ</a>」に移動し、そこで<b>表示名</b>を決めましょう。ゲーム中に使用される名前はこの名前です。
  p ただし、<strong>覆面</strong>モードの部屋の場合にはこのユーザーIDと表示名は隠され、入室時に名前を決めて入室します。
  p その後は<a href="/rooms">ルーム一覧</a>から目的の部屋を探し、参加しましょう。
