section
  p: a(href="/manual") 戻る
  h1 遊び方
  p このページでは、月下人狼においての人狼の遊び方について解説します。
  p 人狼そのもののルールについては、<a href="/manual/rule">ルール</a>を参照して下さい。
  
  h2 登録
  p このサーバーでは、まず<b>ユーザー登録</b>をしないとゲームに参加できません。まず<a href="/">トップページ</a>から新規登録して下さい。
  p 登録に必要なのは、ユーザーIDとパスワードだけです。
  p その後は、<a href="/my">マイページ</a>から表示上の<b>名前</b>を変更できます。
  p この名前は人狼に参加するときにも使われてIDも公開されますが、<b>覆面</b>の部屋の場合は、その場で名前を決めて入室してIDは明かされません。
 
  
  h2 部屋を作る
  p 新しい村を作るには、<a href="/rooms">ルーム一覧</a>から<a href="/newroom">新しいルーム</a>のページからルームを作成してください。
  p 部屋を作成した人はその部屋の<b>オーナー</b>になりますが、これはいわゆる<strong>GMではありません</strong>。オーナーも通常どおりにゲームに参加することができます。オーナーの役割は、ルールを設定して村を開始させることです。
  p 部屋を作成するときに設定できる項目は以下の通りです。
  dl
    dt 名前
    dd 部屋の名前です。
    dt コメント
    dd コメントです。部屋の傾向などを表明できます。
    dt パスワード
    dd これを設定した場合、パスワードがないと閲覧できない部屋になります。
    dt 最大人数
    dd 部屋に参加できる最大の人数を設定します。部屋を閲覧するだけなら数に制限はありません。また、これ未満の人しか参加していなくてもゲームは開始できます。
    dt 覆面
    dd 覆面に設定した場合、参加者の正体が分からなくなります。名前は入室時に決めます。
  p 他の詳細なルールなどは、参加者が集まってからゲーム開始時に<b>オーナー</b>が決定して開始します。
  
  h2 ゲームに参加する
  p <a href="/rooms">ルーム一覧</a>から部屋を選んで参加することができます。リンクをクリックして部屋に入っただけではまだ参加扱いにならないので、気軽に入りましょう。
  p 部屋に入ったあと、「ゲームに参加する」ボタンがあるので、それをクリックするとその村に参加できます。参加後は、ゲーム開始前なら脱退することができます。
  p 部屋で話し合ってルールが決まったら、「準備完了/準備中」ボタンを押して準備完了を表明しましょう。全員が準備完了すると、<b>オーナー</b>がゲームを開始できます。
  p 準備完了の人はいつゲームが始まってもOKということなので、一時的に席を外したりする場合は準備中にしましょう。<b>オーナー</b>は、いつまでたっても準備完了しない人がいる場合は追い出すことができます。
  h3 ゲームの開始について
  p <b>オーナー</b>はルール設定を担当しますが、「ゲームを開始」ボタンを押すとルール設定が表示されます。
  p さまざまなルールを設定できますが、特に<b>配役</b>は、あらかじめ用意された一般的な配役数種類と、<b>自由配役</b>・<b>闇鍋</b>が選択可能です。
  p 自由配役は、全ての役職を自由に組み合わせて自由に配役を作ることができます。「自由配役」を選択すると役職数変更フォームが出現します。「村人」の数が変更できないようになっていますが、これは残りの役職の数に合わせて残りが村人になるように変動します。
  p 闇鍋は、ランダムに配役が決定されるモードです。
  
  h2 ゲーム中の操作
  p 月下人狼では、ゲーム中には基本的には<strong>手動の更新は不要</strong>です。他の人の発言などはリアルタイムで表示され、昼や夜の切り替わりも全員同時です。
  p ただし、タイミングの関係で他の人の発言が全く聞こえなかったり、自分だけ画面が進まなくなることがありますが、その場合は手動で更新（F5キーを押すなど）すると改善されます。
  hr
  p 部屋には一つの発言フォームがあります。ここに文字列を入力して発言すると、場合に応じて適切に処理されます。
  p 例えばゲーム開始前や昼なら全体チャットになるし、夜なら普通の人は独り言、人狼や共有者などは夜の会話になります。また、死んだ後は、死んだ人にしか見えない発言になります。
  p 発言フォームの横にある「遺言」ボタンは、遺言ルール（死んだときに遺言を発表できる）がある際に遺言を設定できます。押すと、遺言設定フォームが表示されるのでそこで遺言を編集して下さい。
  p その横の「ルール」ボタンは、現在のルール（配役など）を確認できます。
  hr
  p 昼の場合は発言フォームの上に投票フォームが出現します。投票すると消えます。一度投票すると<strong>投票先は変更できない</strong>ので注意して下さい。
  p 夜の場合、占い師などのように能力がある人は発言フォームの上に対象選択フォームが出現します。これも対象を選択すると消えます。
  
  h2 注意
  p 他の人狼サーバーのローカルルールは通用しない可能性があります。注意しましょう。
  p ただし、突然死は避けるなどの基本的なマナーは守りましょう。
  
