section.manual
  p: a(href="/manual") 戻る
  h1 この人狼の仕様
  p このページでは、ゲーム進行に関わる仕様を説明します。
 
  h2 普通人狼に関係する事項

  h3 死体の表示順
  p 人狼の噛みと呪殺などにより死体が2つ以上発生した場合は、その表示順は<strong>ランダム</strong>です。
  
  h3 能力者が噛まれた場合
  p 夜に能力を発動する役職が能力を発動した夜に噛まれた場合でも、能力は発動します。
  p （例：占い師が妖狐を占った夜に噛まれた場合でも呪殺は発生する）

  h3 狩人が護衛成功した場合に把握できるか
  p 狩人が護衛成功した場合、狩人に対して護衛成功メッセージが表示されるかどうかは、<strong>設定可能</strong>です（デフォルトでは表示されません）。

  h3 占い・霊能結果が表示されるタイミング
  p 占い結果や霊能結果の表示されるタイミングは「翌朝」と「即時」で<strong>設定可能</strong>です（デフォルトは翌朝）。

  h3 人狼の遠吠え・共有者の小声が他の参加者に聞こえるかどうか
  p 人狼の遠吠え・共有者の小声が他の参加者に聞こえるかどうかは、それぞれ<strong>設定可能</strong>です。デフォルトは、遠吠えは「聞こえる」・共有者は「聞こえない」です。

  h3 妖狐の念話が他の参加者に聞こえるかどうか
  p 妖狐どうしは夜に会話可能です。これは他の参加者には聞こえません。

  h3 再投票について
  p 処刑投票で1位が複数人になった場合は再投票になります。4回の再投票で決着がつかない場合は<strong>引き分け</strong>になります。

  h3 突然死について
  p 夜に対象を選択する<b>人狼</b>・<b>占い師</b>・<b>狩人</b>（普通人狼に登場しない役職も同様）は、夜の間に対象を選択しなかった場合<strong>突然死</strong>します。人狼が対象選択を行わなかった場合、<strong>全員突然死</strong>します。

  h3 夜の能力発動について
  p デフォルトの設定では、夜に全員が能力を発動しても、<strong>一定時間経過するまで夜が明けません</strong>。ただし、全員が能力を発動し終えると即座に昼に移行する設定も可能です。

  h3 初日犠牲者について
  p 初日犠牲者の名前は<strong>身代わりくん</strong>です。
  p 初日犠牲者が役職を持つことがあります。また、占い師の場合はランダムに誰かを占うので、初日犠牲者による呪殺も起こることがあります。
  p 通常の人狼では起こりませんが、初日犠牲者が生き残った場合にはランダムに投票します。

  h2 その他

  h3 埋毒者・猫又について
  p 埋毒者・猫又は両方存在します。埋毒者は蘇生能力無し、猫又は蘇生能力ありの役職として区別されます。
  p これらは狼に噛まれた場合は人狼からランダムに一人、その他の場合は参加者全員から一人道連れにします。

  h3 キューピッドの自分刺しについて
  p 少人数であっても、キューピッドは自分刺しをする必要はありません。

  h3 恋人について
  p 恋人は、互いの役職を把握できませんし、夜の会話もできません。
  p 恋人の勝利条件は、「終了時に生存」と「終了時に恋人のみ生存」から選択可能です。
 
