.game
  h1#roomname
  section.players
    h1 参加者一覧
    ul#players
    #playersinfo
  section#gamestartsec(hidden)
    h1 ゲーム開始
    form#gamestart
      p
        | 現在の人数 : 
        output(name="number")
        | 人
      fieldset
        legend 役職
        dl.jobs
          dt 村人
          dd: output(name="Human")
          dt 占い師
          dd: input(name="Diviner",min="0",step="1",type="number")
          dt 人狼
          dd: input(name="Werewolf",min="1",step="1",type="number")
      p: input(type="submit",value="開始")
        
  
