.game
  h1#roomname
  section.players
    h1 参加者一覧
    ul#players
    #playersinfo
  section#gamestartsec(hidden)
    h1 ゲーム開始
    form#gamestart
      p
        | 現在の人数 : 
        output(name="number")
        | 人
      fieldset
        legend 役職
        dl.jobs
          dt 村人
          dd: output(name="Human")
          dt 占い師
          dd: input(name="Diviner",min="0",step="1",type="number",size="5")
          dt 霊能者
          dd: input(name="Psychic",min="0",step="1",type="number",size="5")
          dt 狂人
          dd: input(name="Madman",min="0",step="1",type="number",size="5")
          dt 狩人
          dd: input(name="Guard",min="0",step="1",type="number",size="5")
          dt 共有者
          dd: input(name="Couple",min="0",step="1",type="number",size="5")
          dt 埋毒者
          dd: input(name="Poisoner",min="0",step="1",type="number",size="5")
          dt 人狼
          dd: input(name="Werewolf",min="0",step="1",type="number",size="5")
          dt 妖狐
          dd: input(name="Fox",min="0",step="1",type="number",size="5")
          dt 大狼
          dd: input(name="BigWolf",min="0",step="1",type="number",size="5")
          dt 子狐
          dd: input(name="TinyFox",min="0",step="1",type="number",size="5")
        fieldset
          legend 桃栗特殊役職
          dl.jobs
            dt こうもり
            dd: input(name="Bat",min="0",step="1",type="number",size="5")
            dt 貴族
            dd: input(name="Noble",min="0",step="1",type="number",size="5")
            dt 奴隷
            dd: input(name="Slave",min="0",step="1",type="number",size="5")
            dt 魔術師
            dd: input(name="Magician",min="0",step="1",type="number",size="5")
            dt スパイ
            dd: input(name="Spy",min="0",step="1",type="number",size="5")
            dt 人狼占い
            dd: input(name="WolfDiviner",min="0",step="1",type="number",size="5")
            dt 逃亡者
            dd: input(name="Fugitive",min="0",step="1",type="number",size="5")
            dt 商人
            dd: input(name="Merchant",min="0",step="1",type="number",size="5")
            dt 女王観戦者
            dd: input(name="QueenSpectator",min="0",step="1",type="number",size="5")
            dt 狂人狼
            dd: input(name="MadWolf",min="0",step="1",type="number",size="5")
            dt 嘘つき
            dd: input(name="Liar",min="0",step="1",type="number",size="5")
            dt スパイⅡ
            dd: input(name="Spy2",min="0",step="1",type="number",size="5")
            dt コピー
            dd: input(name="Copier",min="0",step="1",type="number",size="5")
        p
          label
            | 決定者
            input(name="decider",value="1",type="checkbox")
          label
            | 権力者
            input(name="authority",value="1",type="checkbox")
          label
            | 死神の手帳
            input(name="deathnote",value="1",type="checkbox")
          label
            | 闇鍋
            select(name="yaminabe")
              option(value="",selected) なし
              option(value="on") あり(役職一覧は公開)
              option(value="hide") あり(役職一覧も非公開)
      fieldset
        legend ルール
        p
          | 一日目夜
          select(name="scapegoat")
            option(value="on") 身代わり君が死ぬ
            option(value="off") 参加者が死ぬ
            option(value="no") 誰も死なない
        p
          | 昼
          input(name="day_minute",min="0",step="1",type="number",size="5",value="5")
          | 分
          input(name="day_second",min="0",max="59",step="1",type="number",size="5",value="30")
          | 秒 夜
          input(name="night_minute",min="0",step="1",type="number",size="5",value="3")
          | 分
          input(name="night_second",min="0",max="59",step="1",type="number",size="5",value="0")
          | 秒 猶予
          input(name="remain_minute",min="0",step="1",type="number",size="5",value="2")
          | 分
          input(name="remain_second",min="0",max="59",step="1",type="number",size="5",value="0")
          | 秒 （全て、0なら制限無し）
        p
          label(title="遺言が有効な場合各参加者は遺言を設定することができ、死んだ際に公開されます。")
            | 遺言
            input(name="will",type="checkbox",value="die")
          label(title="有効な場合、人狼の遠吠えが参加者全員に聞こえます。人狼以外は内容は分かりません。")
            | 人狼の遠吠え
            input(name="wolfsound",type="checkbox",value="aloud")
          label(title="有効な場合、共有者の声が参加者全員に聞こえます。共有者以外は内容は分かりません。")
            | 共有者の声
            input(name="couplesound",type="checkbox",value="aloud")
          label(title="有効な場合、霊界で役職一覧が見られ、夜の発言や能力も全て把握できます。")
            | 死んだ後は役職一覧が見られる
            input(name="heavenview",type="checkbox",value="view")
          label(title="有効な場合、人狼の襲撃先として人狼を選択できます。その場合でも人狼が死ぬことはありません。")
            | 人狼は人狼を殺しに行ける
            input(name="wolfattack",type="checkbox",value="ok")
          label(title="有効な場合、狩人は自分を護衛することができます。")
            | 狩人は自分を守れる
            input(name="guardmyself",type="checkbox",value="ok")
          label(title="有効な場合、昼の投票で自分に投票することができます。")
            | 昼は自分に投票できる
            input(name="votemyself",type="checkbox",value="ok")
          label(title="有効な場合、妖狐が呪殺されたときのログが狼と異なるようになります。")
            | 呪殺は狼と区別が付く
            input(name="deadfox",type="checkbox",value="obvious")
          label(title="夜に行った占いの結果が表示されるタイミングを調節できます。")
            | 占い結果
            select(name="divineresult")
              option(value="immediate") すぐに分かる
              option(value="sunrise",selected) 翌朝分かる
          label(title="霊能結果が表示されるタイミングを調節できます。")
            | 霊能結果
            select(name="psychicresult")
              option(value="sunset") 夜に分かる
              option(value="sunrise",selected) 翌朝分かる
          label(title="有効な場合、夜は全員が能力を行使しても時間切れまでは進みません。")
            | 夜は時間切れまで待つ
            input(name="waitingnight",type="checkbox",value="wait",checked)
          
      p: input(type="submit",value="開始")
  .infobox
    div
    #jobinfo
  form#jobform(hidden)
    input(type="hidden",name="commandname")
    input(type="hidden",name="jobtype")
    ul#form_players
    #form_day(hidden).jobformarea
      p
        | 処刑する人に投票して下さい：
        input(type="submit",value="投票する")
    #form_Werewolf(hidden).jobformarea
      p
        | 殺す人を一人選んで下さい（先着順）：
        input(type="submit",value="殺す",data-job="Werewolf")
    #form_BigWolf(hidden).jobformarea
      p
        | 殺す人を一人選んで下さい（先着順）：
        input(type="submit",value="殺す",data-job="BigWolf")
    #form_WolfDiviner(hidden).jobformarea
      p
        | 殺す/占う人を一人選んで下さい（占いは必須ではありません）：
        input(type="submit",value="占う",name="divine",data-job="WolfDiviner")
        input(type="submit",value="殺す",name="wolf",data-job="WolfDiviner")
    #form_Diviner(hidden).jobformarea
      p
        | 占う人を一人選んで下さい：
        input(type="submit",value="占う",data-job="Diviner")
    #form_TinyFox(hidden).jobformarea
      p
        | 占う人を一人選んで下さい：
        input(type="submit",value="占う",data-job="TinyFox")
    #form_Guard(hidden).jobformarea
      p
        | 護衛する人を一人選んで下さい:
        input(type="submit",value="護衛する",data-job="Guard")
    #form_Magician(hidden).jobformarea
      p
        | 蘇生する人を一人選んで下さい:
        input(type="submit",value="蘇生する",data-job="Magician")
    #form_Spy(hidden).jobformarea
      p
        | （対象選択は無視されます）
        input(type="submit",value="任務完了",data-job="Spy")
    #form_Fugitive(hidden).jobformarea
      p
        | 逃亡先を一人選んで下さい:
        input(type="submit",value="逃亡する",data-job="Fugitive")
    #form_Merchant(hidden).jobformarea
      p
        | 商品と発送先を選択して下さい:
        select(name="Merchant_kit")
          option(value="Diviner") 占いセット
          option(value="Psychic") 霊能セット
          option(value="Guard") 狩人セット
        input(type="submit",value="発送する",data-job="Merchant")
    #form_Liar(hidden).jobformarea
      p
        | 占う人を一人選んで下さい：
        input(type="submit",value="占う",data-job="Liar")
    #form_Copier(hidden).jobformarea
      p
        | コピー対象を選択して下さい（必須ではありません）：
        input(type="submit",value="コピー",data-job="Copier")
    #form_Light(hidden).jobformarea
      p
        | あなたは死神の手帳を持っています（必須ではありません）：
        input(type="submit",value="手帳に書く",data-job="Light")
  form#speakform
    p
      input(size="50",name="comment",required)
      input(type="submit",value="発言")
      span#time
      input(type="button",value="遺言",name="willbutton")
      input(type="button",value="ルール",name="rulebutton",disabled)
  form#willform(hidden)
    p
      textarea(name="will",cols="50",rows="3",maxlength="1000")
      input(type="submit",value="決定")
  #logs
  
