.game
  h1#roomname
  section.players
    h1 参加者一覧
    ul#players
    #playersinfo
  section#gamestartsec(hidden)
    h1 ゲーム開始
    form#gamestart
      p
        | 現在の人数 : 
        output(name="number")
        | 人
      fieldset
        legend 役職
        dl.jobs
          dt 村人
          dd: output(name="Human")
          dt 占い師
          dd: input(name="Diviner",min="0",step="1",type="number",size="5")
          dt 霊能者
          dd: input(name="Psychic",min="0",step="1",type="number",size="5")
          dt 狂人
          dd: input(name="Madman",min="0",step="1",type="number",size="5")
          dt 狩人
          dd: input(name="Guard",min="0",step="1",type="number",size="5")
          dt 共有者
          dd: input(name="Couple",min="0",step="1",type="number",size="5")
          dt 埋毒者
          dd: input(name="Poisoner",min="0",step="1",type="number",size="5")
          dt 人狼
          dd: input(name="Werewolf",min="0",step="1",type="number",size="5")
          dt 妖狐
          dd: input(name="Fox",min="0",step="1",type="number",size="5")
          dt 大狼
          dd: input(name="BigWolf",min="0",step="1",type="number",size="5")
        fieldset
          legend 桃栗特殊役職
          dl.jobs
            dt こうもり
            dd: input(name="Bat",min="0",step="1",type="number",size="5")
            dt 貴族
            dd: input(name="Noble",min="0",step="1",type="number",size="5")
            dt 奴隷
            dd: input(name="Slave",min="0",step="1",type="number",size="5")
            dt 魔術師
            dd: input(name="Magician",min="0",step="1",type="number",size="5")
            dt スパイ
            dd: input(name="Spy",min="0",step="1",type="number",size="5")
            dt 逃亡者
            dd: input(name="Fugitive",min="0",step="1",type="number",size="5")
        p
          label
            | 決定者
            input(name="decider",value="1",type="checkbox")
          label
            | 権力者
            input(name="authority",value="1",type="checkbox")
      fieldset
        legend ルール
        p
          | 一日目夜
          select(name="scapegoat")
            option(value="on") 身代わり君が死ぬ
            option(value="off") 参加者が死ぬ
            option(value="no") 誰も死なない
        p
          | 昼
          input(name="day_minute",min="0",step="1",type="number",size="5",value="5")
          | 分
          input(name="day_second",min="0",max="59",step="1",type="number",size="5",value="30")
          | 秒 夜
          input(name="night_minute",min="0",step="1",type="number",size="5",value="3")
          | 分
          input(name="night_second",min="0",max="59",step="1",type="number",size="5",value="0")
          | 秒 猶予
          input(name="remain_minute",min="0",step="1",type="number",size="5",value="2")
          | 分
          input(name="remain_second",min="0",max="59",step="1",type="number",size="5",value="0")
          | 秒 （全て、0なら制限無し）
        p
          label
            | 遺言
            input(name="will",type="checkbox",value="die")
          label
            | 人狼の声
            input(name="wolfsound",type="checkbox",value="aloud")
          label
            | 共有者の声
            input(name="couplesound",type="checkbox",value="aloud")
          label
            | 死んだ後は役職一覧が見られる
            input(name="heavenview",type="checkbox",value="view")
          label
            | 人狼は人狼を殺しに行ける(死にません)
            input(name="wolfattack",type="checkbox",value="ok")
          label
            | 狩人は自分を守れる
            input(name="guardmyself",type="checkbox",value="ok")
          label
            | 昼は自分に投票できる
            input(name="votemyself",type="checkbox",value="ok")
          label
            | 呪殺は狼と区別が付く
            input(name="deadfox",type="checkbox",value="obvious")
          
      p: input(type="submit",value="開始")
  .infobox
    div
      | あなたは
      b#myjob ???
      | です
    #jobinfo
  form#jobform(hidden)
    ul#form_players
    #form_day(hidden).jobformarea
      p
        | 処刑する人に投票して下さい：
        input(type="submit",value="投票する")
    #form_Werewolf(hidden).jobformarea
      p
        | 殺す人を一人選んで下さい（先着順）：
        input(type="submit",value="殺す")
    #form_BigWolf(hidden).jobformarea
      p
        | 殺す人を一人選んで下さい（先着順）：
        input(type="submit",value="殺す")
    #form_Diviner(hidden).jobformarea
      p
        | 占う人を一人選んで下さい：
        input(type="submit",value="占う")
    #form_Guard(hidden).jobformarea
      p
        | 護衛する人を一人選んで下さい:
        input(type="submit",value="護衛する")
    #form_Magician(hidden).jobformarea
      p
        | 蘇生する人を一人選んで下さい:
        input(type="submit",value="蘇生する")
    #form_Spy(hidden).jobformarea
      p
        | （対象選択は無視されます）
        input(type="submit",value="任務完了")
  form#speakform
    p
      input(size="50",name="comment",required)
      input(type="submit",value="発言")
      span#time
      input(type="button",value="遺言",name="willbutton")
      input(type="button",value="ルール",name="rulebutton",disabled)
  form#willform(hidden)
    p
      textarea(name="will",cols="50",rows="3",maxlength="1000")
      input(type="submit",value="決定")
  #logs
  
