section.rooms
  h1 ルーム一覧
  table
    thead
      tr
        th ルームNo.
        th 状態
        th オーナー
        th 人数
        th 日時
        th コメント
    tbody#roomlist
  p
    a(href="/newroom") 新しいルーム
    | |
    a(href="/rooms") 稼働中の部屋一覧
    | |
    a(href="/rooms/log") 終了した部屋一覧
