section.profile
  h1 プロフィール
  form#changeprofile(action="/")
    h2 ユーザーID
    p.userid {{= userid}}
    h2 名前
    p 表示される名前。
    p.edit(data-pname="name",data-type="text",data-maxlength="20",data-required="required") {{= name}}
    h2 コメント
    p.edit(data-pname="comment",data-type="text",data-maxlength="100") {{= comment}}
    
    p
      input(type="submit",value="変更")
  h1 対戦成績
  p 勝ち {{= typeof(win)!=="undefined" ? win.length : 0}}回　負け {{= typeof(lose)!=="undefined" ? lose.length : 0}}回　突然死 {{= typeof(gone)!=="undefined" ? gone.length : 0}}回
  p
    a(href="/rooms") ルーム一覧
    
