.game
  h1#roomname
  section.players
    h1 参加者一覧
    #playernumberinfo
    ul#players
    #playersinfo
  section#gamestartsec(hidden)
    h1 ゲーム開始
    form#gamestart
      p
        | 現在の人数 : 
        output(name="number")
        | 人 - 
        span#jobsmonitor
      fieldset
        legend 役職
        p: select#jobruleselect(name="jobrule")
        dl.jobs#jobsfield(hidden)
          dt 村人
          dd: output(name="Human",data-jobname="村人")
        dl.jobs#catesfield(hidden)
        //- dd(name="category_Foobar")
        fieldset#yaminabe_opt(hidden)
          legend 闇鍋オプション
          //-
            p#yaminabe_opt_nums
              label
                | 人狼の数
                input(name="yaminabe_Werewolf",value="1",type="number",min="0",step="1",size=5)
              label
                | 妖狐の数
                input(name="yaminabe_Fox",value="0",type="number",min="0",step="1",size=5)
          p
            label(title="闇鍋のときに配役にどれくらい気をつけるか指定します。")
              | 闇鍋セーフティ
              select(name="yaminabe_safety")
                option(value="high",title="出現役職どうしの兼ね合いも考慮します。") 高
                option(value="middle",title="各陣営の割合を調整します。") 中
                option(value="low",title="人狼・妖狐の数をちょうどいい数に調整します（一部闇鍋は除く）。",selected) 低
                option(value="none",title="まったく気をつけません。人狼系1が保証される以外は全てランダムです。") なし
          p
            //-
              label(title="チェックするとプレイ中は役職一覧が分かりません")
                | 役職一覧も非公開
                input(name="yaminabe_hidejobs",value="1",type="checkbox")
              label(title="配役の時点で狼陣営の数が村人陣営を上回らないようにします")
                | 初日PPを防ぐ
                input(name="yaninabe_nopp",value="1",type="checkbox",checked)
            select(name="yaminabe_hidejobs")
              //- value=""なのは歴史的経緯
              option(value="",title="配役後、出現役職の一覧は公開されます。") 役職一覧を公開
              option(value="team",title="出現役職の陣営数のみ公開されます。") 陣営ごとの数のみ公開
              option(value="1",title="出現役職の一覧は分からなくなります。") 役職一覧も非公開


        p
          label
            | 決定者
            input(name="decider",value="1",type="checkbox")
          label
            | 権力者
            input(name="authority",value="1",type="checkbox")
          label
            | 死神の手帳
            input(name="deathnote",value="1",type="checkbox")
          label
            | 狼の子分
            input(name="wolfminion",value="1",type="checkbox")
          label
            | 酔っ払い
            input(name="drunk",value="1",type="checkbox")
      fieldset
        legend ルール
        p
          | 身代わりくん
          select(name="scapegoat",data-name="身代わりくん",title="身代わりくんは1日目の夜に殺されるためのNPCです。")
            option(value="on") あり
            option(value="off") なし（参加者が死ぬ）
            option(value="no") なし（誰も死なない）
        p
          | 昼
          input(name="day_minute",min="0",step="1",type="number",size="5",value="5")
          | 分
          input(name="day_second",min="0",max="59",step="1",type="number",size="5",value="30")
          | 秒 夜
          input(name="night_minute",min="0",step="1",type="number",size="5",value="3")
          | 分
          input(name="night_second",min="0",max="59",step="1",type="number",size="5",value="0")
          | 秒 猶予
          input(name="remain_minute",min="0",step="1",type="number",size="5",value="2")
          | 分
          input(name="remain_second",min="0",max="59",step="1",type="number",size="5",value="0")
          | 秒 （全て、0なら制限無し）
        p
          label(title="遺言が有効な場合各参加者は遺言を設定することができ、死んだ際に公開されます。")
            | 遺言
            input(name="will",type="checkbox",value="die",checked)
          label(title="有効な場合、霊界で役職一覧が見られ、夜の発言や能力も全て把握できます。")
            | 死んだ後は役職一覧が見られる
            input(name="heavenview",type="checkbox",value="view",checked)
          label(title="有効な場合、昼の投票で自分に投票することができます。")
            | 昼は自分に投票できる
            input(name="votemyself",type="checkbox",value="ok")
          //-
            label(title="有効な場合、夜は全員が能力を行使しても時間切れまでは進みません。")
              | 夜は時間切れまで待つ
              input(name="waitingnight",type="checkbox",value="wait",checked)
          input(name="waitingnight",type="hidden",value="wait")
          label(title="「なし」や「なんでもあり」にすると身代わりくんが人狼になったりして危険です。")
            | 身代わりセーフティ
            select(name="safety",)
              option(value="full",selected) あり
              option(value="no") なし
              option(value="free") なんでもあり
          label(title="噛まれたときに噛まれた側に知らされます。")
            | 噛まれたら分かる
            input(name="noticebitten",type="checkbox",value="notice")
          label(title="チェックを入れると、投票結果は表示されません。")
            | 投票結果を隠す
            input(name="voteresult",type="checkbox",value="hide")
          label(title="ありにすると、処刑された人の霊能結果が全員に公開されます。")
            | GM霊能
            input(name="GMpsychic",type="checkbox",value="on")
          label(title="1以上にすると、朝になってからその時間の間は発言できません。")
            input(name="silentrule",type="number",min="0",step="1",value="0",size="4")
            | 秒ルール
          label(title="負けることを目指す人狼です。")
            | 敗北村
            input(name="losemode",type="checkbox",value="on")
          label(title="各参加者はなりたい役職を選択できます。")
            | 希望役職制
            input(name="rolerequest",type="checkbox",value="on")
          label(title="ありの場合、上位候補で再投票を行います。")
            | 決選投票
            select(name="runoff")
              option(value="no",selected) なし
              option(value="revote") 再投票時
              option(value="yes") 常に行う
        #jobprops
          .prop.Werewolf.BigWolf.WolfDiviner.MadWolf.LoneWolf.WolfCub.GreedyWolf.FascinatingWolf.SolitudeWolf.ToughWolf.ThreateningWolf
            label(title="有効な場合、人狼の遠吠えが参加者全員に聞こえます。人狼以外は内容は分かりません。")
              | 人狼の遠吠えが聞こえる
              input(name="wolfsound",type="checkbox",value="aloud",checked)
            label(title="有効な場合、人狼の襲撃先として人狼を選択できます。その場合でも人狼が死ぬことはありません。")
              | 人狼は人狼を襲撃対象に選択できる
              input(name="wolfattack",type="checkbox",value="ok")

          .prop.Diviner.TinyFox.Liar
            label(title="夜に行った占いの結果が表示されるタイミングを調節できます。")
              | 占い結果
              select(name="divineresult")
                option(value="immediate") すぐに分かる
                option(value="sunrise",selected) 翌朝分かる
          .prop.Psychic
            label(title="霊能結果が表示されるタイミングを調節できます。")
              | 霊能結果
              select(name="psychicresult")
                option(value="sunset") 夜に分かる
                option(value="sunrise",selected) 翌朝分かる

          .prop.Couple
            label(title="有効な場合、共有者の声が参加者全員に聞こえます。共有者以外は内容は分かりません。")
              | 共有者の声が聞こえる
              input(name="couplesound",type="checkbox",value="aloud")
          .prop.Guard
            label(title="有効な場合、狩人は自分を護衛することができます。")
              | 狩人は自分を守れる
              input(name="guardmyself",type="checkbox",value="ok")
            label(title="ONにすると、狩人が護衛成功したときに狩人にメッセージが表示されます。")
              input(name="gjmessage",type="checkbox",value="on")
              | 護衛成功が分かる
          .prop.Fox
            label(title="有効な場合、妖狐が呪殺されたときのログが狼と異なるようになります。")
              | 呪殺は狼と区別が付く
              input(name="deadfox",type="checkbox",value="obvious")
          .prop.Cupid.Lover
            label(title="恋人陣営の勝利条件を設定します。")
              | 恋人陣営の勝利条件
              select(name="friendsjudge")
                option(value="alive",title="妖狐と同様です。",selected) 終了時に生存
                option(value="ruin") 恋人だけ生存
        #ruleprops
          .prop.rule-quantum
            label(title="確率表にプレイヤー名を表示するかどうか指定します。")
              | 確率表
              select(name="quantumwerewolf_table")
                option(value="open",title="確率表にプレイヤー名が表示されます。",selected) プレイヤー名を表示
                option(value="anonymous",title="自分以外のプレイヤー番号はわかりません。") プレイヤー番号を表示
            label(title="確率表に死亡率を表示しないルールです。表示するのが普通です。")
              | 死亡率を表示しない
              input(name="quantumwerewolf_dead",type="checkbox",value="no")
            label(title="確率表に占い師の確率を表示します。表示しないのが普通のルールです。")
              | 占い師の確率も表示する
              input(name="quantumwerewolf_diviner",type="checkbox",value="on")



      p: input(type="submit",value="開始")
  .infobox
    div
    #jobinfo
  form#jobform(hidden)
    input(type="hidden",name="commandname")
    input(type="hidden",name="jobtype")
    ul#form_players
    #form_day(hidden).jobformarea
      p
        | 処刑する人に投票して下さい：
        input(type="submit",value="投票する",data-job="_day")
    #form_Waiting(hidden).jobformarea
      p
        | 希望する役職を選択して下さい:
        input(type="submit",value="選択",data-job="Waiting")
    #form_GameMaster(hidden).jobformarea
      p
        | 死亡させる人を選んで下さい:
        input(type="submit",value="死亡させる",data-job="GameMaster")
    #form__Werewolf(hidden).jobformarea
      p
        | 殺す人を一人選んで下さい：
        input(type="submit",value="殺す",data-job="_Werewolf")
    #form_WolfDiviner(hidden).jobformarea
      p
        | 人狼占いで占う人を一人選んで下さい（占いは必須ではありません）：
        input(type="submit",value="占う",data-job="WolfDiviner")
    #form_GreedyWolf(hidden).jobformarea
      p
        | 欲張る場合は選択して下さい（非強制）:
        input(type="submit",value="欲張る",data-job="GreedyWolf")
    #form_Diviner(hidden).jobformarea
      p
        | 占う人を一人選んで下さい：
        input(type="submit",value="占う",data-job="Diviner")
    #form_TinyFox(hidden).jobformarea
      p
        | 占う人を一人選んで下さい：
        input(type="submit",value="占う",data-job="TinyFox")
    #form_Guard(hidden).jobformarea
      p
        | 護衛する人を一人選んで下さい:
        input(type="submit",value="護衛する",data-job="Guard")
    #form_Magician(hidden).jobformarea
      p
        | 蘇生する人を一人選んで下さい:
        input(type="submit",value="蘇生する",data-job="Magician")
    #form_Spy(hidden).jobformarea
      p
        input(type="submit",value="任務完了(村を去る)",data-job="Spy")
    #form_Fugitive(hidden).jobformarea
      p
        | 逃亡先を一人選んで下さい:
        input(type="submit",value="逃亡する",data-job="Fugitive")
    #form_Merchant(hidden).jobformarea
      p
        | 商品と発送先を選択して下さい:
        select(name="Merchant_kit")
          option(value="Diviner") 占いセット
          option(value="Psychic") 霊能セット
          option(value="Guard") 狩人セット
        input(type="submit",value="発送する",data-job="Merchant")
    #form_Liar(hidden).jobformarea
      p
        | 占う人を一人選んで下さい：
        input(type="submit",value="占う",data-job="Liar")
    #form_Copier(hidden).jobformarea
      p
        | コピー対象を選択して下さい（必須ではありません）：
        input(type="submit",value="コピー",data-job="Copier")
    #form_Light(hidden).jobformarea
      p
        | あなたは死神の手帳を持っています（必須ではありません）：
        input(type="submit",value="手帳に書く",data-job="Light")
    #form_Cupid(hidden).jobformarea
      p
        | 恋人にする2人を1人ずつ選んで下さい:
        input(type="submit",value="恋の矢を放つ",data-job="Cupid")
    #form_Lover(hidden).jobformarea
      p
        | 恋人にする人を選んで下さい:
        input(type="submit",value="恋人にする",data-job="Lover")
    #form_Stalker(hidden).jobformarea
      p
        | ストーキングする人を一人選んで下さい:
        input(type="submit",value="ストーキングする",data-job="Stalker")
    #form_Spellcaster(hidden).jobformarea
      p
        | 呪いをかける人を一人選んで下さい（非強制）:
        input(type="submit",value="呪いをかける",data-job="Spellcaster")
    #form_Priest(hidden).jobformarea
      p
        | 守る人を一人選んで下さい（非強制）:
        input(type="submit",value="聖なる力で守る",data-job="Priest")
    #form_PI(hidden).jobformarea
      p
        | 調査する人を一人選んで下さい（非強制）:
        input(type="submit",value="調査する",data-job="PI")
    #form_Sorcerer(hidden).jobformarea
      p
        | 調べる人を一人選んで下さい:
        input(type="submit",value="調査する",data-job="Sorcerer")
    #form_Doppleganger(hidden).jobformarea
      p
        | ドッペルゲンガー対象を一人選んで下さい:
        input(type="submit",value="選ぶ",data-job="Doppleganger")
    #form_CultLeader(hidden).jobformarea
      p
        | 信者にする人を一人選んで下さい:
        input(type="submit",value="信者にする",data-job="CultLeader")
    #form_Vampire(hidden).jobformarea
      p
        | 襲撃する人を一人選んで下さい:
        input(type="submit",value="殺す",data-job="Vampire")
    #form_Cat(hidden).jobformarea
      p
        | 蘇生する人を一人選んで下さい（非強制）:
        input(type="submit",value="蘇生する",data-job="Cat")
    #form_Witch(hidden).jobformarea
      p
        | 使う薬と対象を選んで下さい（非強制）:
        select(name="Witch_drug")
          option(value="revive") 蘇生薬
          option(value="kill") 毒薬
        input(type="submit",value="薬を使う",data-job="Witch")
    #form_OccultMania(hidden).jobformarea
      p
        | 対象を指定して下さい:
        input(type="submit",value="指定する",data-job="OccultMania")
    #form_Dog(hidden).jobformarea
    #form_Dog1(hidden).jobformarea
      p
        | 飼い主を殺す場合に押して下さい（非強制）:
        input(type="submit",value="飼い主を襲う",data-job="Dog")
    #form_Dog2(hidden).jobformarea
      p
        | 飼い主を選択して下さい:
        input(type="submit",value="飼い主にする",data-job="Dog")
    #form_Dictator(hidden).jobformarea
      p
        | 議論を中止させる場合は処刑対象を選択して下さい（1回のみ）:
        input(type="submit",value="処刑する",data-job="Dictator")
    #form_Trapper(hidden).jobformarea
      p
        | 護衛する対象を選択して下さい:
        input(type="submit",value="護衛する",data-job="Trapper")
    #form_WolfBoy(hidden).jobformarea
      p
        | 人狼にみせかける人を選択して下さい（非強制）:
        input(type="submit",value="選択する",data-job="WolfBoy")
    #form_MinionSelector(hidden).jobformarea
      p
        | 狼の子分にする人を指定して下さい:
        input(type="submit",value="指定する",data-job="MinionSelector")
    #form_Thief(hidden).jobformarea
      p
        | 役職を選択して下さい:
        input(type="submit",value="選択する",data-job="Thief")
    #form_Hoodlum(hidden).jobformarea
      p
        | 恨む人を1人ずつ選択して下さい:
        input(type="submit",value="選択する",data-job="Hoodlum")
    #form__Quantum_Diviner(hidden).jobformarea
      p
        | 占う人を一人選んで下さい：
        input(type="submit",value="占う",data-job="_Quantum_Diviner")
    #form__Quantum_Werewolf(hidden).jobformarea
      p
        | 殺す人を一人選んで下さい：
        input(type="submit",value="殺す",data-job="_Quantum_Werewolf")
    #form_Counselor(hidden).jobformarea
      p
        | カウンセリングする人を選んで下さい（非強制）:
        input(type="submit",value="選択する",data-job="Counselor")
    #form_Miko(hidden).jobformarea
      p
        input(type="submit",value="自分を守る（非強制）",data-job="Miko")
    #form_FascinatingWolf(hidden).jobformarea
      p
        | 誘惑する人を選んで下さい:
        input(type="submit",value="誘惑する",data-job="FascinatingWolf")
    #form_ToughWolf(hidden).jobformarea
      p
        | 能力を使用する場合はこちらを選択して下さい:
        input(type="submit",value="覚悟を決めて殺す",data-job="ToughWolf")
    #form_ThreateningWolf(hidden).jobformarea
      p
        | 威嚇する人を選んで下さい（非強制）:
        input(type="submit",value="威嚇する",data-job="ThreateningWolf")
    #form_WanderingGuard(hidden).jobformarea
      p
        | 護衛する人を一人選んで下さい:
        input(type="submit",value="護衛する",data-job="WanderingGuard")
    #form_ObstructiveMad(hidden).jobformarea
      p
        | 調べる人を一人選んで下さい:
        input(type="submit",value="邪魔する",data-job="ObstructiveMad")
    #form_TroubleMaker(hidden).jobformarea
      p
        | 一度だけ次の昼に2人処刑することができます:
        input(type="submit",value="トラブルを起こす",data-job="TroubleMaker")
    #form_BloodyMary(hidden).jobformarea
      p
        | 呪い殺す人を一人選んで下さい:
        input(type="submit",value="殺す",data-job="BloodyMary")
  form#speakform
    p
      input(size="50",name="comment",required)
      input(type="submit",value="発言")
      span#gmsayopt
      select(name="size")
        option(value="small") 小さく
        option(value="",selected) 普通
        option(value="big") 大きく
      select(name="mode")
      label
        input(type="checkbox",name="multilinecheck")
        複数行
      |  
      span#time
      input(type="button",value="遺言",name="willbutton")
      input(type="button",value="ルール",name="rulebutton",disabled)
      select#chooseviewselect
        option(value="all",selected) 全部
        option(value="today") 今日
        optgroup#chooseviewday(label="一日ずつ")
  form#willform(hidden)
    p
      textarea(name="will",cols="50",rows="3",maxlength="1000")
      input(type="submit",value="決定")
  #logs
  
