.game
  h1#roomname
  section.players
    h1 参加者一覧
    #playernumberinfo
    ul#players
    #playersinfo
  section#gamestartsec(hidden)
    h1 ゲーム開始
    form#gamestart
      p
        | 現在の人数 : 
        output(name="number")
        | 人 - 
        span#jobsmonitor
      fieldset
        legend 役職
        p
          select#jobruleselect(name="jobrule")
        dl.jobs#jobsfield(hidden)
        dl.jobs#catesfield(hidden)
      fieldset#rules
        //- dd(name="category_Foobar")

      p: input(type="submit",value="開始")
  .infobox
    div
    #jobinfo
  form#jobform(hidden)
    input(type="hidden",name="commandname")
    input(type="hidden",name="jobtype")
    ul#form_players
    #form_day(hidden).jobformarea
      p
        | 処刑する人に投票してください：
        input(type="submit",value="投票する",data-job="_day")
    #form_Waiting(hidden).jobformarea
      p
        | 希望する役職を選択してください:
        input(type="submit",value="選択",data-job="Waiting")
    #form_GameMaster(hidden).jobformarea
      fieldset
        legend GM用コマンド
        p
          | 死亡/蘇生：
          input(name="kill",type="submit",value="死亡させる",data-job="GameMaster")
          input(name="revive",type="submit",value="蘇生させる",data-job="GameMaster")
        p
          | 時間延長/短縮:
          input(name="longer",type="submit",value="30秒延長",data-job="GameMaster")
          input(name="shorter",type="submit",value="30秒短縮",data-job="GameMaster")
    #form__Werewolf(hidden).jobformarea
      p
        | 殺す人を一人選んでください：
        input(type="submit",value="殺す",data-job="_Werewolf")
    #form_WolfDiviner(hidden).jobformarea
      p
        | 人狼占いで占う人を一人選んでください（占いは必須ではありません）：
        input(type="submit",value="占う",data-job="WolfDiviner")
    #form_GreedyWolf(hidden).jobformarea
      p
        | 欲張る場合は選択してください（非強制）:
        input(type="submit",value="欲張る",data-job="GreedyWolf")
    #form_Diviner(hidden).jobformarea
      p
        | 占う人を一人選んでください：
        input(type="submit",value="占う",data-job="Diviner")
    #form_TinyFox(hidden).jobformarea
      p
        | 占う人を一人選んでください：
        input(type="submit",value="占う",data-job="TinyFox")
    #form_Guard(hidden).jobformarea
      p
        | 護衛する人を一人選んでください:
        input(type="submit",value="護衛する",data-job="Guard")
    #form_Magician(hidden).jobformarea
      p
        | 蘇生する人を一人選んでください:
        input(type="submit",value="蘇生する",data-job="Magician")
    #form_Spy(hidden).jobformarea
      p
        input(type="submit",value="任務完了(村を去る)",data-job="Spy")
    #form_Fugitive(hidden).jobformarea
      p
        | 逃亡先を一人選んでください:
        input(type="submit",value="逃亡する",data-job="Fugitive")
    #form_Merchant(hidden).jobformarea
      p
        | 商品と発送先を選択してください:
        select(name="Merchant_kit")
          option(value="Diviner") 占いセット
          option(value="Psychic") 霊能セット
          option(value="Guard") 狩人セット
        input(type="submit",value="発送する",data-job="Merchant")
    #form_Liar(hidden).jobformarea
      p
        | 占う人を一人選んでください：
        input(type="submit",value="占う",data-job="Liar")
    #form_Copier(hidden).jobformarea
      p
        | コピー対象を選択してください（必須ではありません）：
        input(type="submit",value="コピー",data-job="Copier")
    #form_Light(hidden).jobformarea
      p
        | あなたは死神の手帳を持っています（必須ではありません）：
        input(type="submit",value="手帳に書く",data-job="Light")
    #form_Cupid(hidden).jobformarea
      p
        | 恋人にする2人を1人ずつ選んでください:
        input(type="submit",value="恋の矢を放つ",data-job="Cupid")
    #form_Lover(hidden).jobformarea
      p
        | 恋人にする人を選んでください:
        input(type="submit",value="恋人にする",data-job="Lover")
    #form_Stalker(hidden).jobformarea
      p
        | ストーキングする人を一人選んでください:
        input(type="submit",value="ストーキングする",data-job="Stalker")
    #form_Spellcaster(hidden).jobformarea
      p
        | 呪いをかける人を一人選んでください（非強制）:
        input(type="submit",value="呪いをかける",data-job="Spellcaster")
    #form_Priest(hidden).jobformarea
      p
        | 守る人を一人選んでください（非強制）:
        input(type="submit",value="聖なる力で守る",data-job="Priest")
    #form_PI(hidden).jobformarea
      p
        | 調査する人を一人選んでください（非強制）:
        input(type="submit",value="調査する",data-job="PI")
    #form_Sorcerer(hidden).jobformarea
      p
        | 調べる人を一人選んでください:
        input(type="submit",value="調査する",data-job="Sorcerer")
    #form_Doppleganger(hidden).jobformarea
      p
        | ドッペルゲンガー対象を一人選んでください:
        input(type="submit",value="選ぶ",data-job="Doppleganger")
    #form_CultLeader(hidden).jobformarea
      p
        | 信者にする人を一人選んでください:
        input(type="submit",value="信者にする",data-job="CultLeader")
    #form_Vampire(hidden).jobformarea
      p
        | 襲撃する人を一人選んでください:
        input(type="submit",value="殺す",data-job="Vampire")
    #form_Cat(hidden).jobformarea
      p
        | 蘇生する人を一人選んでください（非強制）:
        input(type="submit",value="蘇生する",data-job="Cat")
    #form_Witch(hidden).jobformarea
      p
        | 使う薬と対象を選んでください（非強制）:
        select(name="Witch_drug")
          option(value="revive") 蘇生薬
          option(value="kill") 毒薬
        input(type="submit",value="薬を使う",data-job="Witch")
    #form_OccultMania(hidden).jobformarea
      p
        | 対象を指定してください:
        input(type="submit",value="指定する",data-job="OccultMania")
    #form_Dog(hidden).jobformarea
    #form_Dog1(hidden).jobformarea
      p
        | 飼い主を殺す場合に押してください（非強制）:
        input(type="submit",value="飼い主を襲う",data-job="Dog")
    #form_Dog2(hidden).jobformarea
      p
        | 飼い主を選択してください:
        input(type="submit",value="飼い主にする",data-job="Dog")
    #form_Dictator(hidden).jobformarea
      p
        | 議論を中止させる場合は処刑対象を選択してください（1回のみ）:
        input(type="submit",value="処刑する",data-job="Dictator")
    #form_Trapper(hidden).jobformarea
      p
        | 護衛する対象を選択してください:
        input(type="submit",value="護衛する",data-job="Trapper")
    #form_WolfBoy(hidden).jobformarea
      p
        | 人狼にみせかける人を選択してください（非強制）:
        input(type="submit",value="選択する",data-job="WolfBoy")
    #form_MinionSelector(hidden).jobformarea
      p
        | 狼の子分にする人を指定してください:
        input(type="submit",value="指定する",data-job="MinionSelector")
    #form_Thief(hidden).jobformarea
      p
        | 役職を選択してください:
        input(type="submit",value="選択する",data-job="Thief")
    #form_Hoodlum(hidden).jobformarea
      p
        | 恨む人を1人ずつ選択してください:
        input(type="submit",value="選択する",data-job="Hoodlum")
    #form__Quantum_Diviner(hidden).jobformarea
      p
        | 占う人を一人選んでください：
        input(type="submit",value="占う",data-job="_Quantum_Diviner")
    #form__Quantum_Werewolf(hidden).jobformarea
      p
        | 殺す人を一人選んでください：
        input(type="submit",value="殺す",data-job="_Quantum_Werewolf")
    #form_Counselor(hidden).jobformarea
      p
        | カウンセリングする人を選んでください（非強制）:
        input(type="submit",value="選択する",data-job="Counselor")
    #form_Miko(hidden).jobformarea
      p
        input(type="submit",value="自分を守る（非強制）",data-job="Miko")
    #form_FascinatingWolf(hidden).jobformarea
      p
        | 誘惑する人を選んでください:
        input(type="submit",value="誘惑する",data-job="FascinatingWolf")
    #form_ToughWolf(hidden).jobformarea
      p
        | 能力を使用する場合はこちらを選択してください:
        input(type="submit",value="覚悟を決めて殺す",data-job="ToughWolf")
    #form_ThreateningWolf(hidden).jobformarea
      p
        | 威嚇する人を選んでください（非強制）:
        input(type="submit",value="威嚇する",data-job="ThreateningWolf")
    #form_WanderingGuard(hidden).jobformarea
      p
        | 護衛する人を一人選んでください:
        input(type="submit",value="護衛する",data-job="WanderingGuard")
    #form_ObstructiveMad(hidden).jobformarea
      p
        | 邪魔する人を一人選んでください:
        input(type="submit",value="邪魔する",data-job="ObstructiveMad")
    #form_TroubleMaker(hidden).jobformarea
      p
        | 一度だけ次の昼に2人処刑することができます:
        input(type="submit",value="トラブルを起こす",data-job="TroubleMaker")
    #form_BloodyMary(hidden).jobformarea
      p
        | 呪い殺す人を一人選んでください:
        input(type="submit",value="殺す",data-job="BloodyMary")
    #form_SantaClaus(hidden).jobformarea
      p
        | プレゼントを送る相手を選んでください:
        input(type="submit",value="送る",data-job="SantaClaus")
    #form_Phantom(hidden).jobformarea
      p
        | 役職を盗む相手を選んでください:
        input(type="submit",value="選択",data-job="Phantom")
    #form_BadLady(hidden).jobformarea
    #form_BadLady1(hidden).jobformarea
      p
        | まず本命の相手を選択してください:
        input(type="submit",value="求愛する",data-job="BadLady")
    #form_BadLady2(hidden).jobformarea
      p
        | 手玉に取る相手を選択してください:
        input(type="submit",value="手玉に取る",data-job="BadLady")
    #form_Pyrotechnist(hidden).jobformarea
      p
        | 花火を打ち上げる場合は選択してください（1回のみ）:
        input(type="submit",value="花火を打ち上げる",data-job="Pyrotechnist")
    #form_Helper(hidden).jobformarea
      p
        | ヘルパー対象を選択してください:
        input(type="submit",value="ヘルパーになる",data-job="Helper")
    #form_Bomber(hidden).jobformarea
      p
        | 爆弾を仕掛ける相手を選んでください（非強制）:
        input(type="submit",value="送る",data-job="Bomber")
    #form_Blasphemy(hidden).jobformarea
      p
        | 冒涜する相手を選んでください:
        input(type="submit",value="冒涜する",data-job="Blasphemy")
    #form_Ushinotokimairi(hidden).jobformarea
      p
        | 呪いをかける相手を選んでください:
        input(type="submit",value="選択",data-job="Ushinotokimairi")
    #form_Patissiere(hidden).jobformarea
      p
        | 本命チョコをあげる相手を選んでください：
        input(type="submit",value="選択",data-job="Patissiere")
    #form_MadDog(hidden).jobformarea
      p
        | 襲撃する相手を選んでください（非強制）：
        input(type="submit",value="襲撃",data-job="MadDog")
    #form_Hypnotist(hidden).jobformarea
      p
        | 催眠術をかける相手を選んでください（非強制）：
        input(type="submit",value="催眠術をかける",data-job="Hypnotist")
    #form_CraftyWolf(hidden).jobformarea
      p
        | 死んだふりをする場合は選択してください（非強制）：
        input(type="submit",value="死んだふりをする",data-job="CraftyWolf")
    #form_CraftyWolf2(hidden).jobformarea
      p
        | 死んだふりをやめる場合は選択してください（非強制）：
        input(type="submit",value="死んだふりをやめる",data-job="CraftyWolf")
    #form_GotChocolate(hidden).jobformarea
      p
        input(type="submit",value="チョコを食べる",data-job="GotChocolate")
    #form_Shishimai(hidden).jobformarea
      p
        | 獅子舞で噛む相手を選択してください（非強制）：
        input(type="submit",value="噛む",data-job="Shishimai")
    #form_Pumpkin(hidden).jobformarea
      p
        | かぼちゃにする相手を選択してください：
        input(type="submit",value="選ぶ",data-job="Pumpkin")
    #form_MadScientist(hidden).jobformarea
      p
        | 蘇生する対象を選択してください（非強制/一度のみ）：
        input(type="submit",value="蘇生する",data-job="MadScientist")
    #form_Forensic(hidden).jobformarea
      p
        | 調査する対象を選択してください（必須）：
        input(type="submit",value="調査する",data-job="Forensic")
    #form_Cosplayer(hidden).jobformarea
      p
        | 護衛する人を一人選んでください（必須）:
        input(type="submit",value="護衛する",data-job="Cosplayer")
    #form_Ninja(hidden).jobformarea
      p
        | 偵察する対象を一人選んでください（必須）:
        input(type="submit",value="偵察する",data-job="Ninja")
    #form_Hunter(hidden).jobformarea
      p
        | 襲撃する対象を一人選んでください（必須）:
        input(type="submit",value="襲撃する",data-job="Hunter")
  form#speakform
    p
      input(size="50",name="comment",required,autocomplete="off")
      input(type="submit",value="発言")
      span#gmsayopt
      select(name="size")
        option(value="small") 小さく
        option(value="",selected) 普通
        option(value="big") 大きく
      select(name="mode")
      label
        input(type="checkbox",name="multilinecheck")
        複数行
      |  
      span#time
      input(type="button",value="遺言",name="willbutton")
      input(type="button",value="ルール",name="rulebutton",disabled)
      select#chooseviewselect
        option(value="all",selected) 全部
        option(value="today") 今日
        optgroup#chooseviewday(label="一日ずつ")
      input(type="button",value="蘇生辞退",name="norevivebutton",disabled)
  form#willform(hidden)
    p
      textarea(name="will",cols="50",rows="3",maxlength="1000")
      input(type="submit",value="決定")
  #logs
  
