section.rooms
  h1 新しいルーム
  form#newroomform
    p
      label
        | ルームの名前
        input(size="30",name="name",required)
    p
      label(title="パスワードを設定すると、パスワードを入力しないと入れない鍵付き部屋になります。")
        input(type="checkbox",name="usepassword")
        | パスワード
      input(type="text",name="password",disabled,required,autocomplete="new-password")
    p
      label
        | コメント
        input(size="50",name="comment")
    fieldset
      legend ルール
      p
        label
          | 最大人数
          input(type="number",min="5",name="number",step="1",value="30")
      p
        label(title="覆面をありにすると、ゲーム中はIDが非公開になります。")
          | 覆面
          select(name="blind")
            option(value="",selected) なし
            option(value="yes") あり（終了後に公開）
            option(value="complete") あり（最後まで非公開）
      p
        label(title="覆面がありに設定された後、全プレイヤーの名前がサーバーによってランダムに選択されます。")
          | テーマ
          select(id="theme",name="theme")
      p
        label(title="ありにすると、ルームを建てた人はGMになります")
          | GM
          select(name="ownerGM")
            option(value="",selected) なし
            option(value="yes") あり
    p
      input(type="submit",value="作成")
