section.rooms
  h1 房间一览
  table.roomstable
    thead
      tr
        th 房间名
        th 状态
        th 房主
        th 最大人数
        th 时间
        th 简介
    tbody#roomlist
  form#pager
    p
      input(type="button",name="prev",value="上一页")
      input(type="button",name="next",value="下一页")
  p
    a(href="/newroom") 新建房间
    |  | 
    a(href="/rooms",title="現在募集中・对战中の部屋です。部屋に参加したい場合ここを探しましょう。") 活动房间一览
    |  | 
    a(href="/rooms/old",title="建てられたのに開始されず放置された部屋です。そのうち消えます。") 陈旧房间一览
    |  | 
    a(href="/rooms/log") 结束房间一览
