section.rooms
  h1 ルーム一覧
  table.roomstable
    thead
      tr
        th ルーム名
        th 状態
        th オーナー
        th 最大人数
        th 日時
        th コメント
    tbody#roomlist
  form#pager
    p
      input(type="button",name="prev",value="前のページ")
      input(type="button",name="next",value="次のページ")
  p
    a(href="/newroom") 新しいルーム
    | |
    a(href="/rooms",title="現在募集中・対戦中の部屋です。部屋に参加したい場合ここを探しましょう。") 稼働中の部屋一覧
    | |
    a(href="/rooms/old",title="建てられたのに開始されず放置された部屋です。そのうち消えます。") 古い部屋一覧
    | |
    a(href="/rooms/log") 終了した部屋一覧
