!!! 5
html
  head
    meta(charset="utf-8")
    title 月下人狼
    meta(name="application-name",content="月下人狼")
    meta(name="description",content="リアルタイムチャットが可能な人狼サーバーです。100種以上の役職が使用可能。")
    link(rel="icon",sizes="16x16",href="/favicon.ico")
    link(rel="icon",sizes="144x144",href="/icons/icon-144x144.png")
    //- script(src="https://use.fontawesome.com/e0e7afd227.js",async)
    //- load feature-check script if needed.
    script(src=bundle)
    if legacyBuilds || notSupportedPage
      script(src=featureCheckJs)
    if legacyBuilds
      script.
        if(_global_legacy_browser==='legacy'){
            document.write('<script src="' + !{JSON.stringify(legacyBundle)} + '"></' + 'script>');
        }
    else if notSupportedPage
      script.
        if(_global_legacy_browser){
            location.href = !{JSON.stringify(notSupportedPage)};
        }
    != SocketStream
  body
    header
      h1
        a(href="/") 月下人狼
      #userinfo
        span#username
      nav
        ul
          li
            a(href="/my") マイページ
          li
            a(href="/lobby") ロビー
          li
            a(href="/rooms") ルーム一覧
          //li
            a(href="/logs") ログ検索
          li
            a(href="/manual") マニュアル
          li
            a(href="/backdoor/home") ホームに戻る
          li
            a(href="/manual/about") 月下人狼について
      #toolbar

    script(type="text/javascript")
      if((("unknown"===typeof localStorage)||("undefined"===typeof localStorage)||(!document.body.classList)||(!document.body.dataset))&&(navigator.userAgent.indexOf("Googlebot")<0)){
        //要件を満たさない
        location.replace("/noIE.html");
      }
    #content
    #serverconnection
