!!! 5
html(xmlns:wb="http://open.weibo.com/wb")
  head
    meta(charset="utf-8")
    title 月下人狼
    meta(name="application-name",content="月下人狼")
    meta(name="description",content="一个实时的高自由度的人狼服务器。有70种以上的职业可供使用。")
    <meta property="wb:webmaster" content="429c879e40644052" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2598264088&debug=true" type="text/javascript" charset="utf-8"></script>

    != SocketStream
  body
    header
      h1 月下人狼
      br
      #userinfo
        span#username
      nav
        ul
          li
            a(href="/logout") 退出
          li
            a(href="/") 首页
          li
            a(href="/my") 个人页面
          li
            a(href="/lobby") 休息室
          li
            a(href="/rooms") 房间一览
          li
            a(href="/logs") 历史检索
          li
            a(href="/manual") 参考手册
          li
            a(href="/backdoor/home") 返回主页
          li
            a(href="/manual/about") 关于月下人狼
    script(type="text/javascript")
      if((("unknown"===typeof localStorage)||("undefined"===typeof localStorage)||(!document.body.classList)||(!document.body.dataset))&&(navigator.userAgent.indexOf("Googlebot")<0)){
        //要件を満たさない
        location.replace("/noIE.html");
      }
    #content
