!!! 5
html
  head
    meta(charset="utf-8")
    title 月下人狼 &#x2013; 汝は人狼なりや?
    meta(name="application-name",content="月下人狼")
    meta(name="description",content="リアルタイムチャットが可能な人狼サーバーです。50種以上の役職が使用可能。")
    != SocketStream
  body
    header
      h1 月下人狼
      #userinfo
        span#username
      nav
        ul
          li
            a(href="/") トップ
          li
            a(href="/my") マイページ
          li
            a(href="/lobby") ロビー
          li
            a(href="/logout") ログアウト
          li
            a(href="/rooms") ルーム一覧
          li
            a(href="/logs") ログ検索
          li
            a(href="/manual") マニュアル
          li
            a(href="/backdoor/home") ホームに戻る
          li
            a(href="/manual/about") 月下人狼について
    //if lt IE 10
      p 注意:お使いのブラウザは<b>Internet Exolorer</b>です。人狼を正常にプレイできない恐れがありますので、他のブラウザに乗り換えることをお勧めします。
      p 新しい他のブラウザで、快適で自由な人狼と、人狼以外でも快適なWebブラウジングをお楽しみ下さい。
      h2 お勧めブラウザ
        ul
          li: a(href="http://www.google.co.jp/chrome",target="_blank") Google Chrome
          li: a(href="http://jp.opera.com/",target="_blank") Opera
          li: a(href="http://mozilla.jp/firefox/",target="_blank") Firefox
        
    #content
