doctype html
html
  head
    meta(charset="utf-8")
    title 月下人狼
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@jinroutter")
    meta(name="twitter:title", content=`月下人狼 - ${title}`)
    meta(name="twitter:description", content=description)
    meta(name="twitter:image", content=`${url}icons/icon-144x144.png`)
    meta(http-equiv="refresh", content=`0; URL='${url}'`)
