section.manual
  p: a(href="/manual") 返回
  h1 关于月下人狼
  p 关于游戏规则，请参阅<a href="/manual">参考手册</a>。

  h2 公式twitter账号
  p 月下人狼的twitter账号是<a href="https://twitter.com/Sunev_C" target="_blank">@Sunev_C</a>。
  p 建房之类的通知会在twitter上公开。
  p 但是twitter被墙了所以并没有什么卵用。
  h2 开发者
  p 开发者是日本的うひょ(<a href="https://twitter.com/uhyo_" target="_blank">@uhyo_</a>)。
  p 翻译者兼服主是Sunev(<a href="https://github.com/Sunev" target="_blank">@Sunev</a>)。

  p 月下人狼是一个开源项目。
  p 原作者的GitHub (<a href="https://github.com/uhyo/jinrou" target="_blank">uhyo/jinrou - Github</a>)
  p 欢迎大家多多参与中文版的文本翻译(<a href="https://github.com/Sunev/jinrou/tree/translate/client/templates/jobs" target="_blank">各职业的说明</a>) (<a href="https://github.com/Sunev/jinrou/tree/translate/manual" target="_blank">游戏的说明</a>)
