section.manual
  p: a(href="/manual") 戻る
  h1 月下人狼について
  p
    | 遊び方などの情報については
    a(href="/manual") マニュアル
    | をご覧ください。
  p
    a(href="https://jinrou-doc.uhyohyo.net/") 公式ドキュメント
    | もあわせてご覧ください。

  h2 公式twitterアカウント
  p 月下人狼のtwitterアカウントは<a href="https://twitter.com/jinroutter" target="_blank">@jinroutter</a>です。
  p 建った部屋の情報や更新情報をツイートします。

  h2 開発者
  p 開発者はうひょ(<a href="https://twitter.com/uhyo_" target="_blank">@uhyo_</a>)です。

  h2 協力者
  p
    small （敬称略）
  dl
    dt
      | Sunev (
      a(href="https://github.com/Sunev",target="_blank") GitHub
      | )
    dd 50回以上の機能追加・バグ修正に協力いただいています。
    dt
      | 箱庭 (
      a(href="https://twitter.com/hakoniwawind",target="_blank") Twitter
      | )
    dd 50回以上のバグ報告をいただいています。

  h2 ソース
  p 月下人狼のソースは公開されています。
  p
    a(href="https://github.com/uhyo/jinrou",targeet="_blank") uhyo/jinrou - Github
