section.manual
  h1 更新履歴
  p 月下人狼の新機能追加・仕様変更・バグ修正などのまとめです。
  h2 v1.9.4-6(4f7b401;2014-01-21)
  ul
    li.change 悪魔くんの霊能結果が「村人」だったのを、原典に合わせて「人狼」に修正しました。(e365388)
    li.change カウンセラーが1日目夜から能力使用可能だったのを、原典にあわせて2日目夜からに修正しました。(e365388)
    li.bugfix 身代わりくんが逃亡者だった場合1日目夜に身代わりくんが死亡しないバグを修正しました。(e365388)
    li.change 闇鍋セーフティの「超（α）」は「超（β）」に変更されました。(e365388)
    li.change <a href="/manual/prohibited">禁止行為</a>が一部修正されました。(6697783)
  h2 v1.9.4-5(4c7da28;2014-01-19)
  ul
    li.bugfix 罠師に守られていた人が死んだ場合ゲーム進行が停止することがあるバグを修正しました。(231d692)
    li.new <a href="/manual/prohibited">禁止行為</a>が定められました。(dbf105a)
  h2 v1.9.4-4(4e0204f;2014-01-02)
  ul
    li.bugfix トラブルメーカーが能力を使用した夜に死んだ場合、能力が無効になるバグを修正しました。(3e41489)
    li.new 新しいオプション「恋人はそれぞれ独立する」を追加しました。「あり」の場合、恋人が複数組発生した場合に後追い判定がカップルごとに独立します。また、恋人から他のカップルの恋人が分からなくなります。(2d385fb)
  h2 v1.9.4-3(ae50850;2014-01-02)
  ul
    li.change 「ルール」ボタンの表示を改良しました。(e78946f)
  h2 v1.9.4-2(8d59445;2013-12-29)
  ul
    li.bugfix 夜の能力発動で死んだ役職の能力が発動しないことがあるバグを修正しました。(51743dc)
  h2 v1.9.4-1(5104f87;2013-12-28)
  ul
    li.bugfix 占い結果「すぐ分かる」で人狼占いが占い師を占った場合、翌朝になる前に死亡するバグを修正しました。(38482c8)
    li.new 闇鍋セーフティに「超(α)」を追加しました。「高」以上にバランスのいい配役を行いますが、まだ実験段階の機能となっています。(eff95e8)
  h2 v1.9.4(35a4f34;2013-12-24)
  ul
    li.new 期間限定役職「サンタクロース」を追加しました。(e1a5f43)
  h2 v1.9.3-1(920922f;2013-12-22)
  ul
    li.bugfix 魔女が蘇生薬・毒薬を使用した状況によって、次に薬を使用したときに違う種類の薬が使われることがあるバグを修正しました。(0be9aee)
    li.change 突然死した人は勝敗判定が常に「敗北」になるように修正しました。(8d4c8c3)
  h2 v1.9.3(6a3b5d8;2013-12-17)
  ul
    li.new 新役職「サイコキラー」を追加しました。(aec741c)
    li.change 「身代わりセーフティ」がありの場合、身代わりくんが貴族・求愛者にならないように変更しました。(a285080)
    li.new 称号を120種類追加しました。(85e4e5f)
  h2 v1.9.2(0ab80dd;2013-12-16)
  ul
    li.new 「ミラーズホロウの人狼」から新しいオプション「決選投票」を追加しました。「なし」の場合は従来通りの動作です。「再投票」にした場合は再投票時に候補者が上位のみになります。「常に行う」にした場合は投票後に必ず上位の候補者のみの決選投票が行われます。(7bbacc4)
    li.new 新役職「王様」を追加しました。(0b5677b)
    li.new 霊界で役職か見えるかどうかのオプション名を「霊界表示」に変更し、選択肢を「あり」「なし」から「常にあり」・「あり」（デフォルト）・「なし」の3段階に変更しました。「あり」は誰かが蘇生する可能性がある場合のみ表示しません（ゲーム中でも、蘇生可能性が無くなった場合表示されるようになります）。「常にあり」では蘇生役職があっても役職などを表示します。また、これに伴って、闇鍋で蘇生役職が出現した場合に「蘇生役職が存在するため「蘇生役職が存在するので、天国から役職が見られなくなりました。」というメッセージは出現しないようになりました。(502222e)
  h2 v1.9.1-2(734377f;2013-12-15)
  ul
    li.bugfix 威嚇する狼に威嚇された人が商品から荷物を受け取ったり聖職者に護衛されたりカルト信者になったりした場合にその後ずっと能力が使用できなくなるバグを修正しました。(d8bfab2)
  h2 v1.9.1-1(bab1863;2013-12-07)
  ul
    li.new 新役職「フランケンシュタインの怪物」を追加しました。(4e394d7)
  h2 v1.9.1(9b53e31;2013-12-07)
  ul
    li.new 新役職「邪魔狂人」を追加しました。(55586db) 
    li.new 新役職「トラブルメーカー」を追加しました。(a57b4b5) 
    li.bugfix 罠師に守られた役職の能力が発動しないことがあるバグを修正しました。(7843743)
    li.change 呪われた者がヴァンパイアに襲われた場合にヴァンパイアに変化するように修正しました。(ba9112b)
  h2 v1.9.0(7ebfcdb;2013-12-03)
  ul
    li.new 新役職「風来狩人」を追加しました。(44919bb)
    li.bugfix 恋人・背徳者などが後追いで死亡する場合で、2連鎖目以上の場合死亡しないことがあるバグを修正しました。(1b281e3)
    li.change 闇鍋セーフティが中以上の場合に、配役の人狼の数がより安定するように修正しました。(2bfa2ec)
  h2 v1.8.9-2(389afc5;2013-11-30)
  ul
    li.bugfix 欲張りな狼・一途な狼が能力をした場合に、その夜だけでなく次以降の夜にも効果が継続するバグを修正しました。(5da7967)
    li.bugfix 子狐が妖狐を占った時に呪殺してしまうバグを修正しました。(5da7967)
    li.new 量子人狼で夜の長さが1分より長い場合は注意を表示するようになりました。(8f10acc)
  h2 v1.8.9-1(c55bab4;2013-11-26)
  ul
    li.bugfix コピーやドッペルゲンガーが2日目以降にオカルトマニア・ストーカー・キューピッド・ならず者・誘惑する女狼に変化した際に、対象選択できなかったり突然死したりするバグを修正しました。(c5a251d)
    li.change 逃亡者の能力使用先がヴァンパイアに襲われたときに、逃亡者が死ななかったのを死ぬように修正しました。(222d9ea)
  h2 v1.8.9(d44e993;2013-11-26)
  ul
    li.change マイページの戦績表示および闇鍋の陣営表示において、こうもりの陣営を「こうもり」から「その他」に、ヴァンパイアの陣営を「その他」から「ヴァンパイア陣営」に変更しました。(531994d)
    li.change 逃亡者がヴァンパイアの襲撃および魔女の毒薬の対象になったときの動作を、「死ぬ」から「死なない」に変更しました。これに加えて人狼に襲撃されても死にませんが、その他の要因では死亡します。(facfe1a)
    li.change 逃亡者・カウンセラーが狩人または罠師に護衛されている状態で能力の対象に人狼を選択した場合の動作が、「死なない」だったのを「死ぬ」に修正しました。(facfe1a)
    li.change 逃亡者・カウンセラーが狂人狼を対象に選択した場合の動作を「死ぬ」から「死なない」に変更しました。(7ea3146)
    li.bugfix 占い結果が「すぐ分かる」の設定のときに占い師が妖狐を占った場合に、夜明けに死亡ログが出る前に霊界に移動するバグを修正しました。(b9559a4)
    li.bugfix 呪いをかける者に呪いをかけられた人が、次の日になっても発言できないままになるバグを修正しました。(adf1e63)
    li.change ヴァンパイア・デスノート・魔女が1日目の夜に能力を発動できないように修正しました。また、欲張りな狼が1人目の対象選択した後に欲張る能力を発動できないバグを修正しました。(f774e74,f609fdc)
    li.bugfix 人狼占いが商人から占いセットを受け取った場合に、対象選択画面がわかりにくい問題を改善しました。(68b3d44)
    li.change 闇鍋セーフティ中以上で、占い師・狩人が出現する確率が上昇しました。さらに、狂人狼が出現する場合必ず狂人系役職も出現するようになりました。また、闇鍋セーフティ高以上で女王観戦者が2人以上出現しないようになりました。(ca3411a)
    li.bugfix 一途な狼が能力を発動して聖職者に守られた人を襲った場合に、死なないままチャットが霊界に移動して昼に投票もできなくなるバグを修正しました。(86b6b9e)
    li.change 狩人・罠師がヴァンパイアの襲撃を守れるように変更しました。罠師に護衛されている人をヴァンパイアが襲った場合、そのヴァンパイアが死にます。(7325719)
    li.change ヴァンパイアが埋毒者・猫又を襲った場合の動作を、「全員からランダムに一人毒で死ぬ」から「そのヴァンパイアが毒で死ぬ」変更しました。(7325719)
    li.new 量子人狼に「死亡率を表示しない」オプションを追加しました。(0e02ce2)
    li.new 称号に使用できる助詞「だ」「ぜ」「ん」を追加しました。(aee8e9f)
    li.new マイページの戦績表示で表示した詳細情報を隠すことができるようになりました。(aee8e9f)
  h2 v1.8.8 (ce32693; 2013-11-23)
  p これより前の更新履歴はありません。（書いていなかったので）

