section.manual
  h1 更新履歴
  p 月下人狼の新機能追加・仕様変更・バグ修正などの一覧です。

  h2 v1.15.1 (2022-07-31)
  ul
    li.new 新役職「イタコ」を実装しました。(01a701a)

  h2 v1.15.0 (2022-06-28)
  ul
    li.new 新役職「闇の霊媒師」を実装しました。(b3ae44e)
    li.change ゲームのログ保存方式を変更しました。(1d4ed69)

  h2 v1.14.55 (2022-05-31)
  ul
    li.new 新役職「雨男」を実装しました。(ba06f1a)

  h2 v1.14.54 (2022-04-30)
  ul
    li.new 新役職「家政婦」を実装しました。(3b9e8a0)

  h2 v1.14.53 (2022-03-31)
  ul
    li.bugfix 前回の更新以降、ストーカーの勝利判定が正しく行われない問題を修正しました。(241f3a9)
    li.bugfix 秘書がまだ自分自身を能力の対象に選択できていたのを修正しました。(d05aa89)

  h2 v1.14.52 (2022-04-02)
  ul
    li.new 新役職「地縛霊」を実装しました。(057660e)
    li.bugfix 秘書が自分自身を能力の対象に選択できないように修正しました。(2845156, 箱庭)


  h2 v1.14.51 (2022-02-28)
  ul
    li.new 新役職「秘書」を実装しました。(2888f50)

  h2 v1.14.50 (2022-01-31)
  ul
    li.new 新役職「前鬼」「後鬼」を実装しました。(7b5125f)

  h2 v1.14.49 (2022-01-02)
  ul
    li.bugfix 迷える子羊の能力が、能力を発動したかどうかに関わらず常に初日に発揮されてしまう問題を修正しました。(ef5c87b, 箱庭)

  h2 v1.14.48 (2021-12-31)
  ul
    li.new 新役職「迷える子羊」を実装しました。(108ff943, 箱庭)
    li.bugfix 12月の間中暴徒の出現率が想定より高くなっていた問題を修正しました。(a80a9d4a, 箱庭)
    li.bugfix 御子の能力発動と同時に御子が死亡した場合、御子の能力が成功してしまうことがある問題を修正しました。(a4bd815c, 箱庭)

  h2 v1.14.47 (2021-11-30)
  ul
    li.new 新役職「破壊の狂人」を実装しました。(f4c5fbd, 箱庭)
    li.new 新役職「女狐」を実装しました。(6217fb6, 箱庭)
    li.change 闇鍋セーフティの陣営数調整において、人数が少ない場合に決闘者の出現率が低くなるように調整しました。(bdd5d07, 箱庭)
    li.change 転生者の能力で別の転生者を組成しないように変更しました。(0751fd7, 箱庭)
    li.bugfix カルトリーダーや教主の能力の対象になった人が同時に死亡した場合、信者になる場合とならない場合がありましたが、なるように統一しました。(1a68e1c, 箱庭)

  h2 v1.14.46 (2021-10-31)
  ul
    li.new 新役職「美人」を実装しました。(e95b37c)
    li.bugfix 量子人狼時に「決定者」などのサブ役職を追加する設定を使用できないように修正しました。 (45c0b9e, 箱庭)

  h2 v1.14.45 (2021-09-26)
  ul
    li.bugfix 前回のアップデート以降、ケミカル人狼で占い能力を使用するとゲームが進行しなくなっていた問題を修正しました。 (81c5ff0)

  h2 v1.14.44 (2021-09-26)
  ul
    li.new 新役職「影法師」を実装しました。(6439f799, 箱庭)
    li.change 闇狼の能力で投票結果が隠された場合、投票結果が闇に隠されたというメッセージを表示するようにしました。(3135de1)
    li.change 自身が村人であると思い込む役職は、「ルール」ボタンを押した際に表示される出現役職一覧でも「村人」と表示されるようにしました。(a0ed720)
    li.bugfix 前回のアップデート以降、一定の条件でエンドレス闇鍋の進行が止まってしまうことがある問題を修正しました。(3cfaab3)
    li.bugfix 通訳の能力を受けた人が特定の条件下で能力を失ってしまう問題を修正しました。(eb01194)
    li.bugfix 呪いをかける者の能力を受けた人が、次の夜に花火師・血狼の能力が発動した場合に発言できない状態が継続してしまう問題を修正しました。(9cbf677, 箱庭)
    li.bugfix 2人の人身御供が互いに互いを守っている場合に無限ループが発生する問題を修正しました。(cc06a52, 箱庭)

  h2 v1.14.43 (2021-08-31)
  ul
    li.new 新役職「暗殺者」を実装しました。(6e64e5b, 箱庭)
    li.change エンドレス闇鍋で、死亡した人が即座に転生しないように変更しました。(78f3654, Sunev)
    li.bugfix 転生者が突然死した場合、転生能力が発動しないようにしました。(d22e992, 箱庭)
    li.bugfix ケミカル人狼で、右側の役職が人外の人が転生者の能力で蘇生してしまうことがある問題を修正しました。(71b3e1b)

  h2 v1.14.42 (2021-07-28)
  ul
    li.new 新役職「遺品整理士」を実装しました。(b152358, 箱庭)
    li.new 新役職「通訳」を実装しました。(14db418, 箱庭)
    li.new 新役職「教主」を実装しました。(14db418, 箱庭)
    li.new 新役職「歪狐」を実装しました。(1fa8623, 箱庭)
    li.new 新役職「胡蝶」を実装しました。(1639e64, 箱庭)
    li.change ゲーム性の低い展開になることが多かったため、「敗北村」設定を一時的に廃止しました。(747bd3e)
    li.fix ケミカル人狼で金鬼が勝利条件を満たしても勝利できない問題を修正しました。（e15a521, 箱庭)
    li.fix 闇鍋で設定「2陣営戦」が有効な場合に村人の出現率が想定より高かった問題を修正しました。（57cf765, 箱庭)
    li.fix ケミカル人狼で月下美人・直感派狼・月狼が右側にある場合、護衛されても能力が発動しない問題を修正しました。（a373b5d, 箱庭)
    li.fix 悪霊憑きの能力で、霊界発言で使用されたダイス機能が正しく表示されない問題を修正しました。（dc6cddf)

  h2 v1.14.41 (2021-06-30)
  ul
    li.new 新役職「転生者」を実装しました。(c452ae1, 箱庭)
    li.new 新役職「決闘者」を実装しました。(b926895, 箱庭)
    li.new 設定「障子に目あり」を追加しました。ありにすると、会話を覗ける役職が村にいた場合開始時に警告が表示されます。（57699e4, 箱庭)
    li.new 設定「2陣営戦」を追加しました。ありにすると、闇鍋で村人陣営と人狼陣営の役職のみ出現します。（b300b32, 箱庭)
    li.change エンドレス闇鍋で、死亡と同時に転生しないようにしました。（11235a0, 箱庭)
    li.change 血狼が能力を発動したときの死因を処刑扱いではなくしました。（b85829f, 箱庭)
    li.change 鬼陣営の役職に、出典に準拠した暗殺反射能力を追加しました。（50496ce, 箱庭)
    li.fix エンドレス闇鍋の転生時に宇宙人狼用の役職が出現することがある問題を修正しました。（11235a0, 箱庭)
    li.fix 花火師と血狼が同じ昼に能力を発動した場合、次の次の夜に血狼の能力が発動する問題を修正しました。（b85829f, 箱庭)
    li.fix 仙狐が蘇生した場合、死亡時に透視していた能力が蘇生時に表示されてしまう問題を修正しました。（188ad56, 箱庭)
    li.fix 課金者の投票数が減少した状態で血狼や威嚇する狼の能力を受けた場合、投票数の減少が次の昼以降も続いてしまう問題を修正しました。（f08dff8, 箱庭)

  h2 v1.14.40 (2021-05-31)
  ul
    li.new 新役職「血狼」を実装しました。(b85829f, 箱庭)
    li.change 金鬼の対象最大人数を（人狼の数 + 1）までに変更しました。（3b6fa5b)

  h2 v1.14.39 (2021-04-30)
  ul
    li.new 新役職「金鬼」を実装しました。(75083fc)

  h2 v1.14.38 (2021-03-31)
  ul
    li.new 新役職「花見客」を実装しました。(22af153)
    li.bugfix 悪戯要請が結んだ絆による後追い自殺の場合に霊界から見えるログに死因が正しく表示されない問題を修正しました。(91b5c6f, 箱庭)

  h2 v1.14.37 (2021-02-28)
  ul
    li.new 新役職「曲芸師」を実装しました。(945603d)
    li.change 蘇生役職に変化する可能性がある人狼占い・課金者・運命の子・配信者を蘇生役職として扱うように変更しました（霊界表示に影響）。(9da8f69, 箱庭)
    li.bugfix 御子が蘇生能力発動と同時に死亡した場合、蘇生が発生した問題を修正しました。(7adfc67, 箱庭)
    li.bugfix 人狼が複数人存在する場合に夢遊病者の情報が人狼に複数回表示される問題を修正しました。。(945603d, 箱庭)

  h2 v1.14.36 (2021-01-02)
  ul
    li.new 「宇宙人狼」モードを実装しました。(05148565)
    li.bugfix 闇狼の生存時、観戦者には投票結果が見えてしまっていた問題を修正しました。(eeb66d09, 箱庭)
    li.bugfix 御子の能力が任意と表示されているにも関わらず、能力を使用しないと突然死してしまう問題を修正しました。(00ae7a2f, 箱庭)
  h2 v1.14.35 (2020-12-24)
  ul
    li.new 新役職「御子」を追加しました。(7117a7f, 箱庭)
    li.new 新役職「冥狼」を追加しました。(41dab34, 箱庭)
    li.new 新役職「闇狼」を追加しました。(41dab34, 箱庭)
    li.change 身代わりセーフティがありの場合、身代わりくんは鬼にならないように修正しました。(f850de9, 箱庭)
    li.change 絶対狼に対して悪戯妖精による絆が付与された場合、絶対狼の死亡しない能力が無効となるように修正しました。(8726c01, 箱庭)
    li.bugfix ケミカル人狼時に鬼の占い・霊能結果が「村人」として扱われてしまう問題を修正しました。(4ab89f4, 箱庭)
  h2 v1.14.34 (2020-11-30)
  ul
    li.new 新役職「鬼」を追加しました。(375005a)
  h2 v1.14.33 (2020-10-30)
  ul
    li.new 新役職「仮装者」を追加しました。(0e0eaa94)
  h2 v1.14.32 (2020-09-30)
  ul
    li.new 新役職「月狼」を追加しました。(24edb013, 箱庭)
    li.new 新役職「悪戯妖精」を追加しました。(166fe8a7, 箱庭)
    li.new 新役職「夢遊病者」を追加しました。(aacd1d7, 箱庭)
    li.bugfix 課金者が役職変化能力を使用すると同時に死亡した場合に役職が変化していた問題を修正し、変化しないように修正しました。(89fe857, 箱庭)
  h2 v1.14.31 (2020-08-31)
  ul
    li.new 新役職「イカサマ師」を追加しました。(15aee55)
    li.new 新役職「印狼」を追加しました。(2800e86)
  h2 v1.14.30 (2020-07-31)
  ul
    li.new 新役職「ギャンブラー」を追加しました。(132d62e)
    li.change 「ローレライ」を自由配役・一部闇鍋で選択できないようにしました。(f872c2a, 箱庭)
    li.bugfix 特定の条件でゲーム開始時にサーバーが応答しなくなる問題を修正しました。(79a4a08, Sunev)
  h2 v1.14.29 (2020-06-28)
  ul
    li.new 新役職「ローレライ」を追加しました。(4851de5, 箱庭)
  h2 v1.14.28 (2020-05-31)
  ul
    li.new 新役職「直感派狼」を追加しました。(13fcb7a, 箱庭)
    li.bugfix ケミカル人狼で右側が課金者の場合、ガチャが引けなくなることがある問題を修正しました。(a7490b4)
  h2 v1.14.27 (2020-04-26)
  ul
    li.new 新役職「在宅者」を追加しました。(aa75866)
  h2 v1.14.26 (2020-03-30)
  ul
    li.new 新役職「呪狼」を追加しました。(ba152ca, 箱庭)
    li.new 新役職「一言主神」を追加しました。(22ab3bf, 箱庭)
    li.bugfix 月下美人に魅了された人が、月下美人以外が原因の後追い死亡を行わなくなる問題を修正しました。(a60a681, Sunev)
  h2 v1.14.25 (2020-02-28)
  ul
    li.new 新役職「月下美人」を追加しました。(a1083464, 箱庭)
    li.new 新役職「野生児」を追加しました。(1e0a957, 箱庭)
    li.bugfix ドッペルゲンガー等の効果により配信者から別の役職に変化した場合、その後視聴者が0人になるとさらに村人に変化してしまう問題を修正しました。(f60fe27)
    li.bugfix ニートが怪盗に盗まれてまだ気づいていない状態の場合、投票しなくてよい能力は消えないようにしました。(5f2076f)
    li.bugfix エンドレス闇鍋で参加ボタンを押したあと実際に参加する前にゲームが終了した場合、「観戦者」として戦績が残る問題を修正しました。(27997c5)
  h2 v1.14.24 (2020-02-03)
  ul
    li.bugfix v1.14.23以降闇鍋で「視聴者」が出現することがある問題を修正しました。(1f0886a, Sunev)
    li.bugfix ケミカル人狼で配信者が右側に存在する場合、引退時に配信者ではなく左側の役職が村人に変化する問題を修正しました。(8b7caa0)
  h2 v1.14.23 (2020-01-27)
  ul
    li.new 新役職「配信者」を追加しました。(c33d7b2)
    li.change トナカイが初日で死亡するのを防ぐため、身代わりセーフティがありの場合に身代わりくんがサンタクロースにならないようにしました。。(5baa761, Sunev)
    li.bugfix 邪魔狂人・丑刻参・巫女などの1日限りの能力を複数同時に受けた場合、効果が2日以上残ってしまうことがある問題を修正しました。(6ffb079, Sunev)
    li.bugfix トナカイがサンタクロースの後を追って死亡した場合の死因表示が正しくない問題を修正しました。(5c65ded, Sunev)
  h2 v1.14.22 (2019-12-23)
  ul
    li.new 新役職「トナカイ 」を追加しました。(bb4b3f5)
    li.change 不評だったため、「闇道化」は闇鍋セーフティ低以上で配役されないようにしました。(cf3e560, 箱庭)
    li.change 「絶対狼」「預言者」「運命の子」が闇鍋で配役される確率を他の役職よりも低くしました。(cf3e560, 箱庭)
    li.bugfix 共感覚者の戦績がある場合に戦績を表示できないことがある問題を修正しました。(78e53ce, 箱庭)
  h2 v1.14.21 (2019-11-23)
  ul
    li.new 新役職「共感覚者 」を追加しました。(4546eaf)
    li.bugfix フランケンシュタインの怪物で役職を吸収したとき、戦績がその役職で記録されることがある問題を修正しました。(c89f49a)
    li.bugfix アイドルのファンが4日目の夜に死亡/蘇生した場合、アイドルのファンが増える場合と増えない場合がある問題を修正し、4日目夜の開始時点を参照するようにしました。(19504e7)
    li.bugfix マイページでアイコンだけ変更しても、変更を保存するボタンが表示されない問題を修正しました。(ec6d358, Sunev)
    li.bugfix マイページでアイコンを消去したあと保存してもアイコンが消えない問題を修正しました。(981ec5e)
  h2 v1.14.20 (2019-10-15)
  ul
    li.new 新役職「課金者」を追加しました。(0a90b2d)
    li.new 新役職「運命の子」を追加しました。(26eff23, 箱庭)
    li.change トップページのコンテンツを増量しました。(0cac9a9)
    li.bugfix 絶対狼が他の陣営に変化しているにも関わらず、死亡しない能力が適用されてしまうことがある問題を修正しました。(e03aa47, 箱庭)

  h2 v1.14.19 (2019-09-18)
  ul
    li.new 新役職「絶対狼」を追加しました。(65bf50a, 箱庭)
    li.new 新役職「預言者」を追加しました。(58e5c85, 箱庭)
    li.new 新役職「夜兎」を追加しました。(e44b398, 箱庭)
    li.new 発言中でダイスコマンドが使用可能になりました。「!1d100」のように発言すると使用できます。(f995f57)
    li.bugfix ケミカル人狼で一匹狼×人狼陣営の場合、その人は一匹狼陣営ではないにも関わらず最後まで残ると一匹狼勝利となってしまい自らが勝利できない問題を修正しました。(6471a3a)
    li.bugfix 練習部屋で、占い結果が「村人」だった人が実際には人狼であることがある問題を修正しました。(73c92d3)
    li.bugfix 狂愛相手が死亡済みの狂愛者がいる場合、風来狩人の「もう護衛できません」というログが100回表示されてしまう問題を修正しました。(b72260b)
  h2 v1.14.18 (2019-08-26)
  ul
    li.bugfix プロフィールの表示がスマートフォンで崩れる問題を修正しました。(195df67)
    li.bugfix 一部闇鍋で「第三陣営系」を編成した場合、ヴァンパイア陣営がいないのに吸血鬼の眷属が出現することがある問題を修正しました。(59cb120)
    li.bugfix 怪盗が二重人格を盗んだ場合、次の夜になるまでどちらの人格でもない状態になる問題を修正しました。(260d62d, 箱庭)
    li.change 埋毒者や猫又の毒・罠師の罠によって人狼が死亡する場合、襲撃権を持たない孤独な狼が死亡対象に選ばれないように修正しました。(177231a, 箱庭)
    li.change 人身御供が能力を使用した後に能力対象よりも先に自分が死んだ場合、その後に能力対象が死亡しても身代わり能力が発動しないようにしました。(ec42a3e, 箱庭)

  h2 v1.14.17 (2019-08-24)
  ul
    li.new 新役職「闇道化」を追加しました。(84ce904, 箱庭)
    li.new 新役職「二重人格」を追加しました。(133367b, 箱庭)
    li.new 新役職「人身御供」を追加しました。(8520a45, 箱庭)
    li.new マイページに「練習部屋」を追加しました。ゲームの操作を体験できます。(6897e93)
    li.change マイページのデザインを変更しました。(655cc29)
    li.bugfix ページを再読み込みするとログインしていない扱いになってしまうことがある問題を修正しました。(70bdb63)

  h2 v1.14.16 (2019-07-28)
  ul
    li.new 新役職「修験者」を追加しました。(68f8c0c, 箱庭)
    li.new 闇鍋セーフティに「低+」を追加しました。(47fd827, 箱庭)
    li.change 身代わりセーフティありの場合に身代わりくんが鴉にならないようにしました。(68f8c0c, 箱庭)
    li.change 敗北村の場合、ゲーム開始時のルール表示に「敗北村」と表示するようにしました。(680210b, 箱庭)
    li.bugfix 歌人がサイコキラーに歌を送っても死亡しない問題を修正しました。(282b55c, 箱庭)
    li.bugfix 天邪鬼がケミカル人狼で常に勝利となる問題を修正しました。(b292eb0, 箱庭)
  h2 v1.14.15 (2019-06-23)
  ul
    li.new 新役職「天邪鬼」を追加しました。(4226411)
    li.bugfix エンドレス闇鍋でゲーム中に「ゲームに参加する」ボタンを押して待機中の場合、ゲームが猶予時間になると観戦者の発言が独り言になる問題を修正しました。(7c98da2)
    li.bugfix 覆面モード時にエンドレス闇鍋に途中参加できない問題を修正しました。(c688ba5)
    li.bugfix ゲーム開始画面で、実際は足りているのに「人数が足りません」というエラーが表示されることがある問題を修正しました。(590bf6b, dae98dd)
  h2 v1.14.14 (2019-05-30)
  ul
    li.new 新役職「歌人」を追加しました。(2f1cde4)
    li.change 闇鍋でニートが配役される確率をこれまでの約6割に減らしました。(c29753e, 箱庭)
    li.change 奇術師の能力を出典に合わせて仕様変更しました。奇術師によって襲撃先をすり替えた場合、襲撃先が狩人や罠師などに護衛されいても襲撃を阻止できないようになりました。(58e0fbc)
    li.bugfix 猫又による誤爆蘇生の際に、その夜に死亡した人が即座に蘇生されないようにしました。(40affcc, Sunev)
    li.bugfix ケミカル闇鍋で罠師に護衛された人が「人狼系×ヴァンパイア」にヴァンパイアの能力で襲撃された場合、ヴァンパイアが罠にかかるのではなく人狼系が罠にかかってしまう問題を修正しました。(334f9ef, Sunev)
    li.bugfix 霊界表示ありでヘルパーがついている人が死亡したあと、本人には全てのログが見えているのにヘルパーはログを見ることができない問題を修正しました。(fbfa8cf)
    li.bugfix ケミカル人狼で怪盗が役職を盗んだ場合、盗まれるのは左側の役職のみであるにも関わらず怪盗が両方の役職を知ることができる問題を修正しました。(824774c)
  h2 v1.14.13 (2019-04-25)
  ul
    li.new 新役職「精霊使い」を追加しました。(664e010)
    li.new 新モード「かんたん闇鍋」を追加しました。(d6671c3)
    li.change 「準備完了/準備中」ボタンを押して[ready]表示がついた後、一定時間で自動的に[ready]表示が消えるようにしました。(0aafbd7)
    li.bugfix 部屋を建てた人がゲームに参加していない状態でエンドレス闇鍋を開始した場合、部屋を建てた人に「ゲームに参加」ボタンだけでなく「ゲーム開始画面を開く」などのボタンも表示される問題を修正しました。(ff4eac0)
    li.bugfix 闇鍋セーフティ「高」以上で闇鍋を開始しようとしたとき、正しく配役されずにゲームを開始できないことがある問題を修正しました。(a6c130c)
    li.bugfix 闇鍋セーフティ「中」以上で占い師が高い確率で配役される機能を、一部闇鍋ですでに占い師が固定されているときは動作しないようにしました。(2b10245)
    li.bugfix 昼の投票の猶予時間中に未投票の人がゲームマスターにより死亡させられた状態で猶予時間が切れた場合、すでに投票した人も突然死してしまう問題を修正しました。(793f17a)
    li.bugfix ケミカル人狼で右側の狡猾な狼が一度死んだふり・蘇生能力を使用したあとに他の要因で死亡した場合に蘇生してしまうことがある問題を修正しました。(4d49988, Sunev)
    li.bugfix ケミカル人狼でコピーが暴徒をコピーした場合に役職が1つだけになってしまう問題を修正しました。(d6afb36)
    li.bugfix 怪盗が酔っ払いになっている人を盗んだ場合、盗んだ役職が「村人」と表示される問題を修正しました。(664ba9a)
    li.bugfix ケミカル人狼で右側に怪盗を持つ人が他の人の役職を盗むのと同時に自分の役職を別の怪盗に盗まれた場合、自分の役職が盗む前の状態に戻ってしまう問題を修正しました。(760af73)
    li.bugfix 闇鍋セーフティ「高」以上で、狼の子などの「人狼系が1人のときは出現しない」人狼系役職が出現することがある問題を修正しました。(377b69e)
  h2 v1.14.12 (2019-03-27)
  ul
    li.new 新役職「侍」「ドラキュラ」「吸血鬼の眷属」を追加しました。(e20d8ca)
    li.new 設定「昼の時間を生存者の人数に応じて決める」を追加しました。(946ce33)
    li.change 欲張りな狼が襲撃に失敗したとき及び一途な狼が自身の能力で死亡したときの死因がこれまで「人狼の襲撃」となっていましたが、独自のものに変更しました。(fe7a9ad, 箱庭)
    li.bugfix 人狼系等の仲間が見える役職が酔っ払いになった場合に仲間が見えるままになってしまう問題を修正しました。(96a6698)
  h2 v1.14.11 (2019-03-17)
  ul
    li.change 禁止行為に「他の部屋の内容について議論する行為」を追加しました。(e221ec2)
    li.bugfix 人狼系を怪盗に盗まれた場合、次の昼にその怪盗が人狼の仲間として見えてしまう問題を修正しました。(30a5061)
  h2 v1.14.10 (2019-03-03)
  ul
    li.change 身代わりくんがコピーになった場合、コピー先として人外を選択する確率を減らしました。(85db3d2, 箱庭)
    li.change 闇鍋セーフティが「なし」の場合に血まみれのメアリーがこれまで配役されなかったのを、配役されるように変更しました。(a65d0a4, 箱庭)
    li.change ゲームマスターありの村では開始前もゲームマスターの発言時の名前が「ゲームマスター」となるようにしました。また、観戦者の発言が禁止の村で、ゲームマスターも開始前に発言できなくなる問題を修正しました。(f30a4f0)
    li.change ケミカル人狼では、パティシエールの義理チョコによる「ストーカー化」が発生しないようにしました。(509e1aa, 箱庭)
    li.change 猶予時間中でも独り言を発言できるようにしました。(b1d50d9)
    li.change 身代わりくんがハンター・復讐人の能力を発動したとき、対象選択時間の終了まで待たなくても自動で対象を選択するようにしました。(d4d4a95)
    li.bugfix ドッペルゲンガーが2回目の役職変化をできないことがある問題を修正しました。(70e3915)
    li.bugfix 設定で「初日白通知」がありの場合、サトリの能力使用先も自動で決定されるようにしました。(9325fd9, 箱庭)
    li.bugfix 設定で「初日白通知」がありの場合に初日の占い師が忍者に「行動可能でない」と判断されていた問題を修正しました。(c674d64, d80f9dc, 箱庭)
    li.bugfix サンタクロースから占いセットが届くと同時に妖術師やサトリの能力の対象になった場合、占い師であると判定されるかどうかがランダムになっていた問題を修正し、占い師でないと判定されるようにしました。(08d1db6, 箱庭)
    li.bugfix 怪盗に役職を盗まれた直後の人が、勝利判定において村人に数えられない問題を修正しました。(f122ebf, 箱庭)
    li.bugfix 爆弾魔によって爆弾を仕掛けられた人の爆弾が爆発した後にその人が生存していた場合に爆弾の効果が残ってしまう問題を修正しました。(9a19175)
    li.bugfix 威嚇する狼によって威嚇されているとき、邪魔狂人や丑刻参の効果が2日以上残ってしまうことがある問題を修正しました。(b39b03e)
    li.bugfix パティシエールの義理チョコによって役職がストーカーに変化した際、恋人などの付加状態が全て消える問題を修正しました。(dd3472f)
    li.bugfix 人狼が罠師に守られた人を襲撃すると同時に死亡した場合、罠の効果が発揮されずに襲撃された人が死亡してしまうことがある問題を修正しました。(be4298d)
    li.bugfix ケミカル人狼の配役時に2つの役職の順番が決まっており、左に来やすい役職と右に来やすい役職が合った問題を修正しました。(38ed91e)
    li.bugfix ケミカル人狼で人狼系を把握できる役職が左に、孤独な狼が右にある人が、人狼系を把握できない問題を修正しました。(128665f)
    li.bugfix ヘルパー先の参加者が死亡した場合に、ヘルパーの画面で背景色が霊界のものに変わらない問題を修正しました。(ab0b38d)
    li.bugfix 盗人を含む配役の場合に、役職を余らせる処理によって盗人自体が除外されることがある問題を修正しました。(d9a274f)
  h2 v1.14.9 (2019-02-21)
  ul
    li.new 新役職「竜騎士」「サトリ」を追加しました。(5d527bb, 5cf86d5)
    li.change 禁止行為を修正し、「不正行為を助長する行為」の項目を追加しました。(b6c1ad4)
    li.change 新しいルームの作成画面のデザインを変更しました。また、ルーム作成時にそのルームでの観戦者の発言を禁止とする機能を追加しました。(518c49d)
    li.change オカルトマニアが人狼に変化するのと同時に占われた場合等に場合によって結果が異なる問題を修正し、変化前の結果が出るように統一しました。(2a3ab04, 箱庭)
    li.bugfix ドッペルゲンガーによって変化した役職の能力が使えないことがある問題を修正しました。(1428f0d)
    li.bugfix 猫又の能力使用時、手が滑って別の人を蘇生したというログが表示されるにも関わらず正しい対象が蘇生されることがある問題を修正しました。(ea805eb, Sunev)
    li.bugfix 巫女が能力を使用した次の昼に威嚇する狼に威嚇された場合、巫女の能力が1日延長される問題を修正しました。(4242bc2)
    li.bugfix フランケンシュタインの怪物が威嚇する狼に威嚇された状態で能力を吸収した場合、吸収した能力の効果が発揮されてしまうことがある問題を修正しました。(045a9e6)
  h2 v1.14.8 (2019-02-10)
  ul
    li.change コスプレイヤーの霊能結果を「村人」から「人狼」に修正しました。(68e6253, 箱庭)
    li.change 闇鍋の人外数調整がありの場合、参加人数10人・11人で人狼系が3人配役されることが無いようにしました。(934c0f6, 箱庭)
    li.change 闇鍋以外の配役でも、占い結果を変化させる役職が存在する場合に自動的に占い結果の設定が「すぐに分かる」から「翌朝分かる」に変更されるようにしました。(e8f3502, 箱庭)
    li.change 黒猫の能力が発動した場合、終了後に閲覧可能なログで誰が対象となったか表示されるようにしました。(66d9608, 箱庭)
    li.change ゲームの途中で何らかの要因で暴徒が発生した場合、任命される警備員の数を全参加者の人数ではなく生存者の数に基づいて決定するように修正しました。(b08c08d, 箱庭)
    li.change 暴徒によって死亡者が警備員に選ばれることがある問題を修正しました。(306c12a, 箱庭)
    li.bugfix ドッペルゲンガーの能力で2回役職変化した場合、3回目の変化対象を選択できない問題を修正しました。(35db5b3)
    li.bugfix 闇鍋の陣営数調整がありの場合、本来より村人陣営の役職が多めに配役されることがある問題を修正しました。(3231264)
    li.bugfix 初日白通知がありの場合、仙狐が占い対象に選ばれることがある問題を修正しました。(829fea7, 箱庭)
    li.bugfix 霊能者が蘇生した場合、古い霊能結果が表示されることがある問題を修正しました。(0ae9e72)
    li.bugfix 風来狩人が蘇生した場合、死亡時に護衛していた人が蘇生と同時に護衛不能になることがある問題を修正しました。(2109c00)
    li.bugfix 村人陣営以外の人が怪盗に役職を盗まれた場合、盗まれたのが発覚する前から女王観戦者が誰か分かるようになる問題を修正しました。(19bc1a5)
    li.bugfix 怪盗によって役職を盗まれた人が、翌朝のアイドルの能力で村人陣営として数えられない問題を修正しました。(7bc8865, 箱庭)
    li.bugfix 怪盗によって役職を盗まれた人が翌朝処刑された場合、フランケンシュタインの怪物によって怪盗ではなく本来の役職が吸収される問題を修正しました。(6b0c07e)
    li.bugfix 一部闇鍋で人狼系を全種類除外した状態でゲーム開始できる問題を修正しました。(d4dc8fb)
    li.bugfix ケミカル人狼で人狼占いによりヘルパーに変化した場合、その人が昼の発言をできなくなる問題を修正しました。(848b38d)
    li.bugfix ケミカル人狼で人狼占いによりヘルパーに変化した場合、その夜にヘルパー対象を選択しても何も起こらない問題を修正しました。(8374342)
    li.bugfix エンドレス闇鍋で途中参加した場合に戦績の役職が「観戦者」で記録される問題を修正しました。(b04ddba)
    li.bugfix 暴徒によって警備員になった人が初日に能力を使用できることがある問題を修正しました。(c4305eb)

  h2 v1.14.7 (2018-12-31)
  ul
    li.new 新役職「帰省者」「奇術師」を追加しました。(ec29889, b43338d)
    li.bugfix v1.14.5以降、爆弾魔の爆弾でヴァンパイアが死亡しなくなっていた問題を修正しました。(0ce7350)
    li.bugfix エンドレス闇鍋での転生時に暴徒により付加される役職である「暴動者」や「警備員」に転生することがある問題を修正しました。(187c409, Sunev)
    li.bugfix 暴徒や暴徒によって付加される役職の能力の対象にサイコキラーを指定しても死亡しない問題を修正しました。(e6fc92d, 箱庭)

  h2 v1.14.6 (2018-12-24)
  ul
    li.new 新役職「暴徒」を追加しました。ハロウィン・クリスマス・年末の時期に出現率が高い役職です。(da58028)
    li.change 猫又による誤爆蘇生が発生した場合、終了後または霊界からのみ閲覧可能なログでその旨を表示するようにしました。(d687f49, Sunev)
    li.bugfix ケミカル人狼で、ストーカーが陣営の無い人をストーキングした場合に、ストーキング先が敗北しているにも関わらずストーカーが勝利してしまう問題を修正しました。(6052e54)
    li.bugfix 舌禍狼が処刑されたあと蘇生された場合に、古い味見結果が表示されることがある問題を修正しました。(3bb3b95)
    li.bugfix パティシエールによってチョコレートが配られると同時に本命の相手が死亡した場合、パティシエールが単独の恋人となることがある問題を修正しました。(91a6ec4, 箱庭)

  h2 v1.14.5 (2018-12-16)
  ul
    li.change 称号一覧及び肩書きの編集画面を、マイページから専用のページに移動しました。マイページにあるリンクから称号一覧・肩書き編集画面に移動可能です。(b5d9dda)
    li.change 一部のスマートフォンではこれまで肩書きを編集できませんでしたが、タップによる操作を追加してスマートフォンでも肩書きの編集をできるようにしました。(b5d9dda)
    li.change ドッペルゲンガーが怪盗に盗まれると同時に他の役職に変化した場合、怪盗に役職を盗まれた後もドッペルゲンガーの能力を使用して他の役職に変化することができたのを、できないように変更しました。(257fe1b)
    li.bugfix エンドレス闇鍋で、アイドルのファンになった人が転生してファンでなくなったにも関わらず、アイドル側がその人をファンだと認識し続ける問題を修正しました。(73171d4, Sunev)
    li.bugfix 爆弾魔に爆弾を仕掛けられた人が護衛されると同時に人狼に襲撃された場合、襲撃された人と狩人のみが爆弾の効果で死亡し、人狼が死亡しなかったことがある問題を修正し、3人全員が死亡するようにしました。(738fc10)

  h2 v1.14.4 (2018-12-06)
  ul
    li.change サイコキラーの能力が夜のみ有効となるように修正しました。（昼に能力を使用する独裁者や威嚇する狼がサイコキラーに対して能力を使用しても殺されなくなりました。）(8dced59, 箱庭)
    li.change エンドレス闇鍋で身代わりくんは転生しないようにしました。(4833826, 箱庭)
    li.bugfix スマートフォン向け表示で量子人狼の確率表の表示が崩れる事がある問題を修正しました。(1f03593)
    li.bugfix 「狂愛者」に対して闇鍋の陣営調整が行なわれていなかった問題を修正しました。(7b07e8b)
    li.bugfix ケミカル人狼でサイコキラーが右側に存在する場合、サイコキラーの効果が発動しないことがある問題を修正しました。(c2823fb, Sunev)
    li.bugfix 恋人になった人が怪盗に役職を盗まれた場合、次の夜まで恋人が2重に表示される問題を修正しました。(de892cf)
    li.bugfix 威嚇する狼に、死亡後も昼になると能力使用フォームが表示される問題を修正しました。(6aa0146)
    li.bugfix 夜の能力未使用によって占い師が突然死し、それと同時に見習い占い師が占い師に変化した場合、猶予時間が終了したにも関わらず見習い占い師が能力を使用するまでゲームが進まなくなる問題を修正しました。(449a313)
    li.bugfix 霊能結果が「村人」以外の人が怪盗に能力を盗まれた直後に処刑された場合、霊能結果が怪盗の「村人」ではなく本来の結果となる問題を修正しました。(7bfe336)
    li.bugfix 1日目の夜に人狼系が襲撃可能な設定の場合、まだ能力を使用できないにも関わらず囮狼の能力使用フォームが表示される問題を修正しました。(985e8ec)
  h2 v1.14.3 (2018-11-25)
  ul
    li.new 新役職「狂愛者」を追加しました。(8d019f6)
    li.change 死亡した人の詳細な死因、埋毒者の毒の対象、巫女の防御が発動したときなどの情報がログに残るようになりました。これらのログは霊界から、またはゲーム終了後にのみ閲覧可能です。(0fd4ee2, Sunev)
    li.bugfix 「同じルールで新しい部屋を建てる」機能を利用後に部屋を移動したりした場合、保存されているルールから時間の情報が失われる問題を修正しました。(088d396)
  h2 v1.14.2 (2018-11-23)
  ul
    li.change スマートフォン向け設定に文字の大きさ「極小」を追加しました。(ff62367)
    li.change 占いセットを受け取った人狼系をオカルトマニアが対象に選択した場合、これまでは占い師になっていたのを、人狼になるように変更しました。また、ケミカル人狼で「人狼×占い師」の人を選択した場合もこれまで占い師になっていたのを人狼になるように変更しました。(5c47c0b)
    li.change ゲーム開始画面を開いたあとに入退室したり他のページに移動したりした場合、設定内容が保存されるようにしました。(8785e69)
    li.change ケミカル人狼で、怪盗は左側の役職しか盗めないにも関わらず盗まれた側の左右両方の役職を知ることができていましたが、左側しか知ることができないように変更しました。(76e02c9)
    li.bugfix v1.14.0以降、Google Chromeで長いログが最後まで表示されなくなっていた問題を修正しました。(7103497)
    li.bugfix ケミカル人狼で右側の役職の能力使用フォームが必須の場合にも「任意」と表示される問題を修正しました。また、ケミカル人狼で身代わりくんが右側の役職の能力を使用せずに突然死することがある問題を修正しました。(fcceb0b)
    li.bugfix ケミカル人狼で「パン屋×パン屋」がいる場合、朝のメッセージが2回表示されることがある問題を修正しました。(92db3f1)
    li.bugfix 催眠術師により逃亡者の能力が無効化された夜に、逃亡者が逃亡先として選択した人を人狼が襲撃した場合、逃亡先の能力が無効化されているにも関わらず逃亡者が死亡してしまう問題を修正しました。(d74ae6c)
    li.bugfix v1.14.0以降、身代わりくんが人狼系の場合に、他に人狼系の生存者が居るにも関わらず身代わりくんが襲撃先を決定することがある問題を修正しました。(8abdbad, Sunev)
    li.bugfix 鴉が1人の状態から新たに鴉に変化した参加者が居る場合、鴉が1人以下になったときのシステムメッセージが表示されないことがある問題を修正しました。(99a39bc, Sunev)
    li.bugfix ゲーム開始時やルール表示時の配役一覧表示において、オカルトマニア、呪われた者、血まみれのメアリーが2回表示されていた問題を修正しました。(be1a2e3)
    li.bugfix 血まみれのメアリーが死亡して能力を発動した場合、霊界やゲーム終了後に表示される役職名が正しくないことがある問題を修正しました。(b581a88)
    li.bugfix 赤ずきんが人狼系に襲撃されると同時にその人狼系が死亡して赤ずきんが蘇生した場合、赤ずきんの死因が正しく表示されない問題を修正しました。(5bb9e9b)
  h2 v1.14.1 (2018-11-18)
  ul
    li.change メニューに「設定」を追加し、スマートフォン向け表示のON/OFFを切り替えたりその他の設定を行えるようにしました。(549c242)
    li.bugfix 古いiOS及びEdgeにおいて、スマートフォン向け表示が崩れる問題を修正しました。(549c242)
    li.bugfix v1.14.0以降、ゲーム終了後のプレイヤー一覧で役職名と「蘇生辞退」の表示が重なって表示される問題を修正しました。(549c242)
  h2 v1.14.0 (2018-11-18)
  ul
    li.change スマートフォンで月下人狼を表示した際のユーザーインターフェースを一部ページで改良しました。(3fe3de1)
    li.change これに伴ってルーム一覧のユーザーインターフェースを変更しました。(3fe3de1)
    li.change 15秒ルールを使用している場合に、発言禁止時間の残り時間を表示するようにしました。(e82e1ae)
    li.bugfix 怪盗に役職を盗まれた場合に恋人が消える問題を修正しました。(8a98b70)
    li.bugfix 恋人になった際などに、必須の能力仕様欄に「任意」と表示されることがある問題を修正しました。(c636b6a)
    li.bugfix ドッペルゲンガーの能力によって変化した後、別の役職の能力によってさらに役職が変化した場合、2回目のドッペルゲンガーの能力が正しく発動しない問題を修正しました。(d79162c)
    li.bugfix 爆弾魔がハンターに爆弾を仕掛けた場合、そのハンターが死亡しても銃撃が発生しなくなる問題を修正しました。(18156ec)
  h2 v1.13.17 (2018-11-01)
  ul
    li.change 聖職者や巫女の能力では突然死を防げないように変更しました。(b04f8c7)
    li.bugfix v1.13.16以降、狡猾な狼が死んだふりからの蘇生に失敗することがあった問題を修正しました。(15bd945)
    li.bugfix ケミカル人狼で盗人を配役した場合、盗人が右側にある場合に「村人」しか選択できない問題を修正しました。(a9a2e3a)
    li.bugfix 盗人の変化対象選択メッセージが正しくない問題を修正しました。(8672ddd)
    li.bugfix 怪盗が「村人系」と「役職変化系」の両方に属していた問題を修正し、「役職変化系」だけにしました。(fda74fc)
    li.bugfix v1.13.16以降、ゲーム開始時やルール表示時の出現役職一覧にニートが表示されなくなっていた問題を修正しました。(03bed67)
    li.bugfix 囮狼がサイコキラーを対象に選択しても死亡しない問題を修正しました。(b26bce8)
    li.bugfix 嘘つきが能力を無効化されて夜の能力を使用できなかった場合、次の朝に古い結果が表示されてしまう問題を修正しました。(d645ce6)
    li.bugfix カウンセラーの能力の対象になった人がその晩に他の人の後を追って死亡した場合、死亡直前に更生者となってしまう問題を修正しました。(14d4903)
    li.bugfix 人狼占いによって狂人変化した人が予言者のママになった場合、次の夜ではなくその夜に占い師が誰か表示されてしまう問題を修正しました。(73c0fc5)
  h2 v1.13.16 (2018-10-28)
  ul
    li.new 新役職「囮狼」を追加しました。(e8fdf0d)
    li.change ゲーム開始時のログや、ゲーム画面からルールを表示したときの出現役職一覧において、役職の順番を陣営ごとにまとまるように修正しました。(07ba320, 6388017)
    li.bugfix チャットでURLなどの非常に長い文字列を発言したときに、ゲーム画面の横幅が画面におさまらないことがある問題を修正しました。(f46984f)
    li.bugfix 村人陣営の役職のヘルパーとなっているとき、ヘルパーには女王観戦者が誰か表示されない問題を修正しました。また、ヘルパーにも対象者の現在の陣営が表示されるようにしました。(f87e0ec)
    li.bugfix ヘルパーがついている人が恋人に変化した場合、本人はすぐに陣営の表示等が変化する一方、ヘルパーは翌朝になるまで表示が更新されない問題を修正しました。(78298d9)
    li.bugfix ドッペルゲンガーが2回以上役職変化した場合、遺言が消えてしまう問題を修正しました。(824e2ee, Sunev)
    li.bugfix 呪われた者が人狼に変化するときのログが2回表示される問題を修正しました。(cd29905, Sunev)
    li.bugfix 初日に身代わりくんがコピーで誘惑する女狼をコピーした場合に身代わりくんが突然死してしまう問題を修正しました。(7ad7156)
    li.bugfix 出現役職の一覧が判明している状況でゲーム画面からルールを表示したとき、出現役職一覧にニートなどの一部役職が出現しない問題を修正しました。(79d9f7d)
    li.bugfix 闇鍋以外のルールで出現役職一覧が公開されていないとき、ルールの設定一覧に「闇鍋セーフティ」が出現する問題を修正しました。(5cac02c)
    li.bugfix 呪いをかける者の能力を受けた人にさらに別の付加状態が追加された場合、昼に発言できてしまう問題を修正しました。(937bb0b)
  h2 v1.13.15 (2018-10-10)
  ul
    li.change 設定で「霊界表示」が「あり」の場合でもエンドレス闇鍋では霊界で他人の役職などが表示されないようにしました。(772be5f)
    li.change 雪女が法医学者に「耐性なし」と判定されていた問題を、「耐性あり」と判定されるように修正しました。また、子狐が「耐性あり」と判定されていたのを「耐性なし」と判定されるように修正しました。(f7ca804)
    li.bugfix 老人の老衰などの一部の自死能力が、ケミカル人狼で右側だった場合などに聖職者の守りなどを無視することがある問題を修正しました。(c29ba50)
    li.bugfix 複数の怪盗が同じ人から役職を盗んだり、怪盗の能力を別の怪盗が盗んだりした場合に役職が増殖したり消えたりすることがありましたが、役職の数が変化しないように修正しました。(c2f4dd8)
    li.bugfix 遺言フォームを縦に伸ばせない問題を修正しました。(2092fd7)

    li.bugfix ケミカル人狼でストーカーが勝利条件を満たしても勝利できないことがある問題を修正しました。(f7ca804)
    li.bugfix 決選投票が常にありの場合、1日で複数人処刑する場合に2人目以降で決選投票が行われないことがある問題を修正しました。(30aa13b)
    li.bugfix タフガイが人狼系の襲撃を耐えた次の昼に処刑された場合、次の夜に既に死亡しているタフガイが再び死亡する問題を修正しました。(8c45bc8)
    li.bugfix 身代わりくんが生存しておりゲームの終了条件を満たした状態で夜を迎えた場合、ゲーム終了よりも前に身代わりくんが行動することがある問題を修正しました。(e456f8d)
    li.bugfix 狩人の護衛などの1日で解除される付加状態を同時に複数与えられた場合、それらの効果時間が延びてしまうことがある問題を修正しました。(d93dae5)
    li.bugfix ゲームマスターがプレイヤーを蘇生させてもそのログがすぐに出ない問題を修正しました。(b5b1992)
    li.bugfix ケミカル人狼において人狼などの夜会話可能な役職が右側にある場合、夜になったときの発言の種類のデフォルトが夜会話ではなく「独り言」になっている問題を修正しました。(39694ee)
    li.bugfix パティシエールによって届けられたチョコレートを食べると同時に催眠術師の能力を受けた場合、チョコレートを食べた結果がその夜ではなく次の夜に表示される問題を修正しました。(d3c648a)
    li.bugfix ケミカル人狼で占い師が右側にいる場合に、占い師が死亡したにもかからわず占い結果が表示されることがある問題を修正しました。(6fa9d99)
    li.bugfix フランケンシュタインの怪物の能力や商人の能力によって占い師などの能力を得た場合、その発動は任意であるにも関わらず能力発動フォームに「必須」と表示されている問題を修正しました。(c44602a)
    li.bugfix 花火師により花火が上がっている状態でハンターが死亡した場合に銃撃対象を選択できない問題を修正しました。(8e6737d)
    li.bugfix ゲームマスターが昼のうちにハンターを死亡させた場合、ハンターの能力発動後に夜ではなく昼になる問題を修正しました。(87c20af)
    li.bugfix 特定の条件を満たした場合に狂人狼が人狼の襲撃対象を選択できるようになる問題を修正しました。(d8aa673)
    li.bugfix 一途な狼の能力を使用後も一途の狼の能力使用フォームが消えない問題を修正しました。(9af13d9)
    li.bugfix 赤ずきんを襲撃した人狼系が死亡した場合に、赤ずきんが蘇生するよりも先に勝利判定が行われましたが、赤ずきんの蘇生が先に行われるようにしました。(fdb32eb)
    li.bugfix 悪霊憑き本人の発言と霊界からの発言が、アイコンの有無や発言抽出機能によって区別できてしまう問題を修正しました。(60a7bfc)
    li.bugfix 悪霊憑きが呪いをかける者によって昼に発言できない状態にされている場合、霊界の発言がその悪霊憑きの発言とならないように修正しました。(ac14575)
    li.bugfix ハンターによる銃撃対象選択中に、ヘルパーの発言が独り言になってしまう問題を修正しました。(03a1068)
    li.bugfix 2日目以降に盗人に変化した場合に変化先の役職を選択できない問題を修正しました。(f0bf8db)
    li.bugfix ケミカル人狼で盗人が常に勝利となっていた問題を修正しました。(f0bf8db)
  h2 v1.13.14 (2018-09-23)
  ul
    li.new マイページ内の「色設定」を拡充し、色の細かい設定ができるようにしました。(c7d8f98)
    li.change 老衰で死亡した老人をフランケンシュタインの怪物が吸収した際、これまでは次の晩に死亡していましたが、即座に老衰で死亡するように修正しました。(8dda87e)
    li.change 所属陣営が人狼陣営に変化している人が人狼占いに占われた場合、もともと狂人系でない役職が狂人変化することがありましたが、もともと狂人系の役職のみ狂人変化するように変更しました。(0b73c9d)
    li.bugfix 任意の能力であるにも関わらず、身代わりくんが超常現象研究者の能力を使用する問題を修正しました。(4a340fb)
    li.bugfix 突然死によりゲームが終了した場合に、ゲーム終了後に再投票の指示が表示される問題を修正しました。(e593996)
    li.bugfix ゲームマスターにより蘇生された身代わりくんが突然死することがある問題を修正しました。(49d8bf6)
    li.bugfix 人狼占いの占いが邪魔狂人に邪魔された場合に邪魔されたことを示すログが出ない問題を修正しました。(5ce5955)
    li.bugfix タフガイが人狼系に襲撃された次の昼に威嚇する狼に威嚇された場合に生き延びてしまう問題を修正しました。(298600e)
    li.bugfix パティシエールから本命チョコを受け取ったプレイヤーが、チョコを食べる前に自身が恋人陣営になったことを知ることができる問題を修正しました。(02cef1f)
    li.bugfix ケミカル人狼で、人狼からの襲撃耐性を持つ一部の役職が左側にあり、悪魔くんが右側にある場合に、襲撃されても悪魔くんの勝利条件を満たさない問題を修正しました。(85e6f26)
    li.bugfix ケミカル人狼で、ストーカーが勝利条件を満たしたにも関わらず敗北することがある問題を修正しました。(e7c48e1)
    li.bugfix ヴァンパイアが怪盗に盗まれた場合、次の昼に盗まれた側から見たヴァンパイアの一覧に自分ではなくヴァンパイアを盗んだ怪盗が表示される問題を修正しました。(0f8df48)
    li.bugfix 怪盗が妖狐系を盗んだ場合、盗んだ側から見た妖狐の一覧に自分と盗まれた人の両方が表示される問題を修正しました。(61e6a0c)
    li.bugfix 怪盗に役職を盗まれた人が次の昼に死亡した場合、自分が怪盗になったことが次の夜に通知されない問題を修正しました。(2a4969a)
    li.bugfix 王様が怪盗に盗まれた場合、次の昼の盗まれた人の投票数が2票のままになっていた問題を修正しました。(29dbd4c)
  h2 v1.13.13 (2018-09-20)
  ul
    li.bugfix 狂人変化時、フランケンシュタインの怪物が吸収した狂人系役職が変化していた問題を、変化しないように修正しました。(3297f1d)
    li.bugfix プレイヤー名に特定の文字が含まれているときに独り言のログの表示が崩れることがある問題を修正しました。(38af6db)
    li.bugfix v1.13.12以降、身代わりくんが死亡しているにも関わらず能力を使用したり、勝手に人狼系の襲撃先を決定したりする問題を修正しました。(8c52272)
    li.bugfix v1.13.12以降、怪盗が能力を発動した夜に死亡した場合に役職が交換されるようになっていた問題を修正しました。(9575cd5)
    li.bugfix v1.13.12以降、ケミカル人狼で変化前のドッペルゲンガーが常に勝利するようになっていた問題を修正しました。(5207ada)
  h2 v1.13.12 (2018-09-18)
  ul
    li.change 血まみれのメアリーの勝利条件が人狼陣営勝利に変更されたあとも所属陣営が村人陣営として扱われていましたが、所属陣営が人狼陣営に変更されるように修正しました。(bffe7de)
    li.change ケミカル人狼においてサンタクロースが村を去った場合、村人陣営が勝利しないとサンタクロースは勝利できませんでしたが、常に勝利できるように変更しました。(2bef89e)
    li.change 占い結果「すぐ分かる」の場合人狼占いによる狂人変化がすぐに起きていましたが、次の日の昼になると同時に変化するように変更しました。(28d2198)
    li.change 人狼占いにより占われた狂人系がその夜に死亡した場合、狂人変化が発生しないように変更しました。(f52d4ab)
    li.change 処刑投票で複数人処刑する場合に、処刑対象が決定したあと次の対象決定に移る際に再投票の回数がリセットされていなかったのを、リセットされるように変更しました。(841ac5b)
    li.change 設定で狼の子分がありの場合に、狼の子分に指定された人がすぐに狼の子分に変化するのではなく昼になるのと同時に変化するようにしました。(0ff3a50)
    li.change 猶予時間を1分未満に設定できないようにしました。また、猶予時間が残り1分未満の場合、ゲームマスターにより時間を短縮できないようにしました。(8c2c801)
    li.bugfix 雪女に守られている状態の人が他の死因で死亡した場合に死亡ログが表示されない問題を修正しました。(273ece6)
    li.bugfix 役職変化時に遺言が消えることがある問題を修正しました。(015cd1a)
    li.bugfix 爆弾魔によって爆弾を仕掛けられた人が狩人に護衛されると同時に人狼に襲撃された場合、狩人だけ死亡して人狼が死亡しなかった問題を修正し、両方死亡するようにしました。(7e88262)
    li.bugfix 昼になるのと同時に人狼系が死亡することで現在の日数が老人の寿命を上回った場合、老人がその日に死亡するのか次の日に死亡するのか一定しない問題を、常にその日に死亡するように修正しました。(1cb448a)
    li.bugfix 更生者や狼の子分になった人の陣営が正しく表示されない問題を修正しました。(87b399a)
    li.bugfix 一部闇鍋で「第三陣営系」などを利用しており、闇鍋セーフティを高以上に設定した場合、役職の数が正しく設定されずにゲームを開始できないことがある問題を修正しました。(d431f9e)
    li.bugfix 呪いをかける者によって発言できなくされた呪われた者が次の夜に人狼に変化した場合、呪いの効果がもう1日継続してしまう問題を修正しました。(5a3803a)
    li.bugfix 量子人狼で占い師の確率が見える設定の場合に確率表の表示が崩れる問題を修正しました。(94c6e3d)
    li.bugfix 逃亡者が人狼系の家に逃走するのと同時にその人狼系が死亡した場合、逃亡者が死亡する場合と死亡しない場合がありましたが、常に死亡するように修正しました。(437c710)
    li.bugfix 独裁者が能力を使用して決着が付いた場合、勝敗のアナウンスが2回表示されることがある問題を修正しました。(129ed5d)
    li.bugfix 設定で恋人の独立がなしの場合、決着時に恋人が複数組いて恋人以外の生存者がいるときに恋人勝利とならない問題を修正しました。(f8cbd81)
    li.bugfix カウンセラーにより更生者になった人が女王観戦者が誰か知ることができないことがある問題を修正しました。(cb8502e)
    li.bugfix 参加者が複数人から同時に蘇生された場合、蘇生されたログが複数回表示されることがある問題を修正しました。(bd08234)
    li.bugfix 雪女の能力で人狼系の襲撃が失敗した場合、瞳狼に表示される襲撃失敗理由が正しくない問題を修正しました。(c81c9a5)
    li.bugfix 一途な狼が護衛等を突破して襲撃対象を死亡させた場合、看板娘などの人狼系に襲撃されて死亡したときに発動する能力が発動しない問題を修正しました。(c4cfa79)
    li.bugfix 身代わりくんがコピーで自分自身をコピーした場合に、勝手に人狼の襲撃対象を決定するなどの不正な挙動をすることがある問題を修正しました。(64e76ab)
    li.bugfix 身代わりくんが怪盗の能力で自分自身を盗むことがある問題を修正しました。(64e76ab)
    li.bugfix ケミカル人狼で邪魔狂人に邪魔された場合、右側の役職は問題なく占い能力が使える問題を修正しました。(70d0798)
  h2 v1.13.11 (2018-09-08)
  ul
    li.new 新役職「雪女」「鴉」を追加しました。(ffaa9e3, 7364e7b)
    li.change 役職名やその他の情報を表示する部分のユーザーインターフェースを変更しました。ケミカル人狼以外でも常に陣営が表示され、陣営によって色が変わるようになりました。(f5bcdec)
    li.change 人狼占いがサイコキラーを占った場合、これまでは人狼占いは死亡しませんでしたが、死亡するように変更しました。(37bcdd8)
    li.change ケミカル人狼で夜の発言の種類を選択する画面において、「独り言」と役職に固有の選択肢（「人狼の会話」など）のどちらが上に来るかが一貫していませんでしたが、役職に固有の選択肢が独り言よりも常に上に来るように修正しました。(78c6111)
    li.change ゲームが引き分けになった場合でも、突然死した参加者は敗北と判定されるようになりました。(bd2ece0)
    li.change 占い師等が蘇生された場合に以前に使用した能力の結果が表示されていましたが、表示されないように変更しました。(d3c699e)
    li.change 占い師等が一時的に能力を無効化された場合に同じ結果が複数回表示されることがありましたが、表示されないように変更しました。(d3c699e)
    li.change 人狼の襲撃対象選択画面において、2回以上襲撃可能な場合は襲撃可能回数が表示されるようになりました。(725a99d)
    li.bugfix 悪魔くんが処刑されて勝利条件を満たした場合、ゲーム終了後の画面で悪魔くんが死亡状態になっていない問題を修正しました。(1f3c1cb)
    li.bugfix 怪盗が役職を盗んだ場合、盗んだ役職に加えて恋人などの情報が見えてしまう問題を修正しました。(0420c13)
    li.bugfix 悪女の能力で本命と手玉に同じ人を選んだ場合、選んだ人が手玉のみの扱いとなり恋人にならない問題を修正しました。(2505620)
    li.bugfix 身代わりくんが狩人やカルトリーダーになった場合、死亡している人を能力の対象に選択することがある問題を修正しました。(6c04ed9)
    li.bugfix マッドサイエンティストがサイコキラーに対して能力を使用しても死亡しない問題を修正しました。(1cbb874)
    li.bugfix 犬が飼い主に選んだ人が死亡している場合でも飼い主を襲撃するコマンドが出現する問題を修正しました。(aa03f98)
    li.bugfix 闇鍋セーフティ「低」以上の場合に闇鍋で仙狐が配役されない問題を修正しました。(9f89cc9)
    li.bugfix ヘルパーが猶予時間に発言できない問題を修正しました。(8b97058)
    li.bugfix カウンセラーが人狼系を対象に選択したと同時にその人狼系が死亡した場合、カウンセラーが死ぬ場合と死なない場合があった問題を、常に死ぬように修正しました。(51edf39)
    li.bugfix カウンセラーが能力の対象に選んだ人が同じ夜に死亡した場合、その人が更生する場合と更生しない場合がありましたが、一貫して更生しないように修正しました。(6809ab2)
    li.bugfix 狂犬が襲撃能力を使用するのと同時に人狼占いが狂犬を占った場合、狂犬の能力が無効化される場合とされない場合がありましたが、無効化されないように修正しました。(37bcdd8)
    li.bugfix ゲームマスターありの自由配役で配役を隠す設定の場合に、ルール表示で闇鍋のときのように全ての役職に関するルール設定が表示されるようにしました。(e7d3532)

  h2 v1.13.10 (2018-08-24)
  ul
    li.new 新役職「暗躍者」を追加しました。(d1c38a2)
    li.change ケミカル人狼時に酔っ払いに表示される役職を「村人」ではなく「村人×村人」にしました。(fb7f84a)
    li.change 怪盗が自分自身を盗めないようにしました。(2548b1b)
    li.change 悪魔くんが襲撃された場合、狩人の護衛などにより勝利条件が達成されていない場合は襲撃された通知を表示しないようにしました。また、ログの内容を変更して勝利条件が満たされたことを分かりやすくしました。(400ac93)
    li.bugfix ケミカル人狼時に酔っ払いに本来の陣営が表示されていた問題を修正しました。(c0d829c)
    li.bugfix ケミカル人狼時に身代わりくんが突然死することがある問題を修正しました。(55daa9e)
  h2 v1.13.9 (2018-08-21)
  ul
    li.bugfix 身代わりくんが丑刻参・狼少年・獅子舞・仙狐になった場合に能力を使用していたのを、使用しないように修正しました。(0acefd9)
    li.bugfix ケミカル人狼で呪われた者が人狼に変化した場合にゲームが停止することがある問題を修正しました。(77b1e48)
    li.bugfix v1.13.6以降、ゲーム中に役職変化が合った場合に称号・戦績の記録が変化後の役職でついていた問題を修正しました。(fb149d9)
    li.bugfix v1.13.7以降、自分が人狼占いだった終了済みの部屋を開くことができないことがある問題を修正しました。(ba7ec35)
  h2 v1.13.8 (2018-08-16)
  ul
    li.bugfix v1.13.6以降、ケミカル人狼でドッペルゲンガーなどの能力で役職が変化する際に両方の役職が消えるようになっていた問題を修正しました。(1f28ade)
    li.bugfix v1.13.0以降、量子人狼の確率表が暗く見にくかった問題を修正しました。(ad97ecf)
    li.bugfix ケミカル人狼で赤ずきんが右側の場合に能力が発動しない問題を修正しました。(eb6617b)
    li.bugfix コピーが予言者のママなどの役職をコピーした際に、結果ログが全員に表示されるなどの異常な動作が発生することがある問題を修正しました。(4aa1c35)
  h2 v1.13.7 (2018-08-16)
  ul
    li.bugfix v1.13.6以降、狩人に護衛された占い師の結果が表示されないなどの問題を修正しました。(bc15d6f)
  h2 v1.13.6 (2018-08-15)
  ul
    li.bugfix v1.13.0以降、「覆面（終了後に公開）」の設定の部屋でプレイヤーのユーザーIDが公開されていなかった問題を修正しました。(67928a2, Sunev)
    li.bugfix ケミカル人狼で、右側の役職がドッペルゲンガーによって2回以上変化したとき正しくない動作をする問題を修正しました。(e770a08)
    li.bugfix 花火師が能力を使用したとき、死亡した役職の能力が一瞬生存扱いになり動作することがある問題を修正しました。(486e9a3)
    li.bugfix ケミカル人狼で陣営が変化した人の陣営が正しく表示されない問題を修正しました。(68b7294)
    li.bugfix ケミカル人狼で人狼占いにより狂人変化が発生した場合、右側の役職が狂人だった場合は右側の役職が変化するように修正しました。また、両方が狂人だった場合は両方が変化するようにしました。(511df2c)
    li.bugfix 設定の「身代わりセーフティ」がありにも関わらず身代わりくんが求愛者になることがある問題を修正しました。(c04f89d)
  h2 v1.13.5 (2018-08-12)
  ul
    li.bugfix フランケンシュタインの怪物や商人などの効果により同じ役職を複数所持している状態で、2つ目以降の能力を使用できないことがある問題を修正しました。(294a51d)
    li.bugfix ケミカル人狼で、ドッペルゲンガーによる役職変化が正しく行われないことがある問題を修正しました。(eb15a72)
    li.bugfix v1.13.0以降、ゲーム中のゲームマスター画面の表示が一部正しくない問題を修正しました。(9cd9a52)
    li.bugfix v1.13.0以降、量子人狼を行うと画面が正しく表示されない問題を修正しました。(effe1ee)
    li.bugfix v1.13.0以降、死亡後に能力対象選択画面が表示されることがある問題を修正しました。(f78731c)
    li.bugfix v1.13.0以降、特定のユーザーの発言を抽出して強調する機能が一部のユーザーに対して動作しない問題を修正しました。(04969aa)
    li.bugfix v1.13.0以降、ゲームマスターやヘルパーが存在するときにゲーム開始画面で自由配役を選択するとゲームを開始できないことがある問題を修正しました。(77fc46b)
  h2 v1.13.4 (2018-08-07)
  ul
    li.change 人狼系に襲撃されたタフガイが死亡するタイミングを、次の夜の開始時から次の夜の終了時に変更しました。(6f0121f)
    li.bugfix ケミカル人狼で、サイコキラーを対象に選択した人が死亡しないことがある問題を修正しました。(15f9a95)
    li.bugfix ケミカル人狼で、子分選択者が狼の子分に選択した人の役職を左側しか知ることができない問題を修正しました。(2b3c5d0)
    li.bugfix 「死神の手帳」ルール時にデスノートが与えられた人にすぐにデスノートが表示されない問題を修正しました。(2ccc7d5)
    li.bugfix 「死神の手帳」ルール時にデスノートが与えられた場合、デスノートを使用しないとデスノートが除去されない問題を修正しました。(8494098)
    li.bugfix v1.13.0以降、昼や夜の切り替わり時に発言の種類が適切に切り替わらない問題を修正しました。(17accbf)
    li.bugfix ケミカル人狼で逃亡者を右側に持つ役職が人狼に襲撃された人のところに逃走しても死亡しない問題を修正しました。(2bca31d)
  h2 v1.13.3 (2018-08-07)
  ul
    li.bugfix v1.13.0以降、Microsoft Edgeで投票や能力対象選択ができない問題を修正しました。(f7f9e0a)
    li.bugfix v1.13.0以降、一部闇鍋において役職除外設定が無視される問題を修正しました。(5f6e46d)
  h2 v1.13.2 (2018-08-06)
  ul
    li.bugfix v1.13.0以降、闇鍋時の出現陣営表示機能において、「人狼系」などの陣営名でないものが表示される問題を修正しました。(832f7b5)
    li.bugfix v1.13.0以降、部屋の参加者一覧に生存者・死亡者の人数が表示されていない問題を修正しました。(02c6518)
  h2 v1.13.1 (2018-08-06)
  ul
    li.bugfix v1.13.0以降、ヘルパーが存在するときにゲームが停止することがある問題を修正しました。(a9fb9a7)
    li.bugfix 恋人などの勝利判定が正しくない問題を修正しました。(4bb04d5)
  h2 v1.13.0 (2018-08-06)
  ul
    li.new ゲーム画面のユーザーインターフェースを変更しました。(7d13f15)
    li.change ケミカル人狼でフランケンシュタインの怪物が左右両方の役職を吸収するように変更しました。(ede0b9c)
    li.bugfix ケミカル人狼で、必須の能力を持つ役職に対して商人から占いセットや狩人セットが届いた場合、その能力を使わないと突然死してしまう問題を修正しました。(bd9f1a4)
    li.bugfix ケミカル人狼でデスノートが右側にある場合に役職が消える問題を修正しました。(99e347a)
    li.bugfix ケミカル人狼で狐憑きになった人が人狼の襲撃で死亡することがある問題を修正しました。(d643bf0)
    li.bugfix ケミカル人狼でアイドルの結果が異なることがある問題を修正しました。(78b9f7d)
    li.bugfix ケミカル人狼で右側が人狼系の人に逃亡者が逃亡した場合に死亡しない問題を修正しました。(78b9f7d)
    li.bugfix ケミカル人狼でコピーの能力を使用した場合、他の能力の役職が正常に使用されないことがある問題を修正しました。(7a969f2)
    li.bugfix ケミカル人狼で悪魔くんが勝利条件を満たしたにも関わらず悪魔くん勝利にならない問題を修正しました。(3a458bc)
    li.bugfix 人数が少なすぎる状態で希望役職制ありでゲームを開始した場合、部屋が停止することがある問題を修正しました。(159b856)
    li.bugfix 花火師の能力が発動したとき、まだ他に人狼系がいるにも関わらず孤独な狼に襲撃可能ログが表示されることがある問題を修正しました。(8c6321b, Sunev)
    li.bugfix 身代わりくんが狼少年のとき、死亡した人を対象に選択することがある問題を修正しました。(6540850, Sunev)
    li.bugfix 役職が変化したときに蘇生辞退が解除されることがある問題を修正しました。(f5c2a91, Sunev)
  h2 v1.12.16 (2018-07-28)
  ul
    li.bugfix 閻魔が2人以上いる場合、閻魔が1人でも生存していれば死亡した閻魔にも能力の結果が見える問題を修正しました。(e6f40b2)
    li.bugfix ケミカル人狼で、おばけやコピーのようなカウントを持たない役職を含む役職のカウントが正しくないことがある問題を修正しました。(198f54d)
    li.bugfix ケミカル人狼でハンター・復讐者の能力が発動しないことがある問題を修正しました。(1600a81)
    li.bugfix ケミカル人狼でニートを含む役職が投票しなかった場合突然死することがある問題を修正しました。(602019e)
    li.bugfix ケミカル人狼で大狼や子狐の特殊な霊能結果が「村人」になってしまう問題を修正しました。(bd1fbf4)
    li.bugfix ケミカル人狼で、仙狐などで他人の役職を見ることができる能力の結果に商人のセットなどの情報が含まれてしまう問題を修正しました。(6fa9064)
    li.bugfix ケミカル人狼で狼少年やかぼちゃ魔などの占い結果を変える役職が正しく効果を発揮しない問題を修正しました。(711ac6d)
    li.bugfix ケミカル人狼の開始時にプレイヤーが消えて観戦者扱いになる問題がまだ発生することがあったのを、発生しないように修正しました。(7dab534)
  h2 v1.12.15 (2018-07-19)
  ul
    li.bugfix ケミカル人狼で獅子舞が存在する場合、勝利判定時にゲームが停止することがある問題を修正しました。(53eafbe)
    li.bugfix ケミカル人狼でストーカーが右側の役職として存在し、ストーキングが循環している場合に勝利判定時にゲームが停止する問題を修正しました。(553ee41)
    li.bugfix サンタクロースが村を去るのを聖職者の能力で阻止した場合に、その後ゲームが停止することがある問題を修正しました。(484725c)
    li.bugfix ケミカル人狼で狡猾な狼や血まみれのメアリーの死亡時の能力が使用できないことがある問題を修正しました。(aa817b8)
    li.bugfix ケミカル人狼で求愛者や悪女により恋人になった場合、正しく後追いをしなかったり相手を恋人として認識しないことがある問題を修正しました。(daaa3f0, 3c05a94)
    li.bugfix 仙狐の透視結果で酔っ払いなどのサブ役職の情報が表示されていたのを、表示しないように修正しました。また、ケミカル人狼の場合舌禍狼、ストーカーなどの他の参加者の役職を知ることができる役職において左側の役職しか知ることができなかったのを、左右両方を知ることができるように修正しました。(4bf4366)
    li.bugfix 朝になると同時に死亡した人がいて身代わりくんが生存している場合、身代わりくんが死亡した人に投票することがある問題を修正しました。(e886c2a)
    li.change パティシエールによって本命に選ばれた人がチョコを食べる前は霊界での役職表示が変化していなかったのを、「本命」と表示されるようにしました。(1ee3db0)
  h2 v1.12.14 (2018-07-17)
  ul
    li.new 新役職「仙狐」を追加しました。(0432407)
    li.bugfix 犬に護衛されている人がヴァンパイアに襲撃された場合に死亡することがある問題を修正しました。(53b3ab8, Sunev)
    li.bugfix 再投票などの場面で身代わりくんが正しくない対象に投票することがある問題を修正しました。(2faa7f8, Sunev)
    li.bugfix 設定の「恋人はそれぞれ独立する」が「なし」で恋人が複数組いる場合、ゲームの終了条件を満たしたにもかかわらずゲームが続行されることがある問題を修正しました。(55d41b3, Sunev)
    li.bugfix 身代わりくんが人狼系で、他の人狼系がアイドルのファンとなり能力を喪失した場合、身代わりくんが襲撃能力を使用せずに突然死してしまう問題を修正しました。(2d79837)
  h2 v1.12.13 (2018-06-18)
  ul
    li.new 新役職「アイドル」を追加しました。(8962301)
    li.new 死亡したプレイヤーのアイコンがグレースケールになり赤いバツ印が表示されるようにしました。(e5cfe2c, Sunev)
    li.change 巫女の能力で複数回突然死を阻止したプレイヤーが終了時の「突然死の罰」の対象になるようにしました。(1f81530, Sunev)
    li.bugfix 決選投票が「常にあり」で最大票数のプレイヤーが複数いた場合に決選投票が行われないことがある問題を修正しました。(3e87656)
    li.bugfix 威嚇する狼が花火師を威嚇するのと同時に花火師が能力を発動した場合、ログが表示されずに花火師の能力が適用されたり花火師の能力が2回適用されたりする問題を修正しました。(a8a5752)
    li.bugfix ケミカル人狼で人狼系の出現数が1の場合、ゲーム開始時にプレイヤーが消えて観戦者扱いになることがある問題を修正しました。(0880370)
  h2 v1.12.12 (2018-05-17)
  ul
    li.new 新役職「舌禍狼」「黒猫」を追加しました。(ca0c36b, ee8d8fe)
    li.bugfix 「血まみれのメアリー」の能力対象を選択したときにログが正しく表示されない問題を修正しました。(61774ef, Sunev)
    li.bugfix コピーの能力で忍者に変化した場合、その夜に忍者の能力を使用しても結果が表示されない問題を修正しました。(80feaac)
  h2 v1.12.11 (2018-04-08)
  ul
    li.bugfix 一部闇鍋で闇鍋セーフティ低以上時に配役に「人狼系」などを指定した場合、出現する人狼系の数が多すぎる問題を修正しました。また、ケミカル人狼で一部闇鍋を使用時に人狼系やその他陣営の数が多すぎることがある問題を修正しました。(28ac7ab)
  h2 v1.12.10 (2018-04-06)
  ul
    li.change 「闇鍋」および「一部闇鍋」において設定「ケミカル人狼」を利用可能になりました。(a124be0)
    li.bugfix 身代わりくんが威嚇する狼になった場合突然死することがあるバグを修正しました。(4113469, Sunev)
    li.bugfix 冒涜者の能力と占い師の能力を同じ夜に同じ人に使用した場合、その人が呪殺されるか否かがランダムだったのを、必ず呪殺されるように修正しました。(e7aa41a)
    li.bugfix ケミカル人狼において、フランケンシュタインの怪物などの特定の役職が特定の条件を満たした場合、死亡しなくなることがあるバグを修正しました。(f8900c6)
    li.bugfix ケミカル人狼において、冒涜者の能力を無効化する役職を右側に持つプレイヤーに冒涜者の能力を使用した場合に冒涜者の能力が跳ね返らない問題を修正しました。(81493e5)
    li.bugfix ケミカル人狼において「人狼系×ヴァンパイア」の役職を持つ人がこれまで人狼カウントとヴァンパイアカウントを両方持っていたのを、ヴァンパイアカウントのみ持つように修正しました。(765cf5d)
    li.bugfix ケミカル人狼において役職の変化が発生した場合、霊界や終了後に役職名が正しく表示されないことがある問題を修正しました。(9fa64ec)
  h2 v1.12.9 (2018-02-24)
  ul
    li.bugfix 身代わりくんが死体に罠を仕掛けることがある問題を修正しました。(821a5f0)
    li.bugfix パティシエールからチョコを受け取った場合などに、魔女が薬を使っても効果が発揮されないことがある問題を修正しました。(178be34)
  h2 v1.12.8 (2018-01-29)
  ul
    li.change 一部のシステムメッセージを変更し、句点の有無の統一や文言の変更を行いました。(1de6f04)
    li.bugfix Firefoxにおいてゲーム開始画面の役職数設定UIの表示が崩れていた問題を修正しました。(d877832)
    li.bugfix Firefoxにおいて「同じ設定で次の部屋を建てる」ボタンが機能していなかった問題を修正しました。(60e4469)
    li.change 「ログアウト」リンクをページ上部から「マイページ」内の一番下に移動しました。(cdac412)
  h2 v1.12.7 (2017-12-31)
  ul
    li.bugfix 獅子舞が複数存在する場合、獅子舞が勝利条件を満たしているにも関わらず敗北と判定されることがある問題を修正しました。(782a1bc,679a2e3)
  h2 v1.12.6 (2017-12-27)
  ul
    li.new 新役職「瞳狼」を追加しました。(88a0475)
    li.change 闇鍋時の出現陣営表示において、カルトリーダーが「その他」ではなく「カルトリーダー陣営」として表示されるようになりました。(43d8586)
    li.new ただし、新しく追加した設定「単独陣営を隠す」をありにした場合、ヴァンパイア・悪魔くん・カルトリーダーは「その他」に含まれるようになります。(3840cc6)
    li.bugfix 独裁者の能力でハンターや復讐人を処刑した場合、ハンターや復讐人の能力発動後に夜にならずに昼に戻るバグを修正しました。(fed7e87)
    li.bugfix ゲームの途中でならず者に変化したプレイヤーが生存したままゲームが終了した場合にゲームが停止することがあるバグを修正しました。(bed9eb3)
  h2 v1.12.5 (2017-12-10)
  ul
    li.new 新役職「叫迷狂人」「閻魔」を追加しました。(b5e3a58, f3cea61)
    li.bugfix 催眠術師が登場する場合、占い結果が即座に表示される設定の場合でも翌朝表示されるように変更されるようにしました。(f64d992)
    li.bugfix 「新しい設定で次の部屋を建てる」機能において、一部闇鍋時の配役・除外役職の指定が正しく保存されるようにしました。(b3299ea)
    li.bugfix 逃亡者やカウンセラーが恋人陣営となった人狼系やヴァンパイアに能力を使用しても死亡しない問題を修正しました。(6e73a46, d3686f5)
    li.change 部屋で「ルール」ボタンを押した際に時間に関わる設定も表示されるようにしました。(cc761fa)
  h2 v1.12.4 (2017-11-30)
  ul
    li.change 戦績の「自分が参加した部屋」のページで、各部屋での自分の役職と勝敗が分かるようになりました。(cafecf0)
  h2 v1.12.3 (2017-11-19)
  ul
    li.new 新役職「ハンター」「復讐人」を追加しました。また、それに伴い設定「ラス撃ち」を追加しました。(06f65d2)
    li.new 突然死した参加者に対して、参加者の投票により即座に一定時間の参加禁止処置を実行できるようにしました。(4e5dcf0, Sunev)
  h2 v1.12.2 (2017-11-12)
  ul
    li.new 設定に「投票専用時間」を追加しました。この時間を設定すると、昼の議論中は投票ができなくなり、その後の「投票時間」に投票を行うことになります。(fdca4dd)
    li.change 設定で「初日白通知」を使用している場合、初日の占い先に妖狐が選ばれることがないようにしました。(83b8864)
  h2 v1.12.1 (2017-11-04)
  ul
    li.change 怪盗がサイコキラーを対象に能力を使用した場合、殺されずに能力の使用に成功するように変更しました。(d0837ba)
    li.change 狩人用のルール設定がコスプレイヤーの使用時にも表示されるように変更しました。(6b7a8ea)
    li.bugfix 魔女は初日に能力を使用できないにも関わらず、能力使用欄が表示されていた問題を修正しました。(c20a577)
    li.change 設定の「身代わりくん」が「なし（参加者が死ぬ）」の場合、狩人などが1日目の夜から能力を使用できるように変更しました。(0b77500)
    li.bugfix 忍者が能力を使用しても結果が表示されないことがあるバグを修正しました。(f5457bd)
    li.change 参加者が蘇生したときに表示されるログの表示位置を変更し、死亡ログの次に表示されるようにしました。(1003016)
  h2 v1.12.0 (2017-10-10)
  ul
    li.new 戦績表示機能を追加しました。マイページから自分の戦績を表示でき、ユーザーページで自分の戦績を公開できます。(98e43cd)
  h2 v1.11.21(2017-10-07)
  ul
    li.bugfix 忍者がサイコキラーに能力を使用しても死亡しないバグを修正しました。(98e43cd)
    li.bugfix 「占いの初日白通知」であるオプションで身代わりくんを占うことがあるバグを修正しました。(a015fb2)
    li.bugfix 希望役職制の部屋で不正な配役を入力した場合に希望役職の選択に進んでしまうバグを修正しました。(58173a1)
    li.bugfix 闇鍋時に悪魔くんなどの役職を除外役職に設定しても出現してしまうことがあるバグを修正しました。(8fa9b95)
  h2 v1.11.20(2017-09-29)
  ul
    li.new 新役職「双子」を追加しました。(2a7f163)
    li.change 恋人陣営と背徳者系の後追い時のメッセージが同じになりました。双子も同じです。(da14a0b)
    li.new 入室後の画面で部屋のパスワードの有無・覆面モードの有無が分かるようになりました。(b76eeda)
  h2 v1.11.19(2017-09-22)
  ul
    li.new 新役職「おばけ」「忍者」を追加しました。(2a8d174)
  h2 v1.11.18(2017-09-16)
  ul
    li.new 新役職「法医学者」「コスプレイヤー」を追加しました。(544a0e8)
    li.bugfix 部屋への入退室と[ready]の操作を同時に行った場合部屋に空白の参加者が出現することがある問題を修正しました。(8bfbb26)
  h2 v1.11.17(2017-08-15)
  ul
    li.bugfix 「投票結果を隠す」オプションが利用不可能になっていたのを復活しました。「隠す」にすると投票結果が霊界からしか見えなくなります。(e6991f9)
  h2 v1.11.16(2017-08-13)
  ul
    li.bugfix 身代わりくんが狂人狼で他の人狼が襲撃可能でない場合、狂人狼であるにもかかわらず参加者を襲撃してしまうバグを修正しました。(3e6d8ee, Sunev)
    li.bugfix 身代わりくんがヴァンパイアである場合、すでに死亡している参加者を襲撃することがあるバグを修正しました。(2c87327, Sunev)
  h2 v1.11.15(2017-07-13)
  ul
    li.change 闇鍋セーフティ「中」以上におけるバランス調整を修正し、「低」に近いバランスになるようにしました。(d69237b, 85e9c5c)
  h2 v1.11.14(2017-07-09)
  ul
    li.new 部屋から参加者を追い出す際に「再入室を禁止」を選べるようになりました。(59bb3f3)
  h2 v1.11.13(2017-03-18)
  ul
    li.new 「連続護衛」オプションを追加しました。狩人・風来狩人が2日連続で同じ人を護衛できるかどうかを設定できます。デフォルトは「あり」です。 (d0064f1)
    li.new 「占いの初日白通知」オプションを追加しました。ありの場合占い師の初日の占い先は結果が「村人」である人の中からランダムに決められます。デフォルトは「なし」です。 (9e2d9e9)
    li.new 「処刑同数時の処理」オプションを追加しました。従来の「再投票」の他に「ランダムに処刑」「誰も処刑しない」「全員処刑」が選択できます。 (c159756)
    li.new ゲームマスターが残り時間を30秒単位で増減させられるようになりました。 (78a9b06)
    li.bugfix 恋人などの道連れが発生した際、フランケンシュタインの怪物が同じ役職を2度吸収してしまうことがある不具合を修正しました。 (39064e5)
    li.bugfix 決選投票時に突然死が発生したり2人目の処刑が起こった場合、投票先の候補が1人だけになってしまうことがある不具合を修正しました。 (7983a93)
    li.bugfix 昼になると同時に蘇生した人に対して投票できないバグを修正しました。 (f806b40)
  h2 v1.11.12(2017-03-16)
  ul
    li.new 霊界での独り言を追加しました。霊界表示が有効でない場合に、自分にしか見えない独り言を発言することができます。独り言は悪霊憑きの発言になりません。 (fa18dd6)
    li.change フランケンシュタインの怪物がフランケンシュタインの怪物を吸収できないように変更しました。 (bea436f, Sunev)
    li.bugfix 狩人と罠師に同時に護衛された人を人狼が襲撃した場合、襲撃した人狼が罠にかかり死亡するバグを修正しました。 (731c8ca)
  h2 v1.11.11(2017-02-25)
  ul
    li.new 新役職「かぼちゃ魔」「マッドサイエンティスト」「悪霊憑き」を追加しました。 (83053cc, 92f378e)
  h2 v1.11.10(2017-02-22)
  ul
    li.new アカウントにメールアドレスを登録できるようになりました。メールアドレスを登録すると、パスワードの再発行が可能になります。(0ca2462, Sunev)
    li.bugfix ケミカル人狼でカウンセラーの処理が正しく行われないことがあるバグを修正しました。(24f1f60)
  h2 v1.11.9(2017-02-01)
  ul
    li.bugfix 身代わりくんが狡猾な狼になった場合サーバーが停止することがあるバグを修正しました。(f2b384e)
    li.bugfix 複合役職の処理順が正しくないことがあるバグを修正しました。(89e8e7d, Sunev)
    li.bugfix 「一部闇鍋」で除外役職に設定したにも関わらず、第三陣営を中心に一部の役職が出現することがあるバグを修正しました。(1f50787)
    li.change 禁止行為・注意事項を変更しました。(c0ef570)
  h2 v1.11.8(2017-01-06)
  ul
    li.bugfix 花火師の能力が威嚇する狼によって無効化されるバグを修正しました。 (da63dee, Sunev)
    li.bugfix 一部の称号が使用・獲得できなくなっていたバグを修正しました。 (9792354, Sunev)

  h2 v1.11.7(2016-12-30)
  ul
    li.new 新役職「獅子舞」を追加しました。(ad31453)
    li.bugfix 恋人で勝利した回数に関する称号が正しく獲得できなかったバグを修正しました。(715bdf6, Sunev)
  h2 v1.11.6(2016-10-29)
  ul
    li.new 新役職「狡猾な狼」を追加しました。(5cb6a7a)
  h2 v1.11.5(2016-10-23)
  ul
    li.new 部屋の開始時に「自由配役」及び「一部闇鍋」で役職数を選択するときのGUIを変更しました。(64c85e1)
    li.new 「一部闇鍋」の場合に除外役職（ランダムで出現しない役職）を設定できるようになりました。(64c85e1)
  h2 v1.11.4(2016-10-08)
  ul
    li.bugfix 1日目の夜に人狼占いにより変化した役職が本来使用できない能力を使用できることがあるバグを修正しました。(75e3b93, Sunev)
    li.bugfix ケミカル人狼でタフガイが右側にあるときに人狼に襲撃されると死亡しないまま霊界が見えるようになるバグを修正しました。(72ea47c, Sunev)
    li.change GMがありの場合、闇鍋以外でも「配役公開」オプションで陣営数のみ公開・非公開を選べるようになりました。(4c9d488)
  h2 v1.11.3(2016-08-30)
  ul
    li.bugfix ケミカル人狼で「占い師×占い師」のように夜行動が必須の同じ役職の組み合わせになった場合、夜の行動をしても突然死してしまうバグを修正しました。(e4202b3)
    li.bugfix ケミカル人狼でプリンス・タフガイが右側にある場合にこれらの能力が適用されないバグを修正しました。(93ec755)
    li.bugfix ケミカル人狼でサイコキラーが右側にある場合にサイコキラーの能力が適用されないバグを修正しました。(214b8ad)
    li.bugfix ケミカル人狼で女王観戦者が右側にある場合に他の村人陣営のプレイヤーから見えないバグを修正しました。(fb236f8)
    li.change ケミカル人狼で、2つの役職のうち一方が村人陣営だった場合に女王観戦者が見えていたのを、2つとも村人陣営でないと見えないように修正しました。(797fa2b)
    li.change ケミカル人狼で、役職情報に自分が所属する陣営が表示される機能を追加しました。(2e091c1)
  h2 v1.11.2(2016-08-28)
  ul
    li.bugfix 覆面の部屋のときに入室直後のユーザーのIDが見えることがあるバグを修正しました。(cdda3b5)
    li.bugfix 部屋を追い出された人の発言や名前がおかしいことがあるバグを修正しました。(ddab3fa)
  h2 v1.11.1(2016-08-11)
  ul
    li.change 部屋の覆面設定が「あり（終了後に公開）」でGMがありの場合、GMは終了前でも参加者のユーザーIDが分かるようになりました。(24a0cb9)
    li.new 設定「ケミカル人狼」を追加しました。(d43acca)
  h2 v1.11.0(2016-03-17)
  ul
    li.new 新役職「狂犬」「催眠術師」を追加しました。(418a949)
  h2 v1.10.9(2016-02-14)
  ul
    li.new バレンタイン用新役職「パティシエール」を追加しました。(d058044)
  h2 v1.10.8(2016-01-21)
  ul
    li.bugfix 人狼占いにより狂人が霊能者に変化した場合、「null」というメッセージが表示されることがあるバグを修正しました。(98518be, Sunev)
    li.bugfix 子分選択者の役職説明が表示されないバグを修正しました。(b053ce2, Sunev)
  h2 v1.10.7(2015-12-15)
  ul
    li.bugfix 欲張りな狼が能力を使用後、次の夜以降でも襲撃に失敗した場合欲張りな狼が死亡することがあるバグを修正しました。(402f236, Sunev)
    li.bugfix 爆弾魔に爆弾が仕掛けられた人を独裁者の能力で処刑した場合ゲームの動作が停止することがあるバグを修正しました。(f06ce45, Sunev)
    li.bugfix 冒涜者がサイコキラーを対象に選択しても死亡しないバグを修正しました。。(bfceab6, Sunev)
    li.new 設定「人狼の毒持ち襲撃」を追加しました。デフォルトの動作は「襲撃者を道連れ」となり、従来の動作から変更されました。(2ef2fa0)
  h2 v1.10.6(0736e0a;2015-10-25)
  ul
    li.change 背徳者が、妖狐が全滅した場合にまだ子狐や狐憑きが残っているのに自殺してしまうバグを修正しました。 (045679e)
  h2 v1.10.5(ae9b27b;2015-10-08)
  ul
    li.change 冒涜者の出現人数が闇鍋セーフティ低以上で調整されるようになりました。(9a61dc8)
  h2 v1.10.4(9a61dc8;2015-08-26)
  ul
    li.change 冒涜者が一部の役職を冒涜した場合に、冒涜相手ではなく自分が狐憑きとなるように変更しました。(0578740)
  h2 v1.10.2(08775a1;2015-07-21)
  ul
    li.new 新役職「冒涜者」「丑刻参」を追加しました。(50cc506)
    li.change 闇鍋のとき、身代わりくんが求愛者になれるように変更しました。また、身代わりくんが求愛者になった場合求愛しないように変更しました。また、2日目以降に求愛者に変化した場合求愛できるように変更しました。(50cc506)
  h2 v1.10.1-9(2015-07-01)
  ul
    li.change 威嚇する狼の効果で対象の聖職者の護衛・狩人の護衛等を無効化できていたのを、できないように修正しました。また、威嚇する狼の効果では死亡判定時に発動する効果を無効化できないように修正しました。(a45dea3)

  h2 v1.10.1-8(85e8d46;2015-05-26)
  ul
    li.bugfix 欲張りな狼が能力を発動すると同時に狼の子が死亡した場合、襲撃に失敗しても欲張りな狼が死亡しないバグを修正しました。(a8746d)
    li.change 一途な狼と欲張りな狼が同時に能力を発動した場合の挙動が変わりました。従来は後から発動したほうのみデメリットが適用されていたのを、両方適用されるように変更しました（一途な狼が優先されます）。(a8746d)
  h2 v1.10.1-7(85e8d46;2015-05-23)
  ul
    li.bugfix スパイが村を去ったと同時に悪女に変化した場合、悪女が能力の対象を選択しても反映されなくなるバグを修正しました。(27a994e)
  h2 v1.10.1-6(f325239;2015-04-28)
  ul
    li.bugfix 人狼系・ヴァンパイア・妖狐が罠師に護衛されたまたは爆弾魔に爆弾を仕掛けられた状態で人狼に襲撃された場合、罠師・爆弾魔の効果が発動しないバグを修正しました。(5c0066a)
  h2 v1.10.1-5(2b2f974;2015-03-21)
  ul
    li.bugfix 身代わりくんが決定者などのサブ役職を持った状態でコピーになりコピーをコピーした場合、ゲームが停止するバグを修正しました。(932ba98)
    li.bugfix エンドレス闇鍋に途中参加する場合、参加前の昼に参加者と同じログで発言できるバグを修正しました。(97b4c9e)
  h2 v1.10.1-4(2015-03-19)
  ul
    li.change 「女王感戦者」の名前はやはり「女王観戦者」が正しかったことが判明したため、「女王観戦者」に戻しました。(b21a634)
  h2 v1.10.1-3(73d220a;2015-02-10)
  ul
    li.bugfix カウンセラーがヴァンパイアをカウンセリングした場合、その夜にカウンセラーが狩人などによって護衛されていた場合カウンセラーが死亡しないバグを修正しました。(41318bd)
  h2 v1.10.1-2(f8e82c3;2015-02-01)
  ul
    li.change エンドレス闇鍋に途中参加する場合、部屋の人数の上限に達していても蘇生辞退の人がいる場合はその枠に入れるようになりました。(ead3f31)
    li.bugfix エンドレス闇鍋に途中参加した場合アイコンが表示されないバグを修正しました。(ead3f31)
    li.new 昼間の背景色は評判が悪かったため戻りました。マイページの「色設定」からゲーム画面の色を自由に設定できるようになりました。(eea8ea8)
    li.new 蘇生辞退を行なった場合ログが出るようにしました（本人と霊界に対して表示）。(4cd711a)
  h2 v1.10.1-1(02a9244;2015-01-31)
  ul
    li.bugfix エンドレス闇鍋で転生人数が多すぎるとゲームが停止するバグを修正しました。(943580d)
  h2 v1.10.1(e157944;2015-01-31)
  ul
    li.bugfix エンドレス闇鍋で配役・出現陣営情報が表示されないバグを修正しました。(aa1c03b)
    li.bugfix エンドレス闇鍋で途中参加した人が参加待機中の間に発言した場合、ログが全員に見えていたのを観戦者にしか見えないように修正しました。(0df7afb)
    li.new 「蘇生辞退」機能を追加しました。蘇生を辞退すると死亡した後に蘇生されません。また、突然死した場合は自動的に蘇生辞退となります。(6021481)
    li.change 昼間の背景色を変更しました。(d98b6b4)
    li.change エンドレス闇鍋の転生確率を調整しました。(af0f287)
  h2 v1.10.0(8d4b46c;2015-01-30)
  ul
    li.bugfix 身代わりくんが王様の場合投票が2票分にならないバグを修正しました。(c47b058)
    li.bugfix ドッペルゲンガー等が変化した場合役職名の表示がおかしくなることがあるバグを修正しました。(42215b6)
    li.bugfix 身代わりくんが人狼系で他の生存している人狼系が全て孤独な狼の場合、身代わりくんが襲撃せずに突然死するバグを修正しました。(da1492f)
    li.change 孤独な狼が襲撃可能になった後に他の人狼系が襲撃可能な状態になった場合、孤独な狼は襲撃不可能に戻るようになりました。(da1492f)
    li.new 新配役「エンドレス闇鍋」を追加しました。主にゲーム性がまだα版です。(232f155)
  h2 v1.9.10-1(79c9b96;2015-01-01)
  ul
    li.bugfix 同じ人に複数の爆弾魔が爆弾を仕掛けてその人が処刑により死亡した場合、1人しか道連れにしないバグを修正しました。(f0ba0d5)
    li.bugfix 「女王観戦者」の名称が出典と異なっていたため、「女王感戦者」に変更しました。(ce519fd)
    li.bugfix 怪盗が決定者・権力者になった場合にゲームが停止するバグを修正しました。(a0e8386)
  h2 v1.9.10(4cfde47;2014-12-24)
  ul
    li.new 新役職「爆弾魔」を追加しました。(0727296)
    li.bugfix フランケンシュタインの怪物がパン屋を吸収してもパン屋として扱われないバグを修正しました。(46da76d)
    li.bugfix パン屋が死亡した後蘇生して再度死亡した場合にそれを知らせるログが出現しないバグを修正しました。(5d42c01)
  h2 v1.9.9-3(a0224b5;2014-12-20)
  ul
    li.bugfix 妖術師が何らかのサブ役職（狩人の護衛・カルトなど）を持った状態で人狼占いに占われた場合にゲーム進行が停止するバグを修正しました。(49e4e99)
    li.bugfix 襲撃可能な人狼が身代わりくんしかいない状態で、狼の子の効果により2人以上襲撃可能な状態でも身代わりくんが1人しか襲撃しないバグを修正しました。(366828b)
    li.bugfix 身代わりくんが妖術師になった場合に夜の役職実行を2回行うバグを修正しました。(9c4f98e)
    li.bugfix 嘘つきが狩人・風来狩人・犬の護衛を受けている場合に占い結果が表示されないことがあるバグを修正しました。(5d00239)
  h2 v1.9.9-2(b0dd475;2014-10-28)
  ul
    li.bugfix 闇鍋セーフティ「高」以上で見習い占い師が単独で出現することがあるバグを修正しました。(fd90a88)
  h2 v1.9.9-1(ca43c43;2014-09-23)
  ul
    li.bugfix 看板娘を吸収したフランケンシュタインの怪物が人狼に襲われて死亡したときに効果が発動しないバグを修正しました。(b8db251)

  h2 v1.9.9(fd5a544;2014-08-29)
  ul
    li.new 新役職「パン屋」を追加しました。(3e65016)
    li.bugfix 邪魔狂人に邪魔された場合の占い結果のログが正しくないバグを修正しました。(0776baa)
  h2 v1.9.8-2(7610870;2014-08-24)
  ul
    li.bugfix 一部闇鍋で配役に「人狼系」を設定しなかった場合、配役に「人狼系1」と表示されるバグを修正しました。(a9eab8c)
  h2 v1.9.8-1(46b7db7;2014-08-08)
  ul
    li.bugfix フランケンシュタインの怪物が老人を吸収した場合、聖職者・巫女の能力で老衰を防げないバグを修正しました。(e377f88)
    li.bugfix ドッペルゲンガーがサイコキラーを対象選択しても死亡しないバグを修正しました。(2f72f48)
    li.bugfix フランケンシュタインの怪物がトラブルメーカーを吸収して能力を使用した場合、その夜に死亡すると能力がキャンセルされるバグを修正しました。(a639ffa)
    li.bugfix 3日目以降にオカルトマニアが能力を使用できないバグを修正しました。(37e93ee)
  h2 v1.9.8(d77098a;2014-07-26)
  ul
    li.new 期間限定役職「花火師」を追加しました。(1b67df5)
  h2 v1.9.7-7(2162d20;2014-07-20)
  ul
    li.change 配役「狂った世界」の内訳を変更しました。(23ad317)
    li.change 最小開始人数（身代わりくんを含めた人数）を4人から6人に変更しました。(787438a)
  h2 v1.9.7-6(2f4be1f;2014-07-18)
  ul
    li.bugfix 邪魔狂人・呪いをかける者・狩人などの効果が重なった場合、2日以上続くことがあるバグを修正しました。(867176b)
    li.change 女王観戦者・狂人狼のセーフティ高以上での出現確率が1/10になりました。(7166a31)
  h2 v1.9.7-5(b64ac5c;2014-07-13)
  ul
    li.bugfix 身代わりくんがヴァンパイアになった場合サーバーが停止するバグを修正しました。(877c010)
    li.bugfix 身代わりくんに恋人等のサブ役職が付加された場合突然死することがあるバグを修正しました。(8264297)
    li.change 配役「狂った世界」の内訳を変更しました。(83b0238)
  h2 v1.9.7-4
  ul
    li.change 怪盗に役職を盗まれた場合、恋人などのサブ役職が消滅するように変更しました。(ff607ba)
  h2 v1.9.7-3(0b73490;2014-06-23)
  ul
    li.bugfix 2人以上処刑する場合、1人目の処刑後に風来狩人がもう護衛できなくなるバグを修正しました。(0ead889)
    li.bugfix 独裁者がサイコキラーを能力の対象に選んでも死亡しないバグを修正しました。(ef7190b)
    li.bugfix 狂人系が人狼占いによりヘルパーに変化した場合に発言や投票ができなくなるバグを修正しました。(670ba4e)

  h2 v1.9.7-2(b556a59;2014-05-25)
  ul
    li.bugfix 恋人が複数組存在して設定「恋人はそれぞれ独立する」がありの場合、恋人勝利のメッセージの人数が間違っているバグを修正しました。(b4377c2)
    li.change 恋人が複数組生存していて設定「恋人はそれぞれ独立する」がありの場合、生存者が全員恋人の場合は恋人勝利で終了するように修正しました。(b4377c2)
  h2 v1.9.7-1(0901f21;2014-04-28)
  ul
    li.bugfix 身代わりくんが人狼占い・威嚇する狼になった場合突然死するバグを修正しました。(f8fa062)
    li.bugfix 身代わりくんが罠師・ヴァンパイアになった場合突然死することがあるバグを修正しました。(dedaa5f)
    li.bugfix 身代わりくんが狼少年になった場合、各役職が正常に動作しないことがあるバグを修正しました。(fde4998)
    li.bugfix 死亡すると同時に役職が変化した場合、死亡しなかったことになることがあるバグを修正しました。(4d9a29c)
    li.change 「闇鍋セーフティ」の「超（β）」が「超（β2）」になりました。(0663da5)
    li.change 商人が1日目の夜に能力を使用できないように変更しました（出典元に合わせた修正）。(d3f50b5)
    li.new 「闇鍋セーフティ」に「走召（α）」を追加しました。超とどちらが上なのかよくわかりません。(3ddea03)
    li.new ヘルパー時にヘルパー先に表示されている各種情報（仲間の狼・女王観戦者など）がヘルパーにも表示されるようになりました。(e2150e6)
  h2 v1.9.7(a789679;2014-03-11)
  ul
    li.new 新役職「看板娘」「慎重な狼」を追加しました。(7efc238)
    li.bugfix 死亡しているサイコキラーに能力を使用しても能力使用者が死亡しないバグを修正しました。(3ca6def)
  h2 v1.9.6-3(7a06ceb;2014-03-08)
  ul
    li.bugfix フランケンシュタインの怪物が蘇生能力を持つ役職を吸収した場合、フランケンシュタインの怪物がまだ生存していても霊界で参加者の役職が見えてしまうことがあるバグを修正しました。(ee02cf1)
  h2 v1.9.6-2(f092a00;2014-03-02)
  ul
    li.bugfix コピー・ドッペルゲンガーなどが役職変化した際に、恋人などのサブ役職が解除されるバグを修正しました。(63285da)
  h2 v1.9.6-1(23c9708;2014-02-21)
  ul
    li.bugfix カウンセラーが一匹狼をカウンセリングしても死なずに更生するバグを修正しました。(1e33174)
    li.bugfix フランケンシュタインの怪物が王様を吸収しても投票が2票分にならないバグを修正しました。(21ec3ce)
    li.bugfix 村人陣営以外の人が商人からセットを受け取った場合に女王観戦者を把握できるようになるバグを修正しました。(5ddebbf)
    li.change 呪いをかける者の効果を初日の夜には発動できないように修正しました。(6affba3)
    li.bugfix 孤独な狼が襲撃可能になったときに襲撃ログが表示されない問題を修正しました。(284a7b0)
    li.bugfix 人狼占いが狂人系を占ったときにログが正しく表示されないバグを修正しました。(cec9ab4)
    li.bugfix 2回以上恋人・手玉になったときに恋人が全員表示されないバグを修正しました。(0d8b7be)

  h2 v1.9.6(8665618;2014-02-07)
  ul
    li.bugfix 身代わりくんが犬になったときに突然死することがあるバグを修正しました。(338bbb2)
    li.new 新役職「悪女」を追加しました。(3d49e4f)
  h2 v1.9.5-4(f6221d2;2014-02-07)
  ul
    li.bugfix 逃亡者が一匹狼に逃げても死亡しないバグを修正しました。(97fb376)
  h2 v1.9.5-3(7b7f2f6;2014-02-04)
  ul
    li.new 量子人狼に新オプション「初日の襲撃」を追加しました。ありにした場合1日目夜にも人狼の襲撃を行います。デフォルトはなしになりました。(8db2c1d)
  h2 v1.9.5-2
  ul
    li.bugfix 占い師などがサイコキラーを占った場合に死亡しないことがあるバグを修正しました。(6cadd65)
  h2 v1.9.5-1
  ul
    li.bugfix 子狐・妖術師が妖狐を占った場合呪殺してしまうバグを修正しました。(457e1d9)
    li.change 犬は自分を飼い主にできないように修正しました。(457e1d9)
  h2 v1.9.5(02620ce;2014-01-26)
  ul
    li.new 新役職「怪盗」を追加しました。(98e61cb)
  h2 v1.9.4-9(2014-01-26)
  ul
    li.bugfix 恋人が死亡しているのに恋人勝利で終了することがあるバグを修正しました。(7420b28)
  h2 v1.9.4-8(6fc2b7e;2014-01-24)
  ul
    li.bugfix 人狼占いが占い師を占った場合に人狼占いが逆呪殺されなくなっていたバグを修正しました。
    li.bugfix オプション「恋人はそれぞれ独立する」が「あり」の場合に複数組の恋人のうちいずれかが死んでいた場合に残りの恋人が勝利できないバグを修正しました。
  h2 v1.9.4-7(44d18c0;2014-01-22)
  ul
    li.new 闇鍋セーフティに「逆（α）」が追加されました。バランスの悪さを目指します。(023ae1d)
  h2 v1.9.4-6(4f7b401;2014-01-21)
  ul
    li.change 悪魔くんの霊能結果が「村人」だったのを、原典に合わせて「人狼」に修正しました。(e365388)
    li.change カウンセラーが1日目夜から能力使用可能だったのを、原典にあわせて2日目夜からに修正しました。(e365388)
    li.bugfix 身代わりくんが逃亡者だった場合1日目夜に身代わりくんが死亡しないバグを修正しました。(e365388)
    li.change 闇鍋セーフティの「超（α）」は「超（β）」に変更されました。(e365388)
    li.change <a href="/manual/prohibited">禁止行為</a>が一部修正されました。(6697783)
  h2 v1.9.4-5(4c7da28;2014-01-19)
  ul
    li.bugfix 罠師に守られていた人が死んだ場合ゲーム進行が停止することがあるバグを修正しました。(231d692)
    li.new <a href="/manual/prohibited">禁止行為</a>が定められました。(dbf105a)
  h2 v1.9.4-4(4e0204f;2014-01-02)
  ul
    li.bugfix トラブルメーカーが能力を使用した夜に死んだ場合、能力が無効になるバグを修正しました。(3e41489)
    li.new 新しいオプション「恋人はそれぞれ独立する」を追加しました。「あり」の場合、恋人が複数組発生した場合に後追い判定がカップルごとに独立します。また、恋人から他のカップルの恋人が分からなくなります。(2d385fb)
  h2 v1.9.4-3(ae50850;2014-01-02)
  ul
    li.change 「ルール」ボタンの表示を改良しました。(e78946f)
  h2 v1.9.4-2(8d59445;2013-12-29)
  ul
    li.bugfix 夜の能力発動で死んだ役職の能力が発動しないことがあるバグを修正しました。(51743dc)
  h2 v1.9.4-1(5104f87;2013-12-28)
  ul
    li.bugfix 占い結果「すぐ分かる」で人狼占いが占い師を占った場合、翌朝になる前に死亡するバグを修正しました。(38482c8)
    li.new 闇鍋セーフティに「超(α)」を追加しました。「高」以上にバランスのいい配役を行いますが、まだ実験段階の機能となっています。(eff95e8)
  h2 v1.9.4(35a4f34;2013-12-24)
  ul
    li.new 期間限定役職「サンタクロース」を追加しました。(e1a5f43)
  h2 v1.9.3-1(920922f;2013-12-22)
  ul
    li.bugfix 魔女が蘇生薬・毒薬を使用した状況によって、次に薬を使用したときに違う種類の薬が使われることがあるバグを修正しました。(0be9aee)
    li.change 突然死した人は勝敗判定が常に「敗北」になるように修正しました。(8d4c8c3)
  h2 v1.9.3(6a3b5d8;2013-12-17)
  ul
    li.new 新役職「サイコキラー」を追加しました。(aec741c)
    li.change 「身代わりセーフティ」がありの場合、身代わりくんが貴族・求愛者にならないように変更しました。(a285080)
    li.new 称号を120種類追加しました。(85e4e5f)
  h2 v1.9.2(0ab80dd;2013-12-16)
  ul
    li.new 「ミラーズホロウの人狼」から新しいオプション「決選投票」を追加しました。「なし」の場合は従来通りの動作です。「再投票」にした場合は再投票時に候補者が上位のみになります。「常に行う」にした場合は投票後に必ず上位の候補者のみの決選投票が行われます。(7bbacc4)
    li.new 新役職「王様」を追加しました。(0b5677b)
    li.new 霊界で役職か見えるかどうかのオプション名を「霊界表示」に変更し、選択肢を「あり」「なし」から「常にあり」・「あり」（デフォルト）・「なし」の3段階に変更しました。「あり」は誰かが蘇生する可能性がある場合のみ表示しません（ゲーム中でも、蘇生可能性が無くなった場合表示されるようになります）。「常にあり」では蘇生役職があっても役職などを表示します。また、これに伴って、闇鍋で蘇生役職が出現した場合に「蘇生役職が存在するため「蘇生役職が存在するので、天国から役職が見られなくなりました。」というメッセージは出現しないようになりました。(502222e)
  h2 v1.9.1-2(734377f;2013-12-15)
  ul
    li.bugfix 威嚇する狼に威嚇された人が商品から荷物を受け取ったり聖職者に護衛されたりカルト信者になったりした場合にその後ずっと能力が使用できなくなるバグを修正しました。(d8bfab2)
  h2 v1.9.1-1(bab1863;2013-12-07)
  ul
    li.new 新役職「フランケンシュタインの怪物」を追加しました。(4e394d7)
  h2 v1.9.1(9b53e31;2013-12-07)
  ul
    li.new 新役職「邪魔狂人」を追加しました。(55586db)
    li.new 新役職「トラブルメーカー」を追加しました。(a57b4b5)
    li.bugfix 罠師に守られた役職の能力が発動しないことがあるバグを修正しました。(7843743)
    li.change 呪われた者がヴァンパイアに襲われた場合にヴァンパイアに変化するように修正しました。(ba9112b)
  h2 v1.9.0(7ebfcdb;2013-12-03)
  ul
    li.new 新役職「風来狩人」を追加しました。(44919bb)
    li.bugfix 恋人・背徳者などが後追いで死亡する場合で、2連鎖目以上の場合死亡しないことがあるバグを修正しました。(1b281e3)
    li.change 闇鍋セーフティが中以上の場合に、配役の人狼の数がより安定するように修正しました。(2bfa2ec)
  h2 v1.8.9-2(389afc5;2013-11-30)
  ul
    li.bugfix 欲張りな狼・一途な狼が能力をした場合に、その夜だけでなく次以降の夜にも効果が継続するバグを修正しました。(5da7967)
    li.bugfix 子狐が妖狐を占った時に呪殺してしまうバグを修正しました。(5da7967)
    li.new 量子人狼で夜の長さが1分より長い場合は注意を表示するようになりました。(8f10acc)
  h2 v1.8.9-1(c55bab4;2013-11-26)
  ul
    li.bugfix コピーやドッペルゲンガーが2日目以降にオカルトマニア・ストーカー・キューピッド・ならず者・誘惑する女狼に変化した際に、対象選択できなかったり突然死したりするバグを修正しました。(c5a251d)
    li.change 逃亡者の能力使用先がヴァンパイアに襲われたときに、逃亡者が死ななかったのを死ぬように修正しました。(222d9ea)
  h2 v1.8.9(d44e993;2013-11-26)
  ul
    li.change マイページの戦績表示および闇鍋の陣営表示において、こうもりの陣営を「こうもり」から「その他」に、ヴァンパイアの陣営を「その他」から「ヴァンパイア陣営」に変更しました。(531994d)
    li.change 逃亡者がヴァンパイアの襲撃および魔女の毒薬の対象になったときの動作を、「死ぬ」から「死なない」に変更しました。これに加えて人狼に襲撃されても死にませんが、その他の要因では死亡します。(facfe1a)
    li.change 逃亡者・カウンセラーが狩人または罠師に護衛されている状態で能力の対象に人狼を選択した場合の動作が、「死なない」だったのを「死ぬ」に修正しました。(facfe1a)
    li.change 逃亡者・カウンセラーが狂人狼を対象に選択した場合の動作を「死ぬ」から「死なない」に変更しました。(7ea3146)
    li.bugfix 占い結果が「すぐ分かる」の設定のときに占い師が妖狐を占った場合に、夜明けに死亡ログが出る前に霊界に移動するバグを修正しました。(b9559a4)
    li.bugfix 呪いをかける者に呪いをかけられた人が、次の日になっても発言できないままになるバグを修正しました。(adf1e63)
    li.change ヴァンパイア・デスノート・魔女が1日目の夜に能力を発動できないように修正しました。また、欲張りな狼が1人目の対象選択した後に欲張る能力を発動できないバグを修正しました。(f774e74,f609fdc)
    li.bugfix 人狼占いが商人から占いセットを受け取った場合に、対象選択画面がわかりにくい問題を改善しました。(68b3d44)
    li.change 闇鍋セーフティ中以上で、占い師・狩人が出現する確率が上昇しました。さらに、狂人狼が出現する場合必ず狂人系役職も出現するようになりました。また、闇鍋セーフティ高以上で女王観戦者が2人以上出現しないようになりました。(ca3411a)
    li.bugfix 一途な狼が能力を発動して聖職者に守られた人を襲った場合に、死なないままチャットが霊界に移動して昼に投票もできなくなるバグを修正しました。(86b6b9e)
    li.change 狩人・罠師がヴァンパイアの襲撃を守れるように変更しました。罠師に護衛されている人をヴァンパイアが襲った場合、そのヴァンパイアが死にます。(7325719)
    li.change ヴァンパイアが埋毒者・猫又を襲った場合の動作を、「全員からランダムに一人毒で死ぬ」から「そのヴァンパイアが毒で死ぬ」変更しました。(7325719)
    li.new 量子人狼に「死亡率を表示しない」オプションを追加しました。(0e02ce2)
    li.new 称号に使用できる助詞「だ」「ぜ」「ん」を追加しました。(aee8e9f)
    li.new マイページの戦績表示で表示した詳細情報を隠すことができるようになりました。(aee8e9f)
  h2 v1.8.8 (ce32693; 2013-11-23)
  p これより前の更新履歴はありません。（書いていなかったので）

