section.manual
  h1 更新履歴
  p 月下人狼の新機能追加・仕様変更・バグ修正などのまとめです。
  h2 最新
  ul
    li マイページの戦績表示および闇鍋の陣営表示において、こうもりの陣営を「こうもり」から「その他」に、ヴァンパイアの陣営を「その他」から「ヴァンパイア陣営」に変更しました。(531994d)
    li 逃亡者がヴァンパイアの襲撃および魔女の毒薬の対象になったときの動作を、「死ぬ」から「死なない」に変更しました。これに加えて人狼に襲撃されても死にませんが、その他の要因では死亡します。(facfe1a)
    li 逃亡者及びカウンセラーが狩人または罠師に護衛されている状態で能力の対象に人狼を選択した場合の動作が、「死なない」だったのを「死ぬ」に修正しました。(facfe1a)
  h2 v1.8.8 (ce32693; 2013-11-23)
  p これより前の更新履歴はありません。（書いていなかったので）

