section.manual
  p: a(href="/manual") 戻る
  h1 月下人狼の特徴

  h2 リアルタイム性
  p この人狼はブラウザ上でプレイできるにも関わらず、<strong>完全リアルタイム</strong>という特徴を持っています。
  p リアルタイムというのはゲーム中の昼夜が現実の昼夜に対応する長期人狼ということではなく、<strong>更新などをしなくても誰かの発言がその瞬間に全員に届く</strong>ということです。。
  p これは、従来のCGIなどとは全く異なる新技術(WebSocket)を用いることで実現しています。
  p それにより、自動更新を待ったり更新ボタンを押したりする手間がなく快適に人狼を楽しむことができます。リアルタイム用技術なので、サーバーや参加者に高負荷がかかることはありません。

  h2 登録制
  p この人狼は<strong>登録制</strong>です。ユーザー登録をした後に人狼に参加できます。ユーザー登録は<b>ユーザーID</b>と<b>パスワード</b>のみで行うことができます。
  p 登録後はユーザー名も決定し、基本的に村に参加する場合はユーザーIDは公開され、そのユーザー名で参加します（ユーザー名はいつでも変更可能）。
  p ただし、ユーザーIDは公開せずユーザー名も村に入るときに決める<b>覆面</b>モードもあります。

  h2 豊富な役職
  p
    | 現在
    b#number_of_jobs ???
    | 種類の役職が利用可能です。
  p 標準的な役職の他にも、さまざまな種類の人狼から特殊な役職が搭載されています。
  p: a(href="/manual/joblist") 役職一覧

  h2 自由度の高さ
  p この人狼では、標準的な配役の他にも<strong>自由配役</strong>が利用可能であり、多彩な役職を組み合わせて思い通りの村を作ることができます。
  p また、<strong>闇鍋</strong>があります。
  p 他にも、<strong>詳細なルール設定</strong>が可能です。
  h3 ルール設定の例
  ul
    li <b>決定者</b>・<b>権力者</b>は人数に関わらずON/OFFの設定が可能。
    li わかめてから<b>死神の手帳</b>・究極の人狼から<b>狼の子分</b>・<b>酔っ払い</b>を入れることが可能。
    li <b>身代わりくん</b>（初日犠牲者）のON/OFFが選択可能。
    li 昼・夜の時間は秒単位で設定可能。
    li <b>遺言</b>のON/OFFが設定可能。
    li 人狼の遠吠え・共有者の小声は他の参加者に聞こえるか聞こえないか設定可能。
    li 占い結果・霊能結果は夜出るか朝出るか設定可能。
    li <b>恋人陣営</b>の勝利条件は「終了時に生存」と「終了時に恋人だけ生存」の2つから選択可能。
    li 究極の人狼から、<b>GM霊能</b>（霊能結果が全員に知らされる）が使用可能。
    li <b>15秒ルール</b>も、使用/非使用の選択及び時間の秒単位の設定が可能。
    li <b>敗北村</b>が使用可能。
    li <a href="/manual/quantumwerewolf">量子人狼</a>がプレイ可能。
  p その他、<a href="/manual/spec">この人狼の仕様</a>も参照しましょう。
