section.manual
  p: a(href="/manual") 返回
  h1 ログインについて
  p この月下人狼で人狼をプレイするには<b>ユーザー登録</b>が必要です。
  p ユーザー登録制によって安全性の向上、<strong>称号</strong>の管理などを実現しています。
  p ユーザー登録に必要な情報は<b>ユーザーID</b>と<b>密码</b>のみです。
  
  h2 既にユーザー登録してある場合
  p 「ログイン」フォームにユーザーIDと密码を入力してログインし、部屋に参加しましょう。
  
  h2 まだユーザー登録していない場合
  p 登録は即座に终了し、すぐに人狼を楽しむことができます。
  p 「新規登録」フォームに、自分でユーザーIDと密码を決めて入力し、新規登録しましょう。ユーザーIDは半角英数字のみで、後から変更できないので注意しましょう。
  p その後ユーザー名と头像（任意）を設定すれば登録が完了して参加できるようになります。
