section.manual
  p: a(href="/manual") 返回
  h1 遊び方
  p このページでは、月下人狼においての人狼の遊び方について解説します。
  p 人狼そのものの规则については、<a href="/manual/rule">规则</a>を参照して下さい。
  
  h2 登録
  p このサーバーでは、まず<b>ユーザー登録</b>をしないと加入游戏できません。まず<a href="/">トップページ</a>から新規登録して下さい。
  p 登録に必要なのは、ユーザーIDと密码だけです。
  p その後は、<a href="/my">マイページ</a>から表示上の<b>名字</b>を変更できます。
  p この名字は人狼に参加するときにも使われてIDも公開されますが、<b>匿名模式</b>の部屋の場合は、その場で名字を決めて入室してIDは明かされません。
 
  h2 遊ぶまでの流れ
  p 人狼を遊ぶには、まず誰かが新しい<strong>部屋</strong>を作ります。部屋を作った人は<b>オーナー</b>になり、ゲームの规则設定をしてゲームを開始させる役割を持ちますが、これはいわゆる<strong>GMではありません</strong>（ただし、GMになることもできます）。ゲームが開始したあとは、オーナーも他の人と同じように参加できます。
  p 既に部屋があればその部屋に参加したり、無ければ部屋を作って人を集めましょう。
  p ゲーム開始までの詳しい流れは以下のページを参照して下さい。
  ul
    li
      a(href="play-owner") オーナーの流れ
    li
      a(href="play-other") オーナー以外の流れ
  
  h2 ゲームが始まったら
  p <a href="play-game">ゲーム中の流れ</a>を参照して下さい。
  
  h2 注意
  p 人狼に参加する前に、<a href="prohibited">禁止行為</a>に目を通すようにしましょう。
  p また、人狼中の发言は誰でも見ることができます（房间加密の部屋でも终了後は公開されます）。個人情報などは公開しないように注意して下さい。
  
