section.manual
  p: a(href="/play") 戻る
  h1 ゲーム中の流れ
  p ゲーム中の操作を説明します。
  p 月下人狼では、ゲーム中は基本的には<strong>手動の更新は不要</strong>です。他の人の発言などはリアルタイムで表示され、昼や夜の切り替わりも全員同時です。
  p ゲームは一日目の夜から始まり、その後昼と夜を交互に繰り返します。

  h2 昼
  p 昼には話し合いをして、処刑投票を行います。処刑投票は話し合い中でもいつでも行えますが、<strong>一度投票すると変えられない</strong>ので注意して下さい。話し合いがまとまってからのほうがよいでしょう。
  p
    img(src="/images/manual-play-game-1.png",alt="昼の投票・発言フォーム")
  p 昼は発言フォームが上の画像のようになります。上部に処刑投票用フォームが表示されています。投票するときは投票先を選択して「投票する」ボタンを押してください。
  p その下は発言フォームです。これは夜にもあります。
  p 「普通」となっているセレクトボックスは「小さく」「普通」「大きく」があり、文字の大きさを選べます。注目を集めたかったり重要なことを言うときは大きくするなどして下さい。
  p その横の「全員に発言」は、発言の種類を指定します。昼の場合は、全員に向けて発言する「全員に発言」と、自分しか見えない「独り言」があります。独り言も人狼が終了したあとは見えるので、自分の本心を書いておいたりするとあとでみた人が楽しめるかもしれません。
  p 「複数行」にチェックを入れると、複数行発言が可能です。
  p その右の「昼 5:23」は、現在の状態（昼か夜か）とその残り時間です。この場合、昼の話し合いはあと5分23秒で終了することを示しています。
  p その右の「<b>遺言</b>」ボタンは、遺言を使用する設定になっているときだけ使えます。遺言は、処刑されたり襲われたりして死ぬときにメッセージを残せる機能です。遺言はいつでも書くことができます。
  p 遺言ボタンを押すと遺言編集フォームが出現します。編集して決定すると戻ります。
  p その右の「<b>ルール</b>」ボタンは、現在の配役やその他のルールを確認できるボタンです。
  p 最後の「全部」と書いてあるセレクトボックスは、表示するログを選択できます。
  p ログを一日ごとに表示できるほか、今日の分だけ表示する「今日」という選択肢もあります。
  hr
  p
    img(src="/images/manual-play-game-2.png",alt="投票後のフォーム")
  p 投票すると、このように緑のログが出ますが、これは<strong>自分にしか見えません</strong>ので安心して下さい。
  p 投票すると上の投票フォームは消えます。
  p 昼が終了して、まだ投票していない人がいる場合は猶予時間になります。この時間は、発言はできませんが投票はできます。猶予時間が終わってもまだ投票していない人は<strong>突然死</strong>します。これは<strong>重大なマナー違反</strong>なので避けましょう。

  h2 夜
  p 全員が投票し終わると、最多の票数をもらった人が処刑されて夜になります。
  p 夜は、人狼が話し合いをしたり、占い師や狩人が能力の対象を選択します。
  p
    img(src="/images/manual-play-game-3.png",alt="夜の狩人の様子")
  p この画像は夜の狩人の様子です。投票フォームの代わりに護衛フォームが出現しています。また、夜の発言フォームは、人狼や共有者以外は「独り言」のみです。独り言は<strong>他の人には聞こえません</strong>。あとで見返したときに自分の推理が分かるように残しておくのもよいでしょう。
  p 能力を発動すると赤いログが出現しますが、これも<strong>他の人には見えません</strong>ので安心して下さい。
  p
    img(src="/images/manual-play-game-4.png",alt="夜の人狼の様子")
  p この画像は人狼の様子です。人狼は襲う人を選択できますが、2人以上人狼がいても襲えるのは1人だけなので、早い者勝ちです。しかし、襲う人はよく相談して決めましょう。
  p また人狼は独り言の他に「人狼の会話」が利用可能で、これを用いると人狼同士で会話が可能です。この会話は、下の画像のように人狼以外には「アオォーーン・・・」という遠吠えとして聞こえます。
  p
    img(src="/images/manual-play-game-5.png",alt="夜の村人の様子",title="※村人の騙りはやめましょう")
  h2 霊界
  p
    img(src="/images/manual-play-game-6.png",alt="霊界の様子")
  p 上の画像のように、処刑されたり襲われたりして死んだ人は<b>霊界</b>という場所にいることになります。
  p 霊界では、全ての人の役職や会話を把握しながら観戦できます。また、霊界で発言すると、同じく霊界にいる人にしか聞こえませんので安心して会話できます。
  h2 ゲームが終了したら
  p 昼と夜を繰り返すうちに人数が減少して、そのうちゲームが終了します。終了したら、霊界と同じように、全員の役職や発言が全部見えるようになるので、ログを見直してみるのもおもしろいでしょう。
  p また「同じ設定で次の部屋を建てる」ボタンが全員に出現します。これを押すと同じ設定で次の部屋を建てられます。ただし部屋名などは新しく決められますし、建てた後に設定を変えることも可能です。部屋を建てるときは重複しないように、建てると宣言してから建てるのがよいでしょう。部屋の建て方は、<a href="play-owner">オーナーの流れ</a>を参照して下さい。
  h2 おかしいときは
  p この人狼は基本的に手動の更新は不要ですが、タイミングの関係で動作がおかしくなる場合があります。たとえば他の人の発言が2重に表示されたり、時間が0になっても画面が切り替わらないときは、<strong>ブラウザの更新ボタンを押す</strong>か<strong>F5キーを押す</strong>などして<strong>ページを更新する</strong>とだいたい直ります。

  h2 発言の特殊機能
  p 発言時、いくつかの特殊な機能を使うことができます。

  h3 部屋番号リンク
  p 「#123456」のように、「#」に続けて部屋番号を入力することで、その部屋へのリンクを作ることができます。部屋番号は部屋に入ったときのURLから調べましょう。

  h3 ダイス
  p 「!1d100」のようなダイスコマンドを用いることでダイス機能を使用できます。dの前にダイスの数（1から10まで）、dの後にダイスの面の数（1から100000000まで）を指定します。
  p ダイスコマンドを使用した場合、コマンド部分がダイス結果に置き換わります。例えば100面ダイスを1個振って56が出た場合は<b>【1D100=56】</b>のように表示されます（常に太字）。また、複数のダイスを振った場合はそれぞれの出目と出目の和が表示されます。
  p 1発言で使用できるダイスコマンドの数は5個までです。
