section.manual
  p: a(href="/play") 戻る
  h1 オーナーの流れ
  p 新しい部屋を作ってオーナーになる手順を説明します。

  h2 新しい部屋を作る
  p <a href="/rooms">ルーム一覧</a>のページの下のほうに<a href="/newroom">新しいルーム</a>という項目があるので開くと、新しいルームの設定ページが開きます。
  h3 部屋の設定を入力する
  p 「ルームの名前」には、新しく作る部屋の名前を入力します。
  p 「パスワード」にチェックを入れてパスワードを入力すると、そのパスワードを入力しないと入室できない部屋になります。内輪村をやりたいときに便利です。誰でも入れる部屋にする場合は「パスワード」のチェックは入れません。
  p 「コメント」には、部屋一覧に表示されるコメントを入力します。なくても構いません。
  p 「人数」は<strong>最大人数</strong>です。その数まで集まらなくてもゲームは開始できます。ただし、最低4人必要です。
  p 「覆面」は、ありにすると<strong>入室時に名前を決定し、参加者のユーザーIDが隠されます</strong>。誰が誰か分からない状態で人狼をプレイできます。逆になしにした場合は、ユーザーIDが公開され、あらかじめ登録した名前で参加するので、誰が誰か分かります。
  p 「GM」は、ありにすると<strong>オーナーがGMになります</strong>。GM（ゲームマスター）は、ゲームに参加しません。ゲーム中は常に全員の役職と発言を確認でき、全員または個人個人に対してメッセージを送ることができます。
  h3 部屋を作成する
  p その他の設定は、部屋を作った後に行います。
  p 以上の設定が終わったら、「作成」ボタンを押して部屋を作成しましょう。ボタンを押すと部屋が作成され、オーナーは自動的に新しい部屋へ移動します。

  h2 部屋を作ったら
  p
    img(src="/images/manual-play-owner-1.png",alt="部屋作成直後のオーナーの様子の画像")
  p オーナーには、「ゲームに参加」「ゲーム開始画面を開く」「参加者を追い出す」「この部屋を廃村にする」のボタンが表示されています。「ゲームに参加」以外はオーナー専用のボタンです。
  p 「ゲームに参加」ボタンを押すとゲームに参加してプレイヤーとして登録されます。覆面ありの部屋の場合は、このとき名前を決めるダイアログが出るので名前を決めて下さい。
  p ゲームに参加すると、「ゲームに参加」ボタンの代わりに「ゲームから脱退」「準備完了/準備中」「ヘルパー」の3つのボタンが出現します。これらはオーナー以外でも同じなので、詳しくは<a href="play-other">オーナー以外の流れ</a>を参照して下さい。
  h3 配役設定をする
  p 「ゲーム開始画面を開く」ボタンを押すと、ルール設定画面が出現します（最初から出ているときもあります）。
  p
    img(src="/images/manual-play-owner-3.png",alt="ルール設定画面")
  p ルールを設定した後、一番下の「開始」ボタンを押すとゲームを開始します。
  p 「現在の人数:」の行には、現在の参加者の人数と、この人数における<b>配役</b>（各役職の人数）が表示されています。
  p 配役を変更するには、その下の「役職」というセレクトボックスを変更します。
  p 配役には、一般的な人狼の配役である「普通1」や「普通2」「普通3」をはじめとして、特殊な役職が利用可能な人狼を楽しめるように設定された特殊な配役がいくつか利用できます。
  h4 自由配役
  p 下のほうの<b>特殊ルール</b>にある<strong>自由配役</strong>を選択すると、配役を全て自由に決定できます。自由配役を選択すると、月下人狼の全ての役職について、役職数選択フォームが出現します。
  p 村人の数は、参加者の数から他の役職の数を差し引いた数になります。村人の数がマイナスになってしまう場合は参加者が足りませんので、その配役ではスタートできません。
  h4 闇鍋
  p また、<strong>闇鍋</strong>は、配役がランダムで決まるモードです。闇鍋を選択すると「闇鍋オプション」が出現します。
  p 闇鍋で人狼が一人もいなかったら困るので、闇鍋オプションでは人狼の数だけは設定できます。人数にあわせて適当に設定しましょう。また、妖孤の数も設定できます。
  p その下のセレクトボックスは、配役を公開するかどうかの設定です。「役職一覧を公開」では、ゲーム開始後にランダムで設定された配役がすべて公開され、「ルール」ボタンで参照できます。「陣営ごとの数のみ公開」では、村人陣営、人狼陣営（人狼及び狂人など）、妖孤陣営などの数がそれぞれ公開されます。「役職一覧も非公開」にすると配役に関する情報はなくなります。
  h4 追加要素の設定
  p その下の「決定者」「権力者」「死神の手帳」「狼の子分」「酔っ払い」のチェックボックスは、チェックするとその追加要素を使用します。いずれも一般的な人狼では使用されません。
  dl
    dt 決定者
    dd 参加者の一人が「決定者」に選ばれます（本人にも分かりません）。昼の処刑投票で同数になった場合、決定者が投票したほうが処刑されます。
    dt 権力者
    dd 参加者の一人が「権力者」に選ばれます（本人にも分かりません）。昼の処刑投票で、権力者の投票は2票分として数えられます。
    dt 死神の手帳
    dd 毎夜、参加者の一人に死神の手帳（デスノート）が届きます。死神の手帳を持っている人は、生存者の中から誰か一人を殺せます。
    dt 狼の子分
    dd 一日目の夜、人狼チームの一人に、他の参加者の中から狼の子分を選択する権利が与えられます。 狼の子分に選ばれた人は、能力はそのままで人狼側になります。つまり人狼陣営の勝利に、勝利条件が変わります。
    dt 酔っ払い
    dd 参加者の一人が「酔っ払い」になります。酔っ払いは、2日目の夜までは自分の役職が「村人」だと思い込んでおり、占い師などのように能力を持っていても発動できません。3日目になると目覚めます。

  h3 ルールを設定する
  p 次の「ルール」の欄では種々のルールを設定できます。
  h4 身代わりくんの設定
  p 「一日目夜」では、<strong>身代わりくん</strong>（初日犠牲者）に関する設定ができます。
  p 人狼は一日目の夜から始まるので、一日目の夜に人狼に襲われた人は、何もできないまま終わってしまいます。それでは可哀想なので、一日目の夜は代わりに<strong>身代わりくん</strong>というNPCに死んでもらうことができます。ネット人狼では一般的な設定です。
  p 「身代わりくんが死ぬ」に設定すると、身代わりくんを使用することになります。
  p 「参加者が死ぬ」に設定すると、身代わりくんを使用せず、参加者の誰かが初日から死ぬことになります。
  p 「誰も死なない」は、身代わりくんは使わないが、その代わりに一日目の夜は人狼が襲わないようにする設定です。結果的には「身代わりくんが死ぬ」とそこまで変わりませんが、身代わりくんを使う設定のほうが一般的です。

  h4 時間の設定
  p その次の「昼」「夜」「猶予」は時間設定です。
  p 「昼」は、昼の話し合いの時間です。この時間の間に話し合いと投票をします。
  p 「夜」は、夜に人狼たちが会話する時間です。この間に占い師などの役職も能力の対象を選びます。
  p 「猶予」は、昼や夜の時間が終わった後に投票や能力対象の選択をする猶予時間です。これを0にすると猶予なしになります。猶予時間は、会話はできません。

  h4 その他の設定
  p その下にあるのは、その他の細かい設定です。一般的な人狼を楽しみたければ、全部そのままで構いません。細かいこだわりがある場合に変更して下さい。
  p 各設定の説明は、マウスを乗せると表示されます。また、使用する役職によって設定項目が増えたり減ったりします。
  h2 ゲームを開始する
  p
    img(src="/images/manual-play-owner-2.png",alt="全員が[ready]をつけた状態")
  p 設定が終わったらいよいよゲームを開始します。
  p 各参加者（オーナーも含む）が<b>準備完了/準備中</b>ボタンを押すと、名前の下に<b>[ready]</b>というマークがつきます。このマークがつくと、その人はゲーム開始の準備ができたということです。もう一度ボタンを押すと消えます。上の画像のように部屋に入っている人全員が<b>[ready]</b>をつけると、「開始」ボタンを押してゲーム開始できます。
  p 部屋に入ったくせに<b>[ready]</b>をつけない人は、「参加者を追い出す」ボタンを押して部屋から追い出すことができます。
  p また、参加者が少ないとかでその部屋で人狼ができない場合は、「この部屋を廃村にする」ボタンを押すことで部屋を廃村処理できます。人狼をプレイしない部屋は廃村にして終了して下さい。

  h2 ゲームが始まったら
  p <a href="play-game">ゲーム中の流れ</a>を参照して下さい。

