section.manual
  p: a(href="/manual") 戻る
  h1 禁止行為・注意事項
  p 以下の行為は、本サービスの快適な利用並びに人狼ゲームの正常な進行を妨げるため<strong>禁止</strong>されています。
  p 悪質な禁止行為を行った場合、アクセス禁止などの処置を取る場合があります。
  dl
    dt 利敵行為
    dd
      p 利敵行為とは、いわゆる<b>リア狂</b>・<b>村騙り</b>など、自分の陣営を故意に不利にする行為を指します。
      p これらの行為はゲームを破綻させ、味方に迷惑をかけたり推理を狂わせたりするため禁止です。
      p ただし、事前に参加者全員に確認して全員が同意した場合に限り、村騙りを認めるローカルルール（後述）を設けることができます。
      p: small ※自分の陣営を一切不利にしない村騙りは容認されます。例えば最終日のPP時に村人が人狼を騙ることは、味方の推理を狂わせることも自分の陣営を不利にすることがないので、禁止されません。

    dt 故意の突然死
    dd
      p 自陣営を有利にさせる・ゲームを乱すなどの目的で<em>故意に突然死すること</em>を指します。
      p 故意かどうかに限らず突然死が起きるとゲームの展開が大きく乱れるので、特に悪質性の高い故意の突然死は禁止されています。
      p なお、故意でない突然死も、過度に繰り返した場合アクセス禁止処置となる場合があるのでご注意ください。
    dt 部屋の掛け持ち
    dd
      p 2つ以上の部屋に同時に参加することを指します。
      p 複数の部屋に同時に参加する場合、思考や発言が疎かになり推理を乱したり味方に迷惑をかけたりすることにつながるため、部屋の掛け持ちは禁止です。
      p したがって、一方の部屋で死亡して観戦するだけになった場合に、その部屋の終了前に他の部屋に参加することは禁止しませんが、マナー違反となる場合があるので注意してください。
    dt 外部でゲームについて話す行為
    dd
      p ゲームに関係する情報を人狼の部屋以外で他の参加者に伝える行為を指します。
      p 参加者全員に公開されていない情報（自分の役職など）を伝えることは、推理が狂うほか不当な有利不利が発生するので禁止です。
      p また、部屋以外で話された内容は参加者の全員が知ることができない可能性があるので、推理を乱すことにつながるため禁止です。
      p 直接参加者に伝える行為だけでなく、SNS等他の参加者が閲覧可能な場所で公開することも禁止です。
      p ただし、参加者全員が情報を共有できる場合に限り、部屋のチャットを代替する別の外部手段を用いて昼の議論を行うことは認められます。
    dt 不適切な発言・画像
    dd
      p 公共の場に相応しくないような発言を行ったり、ユーザー画像に不適切な画像を用いたりする行為は、他の利用者を不快にさせるため禁止です。
      p これには、意味の無い文字列を投稿する行為や、他の参加者等に対する嫌がらせ・暴言・その他のハラスメントを投稿する行為、性的な画像・その他のセンシティブな画像を使用する行為が含まれます。
    dt 使用しない部屋を作成する行為
    dd
      p 人狼をプレイする目的以外で部屋を作成する行為は、当人狼サーバーの目的に反するため禁止されます。
      p 具体的には、部屋を作成してすぐ廃村にする、部屋を作成したあと放置するなどが該当します。
      p 部屋を作成したものの人が集まらなかったためやむを得ず廃村にする場合などはこれに該当しません。
    dt 他の部屋の内容について議論する行為
    dd
      p 既に終了したゲームについて、その部屋とは別の部屋で議論する行為を指します。
      p 終了したゲームについての議論はその部屋で行うのが適切です。他の部屋で終了したゲームについて議論することは、その部屋の利用を阻害するため禁止されます。
    dt 不正行為を助長する行為
    dd
      p 他のユーザーが禁止行為等を行うのを助長するような発言・行動を行うことは、サーバーの治安を悪化させるため禁止されています。
      p 特に、暴言等を発しているユーザーを無視せずに会話を試みる行為は、結果として当該ユーザーの暴言等を助長する可能性があるため避けなければなりません。
      p 一言たしなめる程度は問題ありませんが、それ以上に会話を行った場合はアクセス禁止処置の対象となることがあります。
    dt その他、本サービスの快適な利用またはゲームの進行を著しく妨害する行為
    dd
      p 以上の行為の他にも、 他のユーザーによる本サービスの利用を故意にあるいは執拗に妨害したり、ゲームの正常な進行が不可能になるような行為を行ったりした場合はアクセス禁止などの処置を取る場合があります。

  h2 ローカルルールについて
  p 部屋には自由にローカルルールを設けることができます。ローカルルールとは、上に定められた以外にその部屋にのみ特別に適用される禁止行為あるいは行動規程を指します。ただし、上記の禁止行為規定に反するルールは設けられません。
  p ローカルルールは、<strong>ゲーム開始前に参加者全員に周知され、了解を得ていること</strong>が必要です。ローカルルールの内容は部屋の参加者で合議のうえ決めることができますが、最終的には部屋のオーナーが定めるものとし、ローカルルールに反対する参加者を部屋から追い出すことは認められます。

  h2 注意事項
  p 以下の行為は<strong>このサーバーでは禁止されません</strong>が、部屋のローカルルールとして禁止することは認められます。
  p これらの行為は禁止されることが多く、このサーバーでは禁止されていないとはいえ行うと嫌われることがあるため、注意しましょう。
  p ただし、<strong>以下の記載事項は部屋のローカルルールとして禁止する根拠を提示するものではありません。</strong>

  dl
    dt シスコピ
    dd
      p シスコピとは、占い結果を発表する場合などにおいて、システムメッセージをそのままコピー&amp;ペーストして発言することを指します。
      p 騙りをする人の画面にはシステムメッセージは出ないのでシスコピをする人が本物らしく見えてしまうため、嫌われる場合があります。
      p: small ※騙りがシステムメッセージと同じ文面で発言することも可能なので、禁止行為ではありません。
    dt 初心者CO
    dd
      p 初心者COとは、特にゲーム中の昼において、自分が初心者であると公言することを指します。
      p 初心者であると公言した場合、「その人が嘘をついている確率は低いだろう」などの印象が生まれ、推理に支障をきたすかもしれないので嫌われることがあります。
      p: small ※特にゲームの進行を妨げるものではないので、禁止行為ではありません。
