section.manual
  p: a(href="/manual") 戻る
  h1 量子人狼について
  p このサーバーでは<strong>量子人狼</strong>がプレイ可能です。量子人狼の原案は<a href="http://puzzle.cisra.com.au/2008/quantumwerewolf.html" target="_blank">Quantum Werewolf</a>です。

  h2 量子人狼とは
  p 量子人狼は、村人・人狼・占い師のみが登場します。量子人狼では各参加者の役職は重ねあわせで表現されています。死亡した場合、波動関数が収束して役職が確定します。
  p 毎日<b>確率表</b>が公開されます。これは、各プレイヤーが人間である確率・人狼である確率・すでに死亡している確率の一覧です。
  p 昼の投票で処刑された参加者は確実に死亡します（死亡確率が100%になります）。
  p 各参加者は夜になると、占い師である確率が0%でない限り、占い対象を選択して結果を得ます（それに伴って確率が変動します）。また、人狼である確率が0%でない限り、襲う対象を選択して襲います。襲われた対象はそれだけだと死亡しません（すでに死亡している確率などが変動します）。

  h2 決着について
  p 各参加者は死亡すると役職が確定します。
  p 人狼が全て死んでいることが確定した場合、村人勝利となって終了します。
  p 同様に、生存している参加者が人狼であると確定した場合で、人狼の人数が生存者の過半数を超えている場合は人狼勝利となって終了します。
  p まれに各プレイヤーの選択によって矛盾が発生する場合があります。その場合は引き分けになります。

  h2 量子人狼をプレイするには
  p 通常の人狼と同様に部屋を作って参加します（<a href="play">遊び方</a>を参照）。
  p 配役選択のときに「量子人狼」を選択すれば、量子人狼がプレイできます。

  h2 身代わりくんの扱いについて
  p 量子人狼では、身代わりくんが人狼になる可能性も存在します。身代わりくんもほかのプレイヤーと同等に扱われます。
