section.manual
  p: a(href="/manual") 戻る
  h1 ルール
  p ルールは最低限把握して、参加者に迷惑がかからないようにしましょう。
  
  h2 筋書き
  p ある村に<b>人狼</b>が人間に化けて紛れ込んだ。夜な夜な村人が<b>人狼</b>に襲われている。
  p 村人たちはだれが人狼か分からないので、人狼を退治するために毎日、人狼と思われる村人を一人処刑していくことにした。
  
  h2 ゲームの概要
  p 登場する村人は全員<b>参加者</b>です。参加者は全員ある村の一員ということになります。身代わりくん（後述）を除いてNPCはいません。
  p 参加者は2つ（またはそれ以上）の<b>陣営</b>（チーム）に別れ、陣営ごとに勝利を目指します。陣営は<b>村人陣営</b>と<b>人狼陣営</b>があり、場合によっては第三勢力として<b>妖狐</b>もいます。村人たちは互いの正体が分からないので、誰が敵で誰が味方かも分かりません。確かなのは自分の立場だけです。
  p 参加者一人一人に村人や人狼をはじめとする<b>役職</b>（後述）が設定してあり、ゲーム開始時に参加者それぞれに割り当てられます。<b>人狼</b>と<b>狂人</b>が割り当てられた人が人狼陣営になります。ゲームが開始して自分の役職を把握したら所属する陣営も分かるので、その陣営の勝利に向けて動くわけです。
  h2 勝利条件
  p 処刑により人狼を全員殺せば、<b>村人陣営</b>の勝利になります。ですから村人陣営の目的は、うまく人狼を処刑して人狼を全滅させることです。
  p 人狼は1対1なら村人を食い殺すことができますが、村人がたくさんいるとそうもいきません。村人の数を減らし、村人の数が人狼と同じかそれ以下になれば人狼は村人達を食い殺すことができます。これが<b>人狼陣営</b>の勝利です。人狼陣営の目的は、人狼が処刑されるのをうまく避けて村人を減らしていくことです。
  p また、第三勢力の<b>妖狐</b>がいる場合、村人と人狼のどちらかの陣営が勝利条件を満たしたときまだ妖狐が生存していれば、勝利を横取りします。ですから、妖狐の目的はとにかく生き残ることです。
  p 妖狐がいるときは、村人陣営は人狼の他に妖狐も殺さないといけないことになります。人狼陣営も同様です。
  
  h2 ゲームの進行
  p ゲームは<b>昼</b>と<b>夜</b>に分かれています。
  p 最初は<b>一日目の夜</b>に村人が一人人狼に殺されて<b>事件発生</b>するところからスタートです。
  
  p 夜の間には、<b>人狼</b>が話し合いをしたり、<b>能力者</b>（後述）が能力を発動したりします。また、夜の間に人狼たちは話し合い（人狼以外には内容は分かりません）、一人村人を襲って殺します（殺された人は翌朝判明します）。
  p そして一定時間が経つと<b>2日目昼</b>になります。
  p 昼には村人全員で話し合いをして、人狼だと思われる人に投票する<b>処刑投票</b>を行います。投票は、一人一票村人のうちの誰かに投票して、一番多く投票された人が<b>処刑</b>されます。
  p 村人達は誰が人狼か分かりませんから、昼の話し合いには人狼陣営の人も村人陣営のふりをして混ざります。人狼陣営の人は、話し合いをうまく人狼有利の方向に持っていこうとします。
  p 投票が終了して処刑されると、次は<b>2日目夜</b>になります。以後、同様にゲーム終了まで昼と夜が繰り返されます。
  p このように、夜（人狼による殺害）と昼（村人たちによる処刑）を繰り返して人数が減っていき、どちらかが勝利条件を満たした時点でゲームが終了になります。
  p 死亡した人は、基本的にはあとは見ているだけです。話し合いに参加したりすることはできません。ただし、死んだら負けというわけではなく、自分が死んでいても自分の陣営が勝利したら自分も勝ちなので、最後まで観戦するとよいでしょう。
  
  h2 役職
  p 人狼では、参加者一人一人に<b>役職</b>が割り当てられます。ゲーム開始時に自分の役職が分かります。
  p 役職ごとに異なる能力を持っています。以下に基本的な役職を紹介します。
  h3 村人陣営の役職
  p <b>村人陣営</b>の役職は、村人の仲間なので、人狼を根絶することを目標にゲームを進めます。昼の話し合いは一般的には前述のとおり村人視点で行われるので、村人陣営の人は基本的には嘘をつきません。村人なのに嘘をついて村に不利益を与えること<small>（リア狂）</small>は推理を乱すので、重大な迷惑行為となります<small>（まれに、村人が嘘をついて村が有利になるという例外的な場面もあります）</small>。
  p 最初の役職はただの<b>村人</b>です。この役職は特別な能力を持たないので、村人陣営の勝利に協力するためには<strong>処刑するべき相手を見極めて投票すること</strong>です。推理や勘を活かしましょう。
  p ちなみに、「村人」という言葉には、「参加者全員」という意味の場合と「村人陣営の人」という意味の場合と役職名の「村人」という意味の3つがあります。区別のために、役職名としての村人は<b>素村</b>と呼ぶこともあります。
  
  hr

  p 直接的に勝利に貢献できるのが<b>占い師</b>です。夜の間に一人を選択して占って、その人は村人か人狼か知ることができます。
  p 占い師は基本的には、村のみんなに対してCO<small>(カミングアウト;自分の役職を公表すること)</small>して占い結果を発表し、村を有利な方向に導きましょう。
  p ただし、占い師だとCOするのは真占い<small>(真の占い師=本物の占い師)</small>だけではありません。後述の人狼陣営の人たちも、村を混乱させることを狙って偽の占いCOをしてくる可能性が高いです。普通の人たちからは簡単には判断がつきませんので、冷静に自分の役目を果たしていきましょう。
  p その他にも、妖狐（後述）を呪殺するという役目もあります。
  hr
  
  p <b>霊能者</b>は、処刑によって殺された人が村人だったか人狼だったかを判断できる役職です。夜に人狼によって襲われた人は確実に村人ですから、霊能者は今生きている村人の中に何人人狼が紛れて残っているかを把握できます。
  p 前述のように複数人が占いCOした場合、その真偽を確かめるのに役立つ場合があります。
  hr
  
  p <b>狩人</b>は、夜の間に誰か一人を護衛し、人狼がその人を襲撃した場合に人狼から守ることができます（一般にこれが成功した場合をGJ<small>(Good Jobの略)</small>といいます）。
  p 人狼が占い師に占われるのを恐れて占い師を襲ってきたり、前述の霊能者が占い師の真偽を判断する場合、人狼側は真占い師が確定して人狼側が不利になることを恐れて霊能者を狙ってくることがあります。そういった場合に占い師や霊能者を確実に生かしておいて村を有利に進めるのが狩人の役目です。
  hr
  
  p <b>共有者</b>は一般に2人セットです。共有者は他の共有者を認識して、夜の間に共有者たちだけで会話することができます。
  p 共有者は互いに確認できるので、2人がCOするとほとんど確定白<small>（白：人狼でなくて村人であること。確定白は白であることが確定しているということ）</small>となります。
  p なぜならば、共有者を騙る<small>（偽のCOをする）</small>には人狼側も共有者役を2人用意する必要があり負担が大きいのでめったに起こらないと考えられるからです。
  
  h3 人狼陣営の役職
  p 人狼陣営は、村の推理をかき乱して村人を減らすことを目標に動きます。当然ながら話し合いの中で嘘を付いても構いません。
  p <b>人狼</b>は、前述の通り村人を襲う役職です。人狼は夜の間に村人を一人襲って殺すことができます。これが、人狼が村人を減らしていく直接的な手段です。他には、昼の処刑のときもうまく村人側の人を処刑するように持ち込むことも重要です。
  p 人狼は2人以上いる場合でも殺すのは夜1回につき1人です。したがって、夜は人狼たちで誰を殺すか話し合うことになります。
  hr
  
  p 他に人狼陣営の役職として<b>狂人</b>があります。これは、村人であるにも関わらず人狼の勝利を目標とする人です。
  p 村人であるとは、占い師や霊能者からは村人であると判断されるということです。その特性を活かして村を人狼有利の方向へ持っていきましょう。一般に、占い騙り<small>（占いのふりをしてCOして偽の結果も出すこと）</small>や霊能騙りをするなどして村を撹乱します。
  p 狂人はとにかく基本は村人ですから、人狼の勝利判定のときにも村人側として数えられるので、例えば「ただの村人が2人、狂人が1人、人狼が2人」という5人が生存しているときは、人狼側優勢にも関わらずまだゲームは終了しません。
  p もっともこの場合はPP<small>（パワープレイ: 人狼側のほうが合計票数が多いので、人狼と狂人が票を合わせて村人を処刑すること）</small>が起こることが多いです。
  
  h3 妖狐
  p 役職の一つである<b>妖狐</b>は、村人側でも人狼側でもない<strong>第三の陣営</strong>で、村人と人狼両方から狙われます。一般的なルールでは妖狐は一人だけです。
  p 妖狐の目的は人狼同様に村を支配することであり、その勝利条件は<b>村人か人狼かの勝利が決定したときにまだ生存していること</b>です。ですから、例えば妖狐が生存しているまま人狼が全滅した場合、妖狐の勝利となります。このとき妖狐は独り勝ちしてしまいますから、村人たちは人狼を全滅させる前に妖狐も殺す必要があります。
  p また、妖狐は村人にも人狼にもカウントされません。このことは、人狼の勝利条件に関わってきます。人狼の勝利条件は「村人の数が人狼の数以下になること」ですが、例えば5人生き残っていて内訳が村人2人、人狼2人、妖狐1人のときは、妖狐にはどちらにもカウントされないので村人の数は人狼以下となり決着がつきます（妖狐勝利）。

  p 妖狐を殺す手段は2つあります。一つは処刑であり、もう一つは<b>呪殺</b>です。呪殺は、占い師が妖狐を占うと妖狐が死ぬというものです。このため、妖狐がいる村では占い師はさらに重要な役割を果たします<small>（それにも関わらず、人狼側にとっても妖狐は邪魔な存在なので、逆に人狼は占い師を襲わなくなる傾向もあります）</small>。
  p また、呪殺は真占い師を判断する方法になることもあります。偽の占い師は呪殺を起こせませんから、複数いる占い師のうち誰が呪殺したのかが確定すれば、その占い師が真であることが確定します。
  p 人狼が妖狐を襲った場合、妖狐は<strong>死にません</strong>（死体無し）<small>（死体無し：朝になっても誰も死んでいなかった状態。妖狐の場合と、狩人がGJした場合がある）</small>。
  p 妖狐になった場合、占われることも吊られる<small>(処刑される)</small>こともなく最後まで生き延びましょう。また、噛まれた<small>（人狼に襲われた）</small>場合も死なないので人狼に告発される<small>（人狼が自らCOして妖狐を指摘する）</small>可能性が生じるので避けたいところです。
  
  h2 その他
  p その他知っておくべき事項を紹介します。
  h3 身代わりくん
  p <b>身代わりくん</b>は、設定によってはNPCとして参加者の中に混ざって登場する人です。
  p 一日目の夜に人狼に襲われる人は完全に見ているだけでかわいそうなので、代わりに一日目の夜に殺されてくれます。
  p そのため、身代わりくんは人狼や妖狐になることはありません（占い師や霊能者や狂人など、それ以外にはなりますので、それを考慮して推理する必要があります）。
  
  p ルールを読んだら、次は<a href="welcome">人狼入門</a>を読んで参加しましょう。
