section.manual
  p: a(href="/manual") 返回
  h1 この人狼の仕様
  p このページでは、ゲーム進行に関わる仕様を説明します。
 
  h2 普通人狼に関係する事項

  h3 死体の表示順
  p 人狼の噛みと呪殺などにより死体が2つ以上発生した場合は、その表示順は<strong>ランダム</strong>です。
  
  h3 能力者が噛まれた場合
  p 夜に能力を発動する役職が能力を発動した夜に噛まれた場合でも、能力は発動します。
  p （例：占卜师が妖狐を占った夜に噛まれた場合でも呪殺は発生する）

  h3 猎人が护卫成功した場合に把握できるか
  p 猎人が护卫成功した場合、猎人に対して护卫成功メッセージが表示されるかどうかは、<strong>設定可能</strong>です（デフォルトでは表示されません）。

  h3 占い・灵能结果が表示されるタイミング
  p 占卜结果や灵能结果の表示されるタイミングは「翌朝」と「即時」で<strong>設定可能</strong>です（デフォルトは翌朝）。

  h3 人狼的远吠・共有者的低语声が他の参加者に能听到かどうか
  p 人狼的远吠・共有者的低语声が他の参加者に能听到かどうかは、それぞれ<strong>設定可能</strong>です。デフォルトは、遠吠えは「能听到」・共有者は「听不到」です。

  h3 妖狐の念話が他の参加者に能听到かどうか
  p 妖狐どうしは夜に会話可能です。これは他の参加者には聞こえません。

  h3 重新投票について
  p 処刑投票で1位が複数人になった場合は重新投票になります。4回の重新投票で決着がつかない場合は<strong>平局</strong>になります。

  h3 突然死について
  p 夜に対象を選択する<b>人狼</b>・<b>占卜师</b>・<b>猎人</b>（普通人狼に登場しない役職も同様）は、夜の間に対象を選択しなかった場合<strong>突然死</strong>します。人狼が対象選択を行わなかった場合、<strong>全員突然死</strong>します。

  h3 夜の能力発動について
  p 夜に全員が能力を発動しても、<strong>一定時間経過するまで夜が明けません</strong>。

  h3 初日犠牲者について
  p 初日犠牲者の名字は<strong>替身君</strong>です。
  p 初日犠牲者が役職を持つことがあります。また、占卜师の場合はランダムに誰かを占うので、初日犠牲者による呪殺も起こることがあります。
  p 通常の人狼では起こりませんが、初日犠牲者が生き残った場合にはランダムに投票します。

  h3 狂人の能力について
  p 狂人は、人狼的会话が<strong>聞こえません</strong>し、人狼が誰だか把握もできません。
  p ただし、会話は听不到が人狼が誰だかわかる<b>狂信者</b>と、人狼と会話できる<b>低语狂人</b>という役職が存在します。

  h2 其他

  h3 埋毒者・猫又について
  p 埋毒者・猫又は両方存在します。埋毒者は蘇生能力無し、猫又は蘇生能力あり的职业として区別されます。
  p これらは狼に噛まれた場合は人狼からランダムに一人、其他の場合は参加者全員から一人道連れにします。

  h3 丘比特の自分刺しについて
  p 少人数であっても、丘比特は自分刺しをする必要はありません。

  h3 恋人について
  p 恋人は、互い的职业を把握できませんし、夜の会話もできません。
  p 恋人の胜利条件は、「终了时生存」と「终了時に恋人のみ生存」から選択可能です。
  p また、恋人が2組以上作られた場合の動作は、独立するかどうかは<strong>設定可能</strong>です。独立する場合は自分の相手のみ把握でき、その人が死ぬと後追いします。独立しない場合は恋人たちは全員互いに把握でき、一人が死ぬと全員後追いします。 

  h3 被诅咒者について
  p 前日の夜に被诅咒者が噛まれた状態で昼に最後の人狼が処刑された場合、被诅咒者が変化する前に胜利判定が入ります。
  p 妖狐などがいなかった場合は村人胜利になります。被诅咒者はそのときまだ変化していないので、被诅咒者もいっしょに胜利します。
