section.manual
  h1 参考手册
  p 本游戏的参考手册。
  p 各职业的详细介绍，请以<a href="http://jinrou-doc.uhyohyo.net/" target="_blank">官方日文文档</a>为准。
  h2 页面一览
  ul
    li: a(href="/manual/features") 游戏简介
    li: a(href="/manual/spec") 游戏说明
    li: a(href="/manual/rule") 游戏规则
    li: a(href="/manual/play") 游戏方法
    li: a(href="/manual/prohibited") 禁止行为・注意事项
    li: a(href="/manual/welcome") 人狼入门
    li: a(href="/manual/joblist") 职业一览（已完全汉化）
    li: a(href="/manual/casting/index") 配置一览（已完全汉化）
    li: a(href="/manual/changelog") 更新履历
