section.manual
  h1 マニュアル
  p この人狼のマニュアルです。
  h2 ページ一覧
  ul
    li: a(href="/manual/features") この人狼の特徴
    li: a(href="/manual/spec") この人狼の仕様
    li: a(href="/manual/rule") 人狼のルール
    li: a(href="/manual/play") この人狼の遊び方
    li: a(href="/manual/prohibited") 禁止行為・注意事項
    li: a(href="/manual/welcome") 人狼入門
    li: a(href="/manual/joblist") 役職一覧
    li: a(href="/manual/casting/index") 配役一覧
    li: a(href="/manual/changelog") 更新履歴
