section.jobmanual
  h1 逃走者
  p 桃栗特殊役職。臆病なあなたは、逃げることで自分の身を守ろうと決意する。
  h2 特殊能力
  p 毎晩好きな参加者の家へ逃げることができる。そのため、自分が人狼に襲われても死なない。
  p ただし、逃げた先の参加者が襲われた場合一緒に死亡する。逃げた先が狩人に守られていた場合でも自分は守られない。
  p 人狼のところへ逃げると死亡する。
  h2 勝利条件
  p 村人陣営が勝利した上で、自身が生存していること。

