section.jobmanual
  h1 面包店
  p 村人侧的职业。Neta来自<a href="https://twitter.com/fysm09/status/503268597943123968" target="_blank">つぶやき的Twitter</a>。
  p 每天早上都会烤好美味的面包。
  h2 特殊能力
  p 面包店有人生存的时候，早上会有「面包店烤好了美味的面包。」的显示。
  p 面包店全员死亡的时候，第二天早上会有「今天开始没有美味的面包吃了。」的显示。
  h2 胜利条件
  p 村人阵营的胜利。

