section.jobmanual
  h1(style="color:red;font-family:serif") 血腥玛丽
  p 「究极人狼」中登场的角色。抱有强大的怨念。
  h2 特殊能力
  p 在被处刑而死的场合下，每天晚上可以选择一个村人阵营的人杀掉。
  p 在被人狼袭击而死的场合下，每天晚上可以选择一个人狼阵营的人杀掉。但是当人狼只有一人的场合中，不能使用技能。
  h2 胜利条件
  p 在被处刑而死的场合下，跟随人狼阵营胜利。
  p 其他场合，跟随村人阵营胜利。

