section.jobmanual
  h1 猫又
  p 「続わかめてサーバー」中存在的职业。拥有连坐能力和复活能力。村人侧。
  h2 特殊能力
  p 死亡时，会在生存者中随机选一人连坐死亡。但是被人狼袭击死亡的时候会连坐袭击者死亡。
  p 第二天以后，每天夜晚可以选择一个人尝试将其复活。这时，有一定几率复活选中的人，有时会复活其他人。
  p 此外，在死后每晚都会尝试复活自己。
  h2 胜利条件
  p 村人阵营的胜利
  h2 参考
  p 「埋毒者」拥有相同的连坐能力，但是没有复活能力。

