section.jobmanual
  h1 狂信者
  p 村人でありながら人狼を崇拝する人。
  p 狂人と違い、人狼が誰か把握できる。ただし、人狼側からは誰が狂信者かは分からない。
  p 嘘をついて村を撹乱する役職。
  h2 特殊能力
  p 人狼が誰か分かる。
  p 占い師・霊能者からは村人と判定される。勝利判定時も村人として数えられる。
  h2 勝利条件
  p 人狼陣営の勝利

