section.jobmanual
  h1 魅惑的女狼
  p 「Twitter人狼」中存在的职业。人狼的一种。
  h2 特殊能力
  p 基本上和人狼相同。
  p 第一天夜里选择一名参加者进行诱惑。
  p 这之后女狼死去的场合下，被诱惑者的胜利条件变更为人狼阵营的胜利。
  p 但是，如果这个魅惑的女狼是最后一条人狼的时候，被诱惑者的胜利条件不会改变。此外，如果诱惑了诸如妖狐的人外对象，诱惑不会产生效果。
  h2 胜利条件
  p 人狼阵营的胜利

