section.jobmanual
  h1 妖狐
  p 村人和人狼之外的第三方势力。即不包括在村人中，也不包括在人狼中。
  h2 特殊能力
  p 可以与其他妖狐相互辨别，在夜晚可以相互对话。即使被人狼袭击了也不会死。
  p 被占卜师占卜的时候会被咒杀。占卜师和灵能者会将其判断为村人。
  p 由于既不包括在村人中，也不包括在人狼中，终了判定的时候不会被计算。
  h2 胜利条件
  p 妖狐阵营的胜利。
  p 村人或人狼阵营的胜利条件达成时有任何一个妖狐幸存，即为妖狐阵营的胜利。

