section.jobmanual
  h1 逃亡者
  p 桃栗配置中的特殊职业。村人侧。胆小的你决定靠四处逃亡来保护自己。
  h2 特殊能力
  p 第二天夜里开始，每晚可以选择一个参加者，躲到那个人家里。这样一来，即使自己被人狼或吸血鬼袭击了也不会死。
  p 但是，逃亡目标一旦受到袭击你也会一同死去。逃亡目标受到猎人保护的时候，你不会受到保护。
  p 如果逃到人狼或吸血鬼家里，会立即死亡。
  h2 胜利条件
  p 村人阵营的胜利，并且自身生存。

