section.jobmanual
  h1 流氓
  p 「究极人狼」中登场的角色。不属于任何一个阵营，对村中的某人抱有憎恨。
  h2 特殊能力
  p 第一天夜里选择两名憎恨的对象。
  p 占卜师和灵能者会将其判断为村人。终了判定的时候会被记为村人。
  p 第一天没有选择对象的情况下则会猝死，这一点请务必注意。
  h2 胜利条件
  p 终了时自身生存，并且两名憎恨目标死亡的时候，和胜利阵营一同享受胜利。

