section.jobmanual
  h1 怪诞狂热者
  p 「タブラの狼」中登场的角色。基本上属于村人侧。
  h2 特殊能力
  p 第二天夜里开始选择一名生存者。
  p 如果选中了占卜师或人狼，第二天就会变成相应的职业。其他情况下仍然是普通的村人。
  p 没有选择对象的情况下则会猝死，这一点请务必注意。
  h2 胜利条件
  p 村人阵营的胜利。
  p 如果职业发生了变化，以变化后的职业为准。

