section.jobmanual
  h1 怪盗
  p 「ワンナイト人狼」中登场的角色。基本上属于村人侧。
  h2 特殊能力
  p 第一天夜里选择一名参加者，与选择的人交换职业。能够立刻知道盗取的职业，但是当天晚上不能使用这个职业的技能。
  p 不能选择替身君和自己。
  p 被选中的人会变成怪盗，但是在第二天夜晚之前不会知道自己变成了怪盗。
  p 一旦交换了职业，就不再有特殊的能力了。
  h2 胜利条件
  p 村人阵营的胜利。
  p 一旦发生了职业交换，以变更后的职业为准。

