section.jobmanual
  h1 量子人类
  p 「量子人狼」的参加者。
  h2 特殊能力
  p 量子人狼的参加者们是村人・占卜师・人狼的机会将以概率表示。
  p 在概率变为0%以前，可以使用占卜师和人狼的技能。
  p 死后或这游戏终了之后，概率函数将会坍缩，确定职业。
  p 关于量子人狼的详细信息请参考<a href="/manual/quantumwerewolf" target="_blank">关于量子人狼</a>。
  h2 胜利条件
  p 所属阵营的胜利。
  p 但是在概率函数坍缩之前，无法得知自己究竟属于哪个阵营。

