section.jobmanual
  h1 圣诞老人
  p 「月下人狼」原创的职业。圣诞老人在圣诞节的时候会在勤劳的人狼玩家面前出现。
  h2 特殊能力
  p 每天夜里选择一名生存者送出礼物。收到礼物的玩家能够使用礼物中的能力。
  p 每个玩家只能收到一次礼物。生存者全员收到礼物之后圣诞老人将会离开村子。
  p 礼物里可能有占卜套装・灵能套装・守护套装・巫女套装等等。也有的时候礼物不会送达。
  h2 胜利条件
  p 村人阵营的胜利。
  p 如果圣诞老人离开了村子，将和任何一个胜利的阵营一同享受胜利。

