section.jobmanual
  h1 孤独的狼
  p 「Twitter人狼」中存在的职业。人狼的一种。
  h2 特殊能力
  p 基本上和普通人狼相同，但是无非分辨其他的人狼，也无法与其他的人狼夜间会话。
  p 无法选择袭击对象，但是在其他人狼全部死亡的时候会变得可以选择袭击对象。
  p 只有复数的孤独的狼存在时，其中一人可以袭击他人。
  p 普通的人狼能够知道谁是孤独的狼。
  h2 胜利条件
  p 人狼阵营的胜利

