section.jobmanual
  h1 跟踪狂
  p 「ウルティマオンライン」的人狼游戏中出现过的职业。跟踪一个人然后变成那个人的阵营。
  h2 特殊能力
  p 第一天夜里选择一名参加者，可以获知这个人的职业。
  p 然后将转变为被跟踪人的阵营。胜利条件与自己和跟踪对象的生死，没有必然关系。
  p 没有选择对象的情况下则会猝死，这一点请务必注意。
  h2 胜利条件
  p 所属阵营的胜利

