section.jobmanual
  h1 吸血鬼
  p 「究极人狼」中登场的角色。第三方阵营。
  h2 特殊能力
  p 能够知道其他的吸血鬼。
  p 每天晚上可以选择一个人发动袭击。但是第一天夜里不能袭击他人。
  p 被占卜师占卜的时候，结果将显示为「吸血鬼」。
  p 没有选择对象的情况下则会猝死，这一点请务必注意。
  h2 胜利条件
  p 吸血鬼阵营的胜利。
  p 吸血鬼阵营将人狼全灭之后、村人的人数在吸血鬼的人数以下的时候吸血鬼获得胜利。

