section.jobmanual
  h1 人狼占卜师
  p 桃栗配置中的特殊职业。人狼的一种。同时持有人狼袭击村人的能力和强大的占卜能力。
  h2 特殊能力
  p 由于是人狼，能够与其他人狼相互辨别，并在夜间对话。
  p 夜晚选择一名参加者进行占卜，将不仅仅知道这个人是村人还是人狼，还将知道这个人的职业名。但是，如果占卜倒了占卜师，将会被反过来咒杀。
  p 人狼占卜师能够咒杀妖狐。
  p 此外，如果占卜了狂人系的职业，被占卜的对象将随机变成其他职业。
  h2 胜利条件
  p 人狼阵营的胜利

