section
  // 2011/01/26
  h1 月下人狼公開記念　五つ巴人狼
  p 5つの勢力がひしめき合う人狼です。
  p ここでしかできない配役を楽しみましょう。
  h2 配役
  p 各役職の詳細は<a href="/manual/joblist">役職一覧</a>を参照して下さい。
  p 登場する陣営は、<b>村人陣営</b>、<b>人狼陣営</b>、<b>妖狐陣営</b>、<b>恋人陣営</b>、<b>悪魔くん</b>の5つです。
  h3 基本役職
  ul
    li 占い師1
    li 霊能者1
    li 狩人1
    li 人狼2
    li 狂人1
    li 妖狐2
  h3 桃栗特殊役職
  ul
    li 貴族1（人数が多い場合）
    li 奴隷1(人数が多い場合）
    li 人狼占い1（人数が多い場合）
    li こうもり1
    li コピー1
  h3 究極の人狼の役職
  ul
    li 聖職者1
    li 見習い占い師1
    li キューピッド1
    li ドッペルゲンガー1
  h3 その他の役職
  ul
    li 背徳者1(人数が多い場合）
    li 悪魔くん1
    li ストーカー1
  p 残り村人
  
  h2 最小実施人数
  p 25人
  
  h2 日時
  p ???
    
