!!! 5
html
  head
    != SocketStream
    meta(charset="utf-8")
    title 汝は人狼なりや?
  body
    header
      h1 人狼
      #userinfo
        span#username
      nav
        ul
          li
            a(href="/my") マイページ
          li
            a(href="/lobby") ロビー
          li
            a(href="/") ログアウト
          li
            a(href="/rooms") ルーム一覧
    #content
