section.profile
  h1 个人页面
  form#changeprofile(action="/")
    h2 账号
    p.userid=userid
    h2 名字
    p 显示的名字。
    p.edit(data-pname="name",data-type="text",data-maxlength="20",data-required="required")=name
    h2 简介
    p.edit(data-pname="comment",data-type="text",data-maxlength="100")=comment
    h2 头像
    p
      input(type="hidden",name="icon",value="")
      img#myicon(width="48",height="48",alt="头像")
      input(type="button",value="头像选择",name="twittericonbutton")
    p
      input(type="submit",value="变更保存",title="名字・简介・头像变更后请点击保存")
      input(type="button",name="changepasswordbutton",value="密码变更")
      input(type="button",name="colorsettingbutton",value="配色设定")
  form#changepassword(hidden)
    h2 密码变更
    p: label
      | 新密码
      input(name="newpass",type="password",size="20",required)
    p: label
      | 再输入一次
      input(name="newpass2",type="password",size="20",required)
    p: label
      | 现在的密码
      input(name="password",type="password",size="20",required)
    p: input(type="submit",value="変更")
  h1 通知
  table.newstable
    thead
      tr
        th 日期
        th 内容
    tbody#newslist
    
  h1 房间
  table.roomstable
    thead
      tr
        th 房间名
        th 状态
        th 房主
        th 最大人数
        th 时间
        th 简介
    tbody#roomlist
  h1 对战成绩
  p: a(href="/rooms/my") 加入的房间
  form#morescore
    input(type="hidden",name="open",value="false")
    p: input(type="submit",name="submit",value="查看详细情报")
  #grapharea
  section
    h1 称号
    p 加入游戏时称号将显示在名字前面，可以在此处对获得的称号进行组合。
    p 
      | 称号获得数:
      span#prizenumber 0
    #pdragzone
      #prizes
      ul#conjunctions
    ul#prizeedit
    form#prizearea
      p
        input(type="submit",value="OK")
