p 「蒼汁天国」に存在する役職。「遊び人」と呼ばれることもある。
h2 特殊能力
p 一日目の夜に、本命の相手と手玉に取る相手を選択して、本命のほうに求愛して恋人になる。
p 手玉にとられたほうは求愛されたと思い込むが、勝利条件が変化したり後追いしたりはしない。
p 求愛されたほうは自分が本命か手玉か区別できない。
p 対象選択しないと突然死するので注意しましょう。
h2 勝利条件
p 恋人陣営の勝利（恋人が二人とも生き残ればよい）

