p 村人側の役職。元ネタは<a href="https://twitter.com/fysm09/status/503268597943123968" target="_blank">Twitterのつぶやき</a>。
p 毎朝おいしいパンを焼いてくれる。
h2 特殊能力
p パン屋が生存している場合、朝に「パン屋がおいしいパンを焼いてくれたそうです。」と表示される。
p パン屋が全員死亡した場合、翌朝に「今日からはもうおいしいパンが食べられません。」と表示される。
h2 勝利条件
p 村人陣営の勝利。

