p 「ねじれ天国」に存在する役職。背徳者と同様に、村人だが妖狐陣営。
h2 特殊能力
p 初日の夜に1人選んで冒涜できる。冒涜された人は自覚なしに狐憑きになる。
p ただし、逃亡者・女王観戦者・嘘つき・スパイⅡ・一匹狼・絶対狼・在宅者を冒涜した場合は、相手ではなく自分が自覚なしに狐憑きになる。
p 狐憑きは終了判定が妖狐カウントになり、人狼に襲撃されても死亡せず、占われると呪殺されるようになる。勝利条件は変わらない。
p 誰かを冒涜した後は背徳者と同様に、妖狐（狐憑きを含む）が全滅すると後追い自殺する。
h2 勝利条件
p 妖狐陣営の勝利

