p 「ねじれ天国」に登場する役職。人狼陣営。
h2 特殊能力
p ゲーム中に1回だけ、生存者に爆弾を仕掛けることができる。
p 仕掛けられた人が処刑により死亡した場合、投票者の中からランダムに1人道連れにする。
p 仕掛けられた人が人狼またはヴァンパイアに襲撃された場合、襲撃者を道連れにする。
p 仕掛けられた人が護衛された場合、護衛者を道連れにして死亡する。
h2 勝利条件
p 人狼陣営の勝利

