p 続わかめてサーバーに存在する役職。道連れ能力と蘇生能力を持つ。村人側。
h2 特殊能力
p 死んだ場合、生きている人の中から一人ランダムに道連れする。ただし、人狼に襲われて死んだ場合は人狼を道連れにする。
p 2日目以降、毎日夜に一人を選んで蘇生を試みることができる。その場合、一定確率でその人が蘇生する。たまに違う人が蘇生する。
p また、死んだ後も毎晩自分の蘇生を試みる。
h2 勝利条件
p 村人陣営の勝利
h2 備考
p 道連れ能力だけあって蘇生能力がない役職は「埋毒者」である。

