p 「Twitter人狼」に登場する役職。狂人などを更生させる力をもつ。
h2 特殊能力
p 2日目以降、夜に一人を選択して、村人陣営以外だったらカウンセリングして勝利条件を「村人陣営勝利」に変更する。
p ただし、人狼またはヴァンパイアを選択した場合は逆に殺される。
p 選択された側はカウンセリングされたことを把握できるが、誰がカウンセラーか把握できない。また、カウンセリングが成功したかどうかも分からない。
h2 勝利条件
p 村人陣営の勝利

