p 月下人狼オリジナル役職。人狼の一種。
h2 特殊能力
p 2日目以降の夜に1回だけ、生存者を1人選択して「囮になる」能力を使用することができる。囮になる能力を使用した場合、その夜に対象に対して発動された全ての能力の対象が強制的に自分に変更される。
p ただし、人狼が対象を襲撃した場合、襲撃対象も自分に変更される（人狼は人狼を襲撃できないため、その夜は襲撃による死者は発生しない）。

h2 勝利条件
p 人狼陣営の勝利。
