p 「人狼パーティー」の「吸血鬼」を元にした役職。

h2 特殊能力
p 2日目以降、毎晩生存者1人を吸血することができる。人外や、狩人に守られた人を吸血することはできない。吸血に成功したか失敗したかは朝に村の全員に伝えられる。
p ドラキュラが複数いても吸血できるのは1人だけである（全員が対象を選択することができ、ランダムに誰か1人の選択対象が採用される）。
p ドラキュラの占い結果は「ヴァンパイア」、霊能結果は「村人」である。ただし、ドラキュラは占われると呪殺される。

h2 勝利条件
p ヴァンパイア陣営の勝利。
p ドラキュラ自身が生存した上で、生存者の過半数を吸血した場合ヴァンパイア陣営の勝利となる（ドラキュラ自身は吸血しなくてよい）。
p また、人狼が全滅している上で、村人の数がヴァンパイアの数以下になった場合もヴァンパイア陣営の勝利となる。
