p 「人狼物語（薔薇の下国）」に存在する役職。
h2 特殊能力
p 自身の役職が「村人」と表示されます。
p 人狼の襲撃を1度だけ耐えることが出来ます。
p 耐えたときに胡蝶だと自覚します。
p
  | 自覚した場合、人狼陣営となり、
  a(href="/manual/job/WhisperingMad") 囁き狂人
  | と同等の能力を得ます。
h2 勝利条件
p 村人陣営の勝利。自覚した場合は人狼陣営の勝利。
