p 村人でも人狼でもない第三の勢力。村人にも人狼にも含まれない。
h2 特殊能力
p 他の妖狐を判別し、夜は会話できる。人狼に襲われても死なない。
p 占い師に占われると死ぬ（呪殺）。占い師や霊能者には村人と判断される。
p 村人にも人狼にも含まないため、終了判定時に自身はカウントされない。
h2 勝利条件
p 妖狐陣営の勝利。
p 村人または人狼が勝利条件を満たしたときまだ妖狐陣営が一人でも生存していれば妖狐陣営の勝利となる。

