p 桃栗特殊役職。村人側。臆病なあなたは、逃げることで自分の身を守ろうと決意する。
h2 特殊能力
p 2日目夜以降、毎晩参加者を一人選んで、その人の家へ逃げる。そのため、自分が人狼・ヴァンパイアに襲われても死なない。
p ただし、逃げた先の参加者が襲われた場合一緒に死亡する。逃げた先が狩人に守られていた場合でも自分は守られない。
p 人狼・ヴァンパイアのところへ逃げると死亡する。
h2 勝利条件
p 村人陣営が勝利した上で、自身が生存していること。

