p 「ねじれ天国」に存在する役職。ガチャに夢中で人狼騒ぎは眼中に無いようだ。

h2 特殊能力
p 毎晩1回ノーマルガチャを引いて役職を獲得することができる（村人陣営のみ）。獲得した役職に決めることで、翌朝からその役職に変化できる。
p また、課金をすることで、レア度の低い役職が出ないプレミアムガチャを引くことができる。課金をすると次の昼の投票数が1票消費される。
p 課金可能数は通常1回だが、自分の投票可能数が増えている場合はその回数だけ課金できる（初日は1回のみ）。
p 投票数は夜になると復活し、また課金が可能となる。

h2 勝利条件
p 村人陣営の勝利
