p 「人狼式」に登場する役職。占い結果と霊能結果は「鬼」となる。
h2 特殊能力
p 2日目以降の夜に人攫いを行うことができる。人攫いの対象は死亡する。人攫いの成功率は最初100%で、1回成功するごとに2分の1に減少する。
p 人狼に襲われた場合、40%の確率で襲撃に耐えることができる。
p ゲーム開始時に、自分の左何人かがターゲットに設定される（ターゲットの人数はランダム）。
h2 勝利条件
p 村人陣営勝利かつ、勝利判定時に自身が生存しておりターゲットが全員死亡していれば、勝利陣営と一緒に勝利。

