p 月下人狼オリジナル役職。時節のイベントに姿を表して村を破壊する、第三陣営の役職。

h2 特殊能力
p 毎晩、生存者から1人選んで暴動に参加させる。参加させられた人は暴動者となる。暴徒は最初から暴動者として扱われる。
p 生存者を全員暴動者にすれば暴徒陣営勝利となる。

h3 暴動者

p 暴動者は毎晩1人を選択して暴行を加えることができる。1人だけでは何も起きないが、2人以上から同時に暴行を加えられた人は死亡する。
p 暴徒は現在暴動者が誰かを把握することができるが、暴動者同士は把握することができない。
p 暴徒陣営勝利時は暴動者も勝利することができる。

h3 警備員

p 暴徒が存在する村では、ランダムに警備員が任命される（村の人数8人につき警備員が1人存在する）。警備員は暴動に参加させることができない。
p 警備員は毎晩1人を選んで拘束することができ、拘束された人はその夜の暴行が無効化され、暴動者ではなくなる。

h2 勝利条件
p 暴徒陣営の勝利（生存者全員が暴動者になれば暴徒と暴動者が勝利する）。

