p
  a(href="/manual/job/Hooligan") 暴徒
  | による暴動を鎮圧する任務を課された人。暴徒が存在する村では参加者の中から警備員が選ばれる。

h2 特殊能力
p 毎晩、生存者から1人選択して拘束することができる。
p
  | 拘束した人が
  a(href="/manual/job/HooliganAttacker") 暴動者
  | だった場合、その夜の暴行は無効となり、その人は翌朝から暴動者が解除される。

p また、警備員は暴徒によって暴動者にされることはない。

h2 勝利条件
p 警備員になっても勝利条件は変更されない。
