p
  a(href="/manual/job/Hooligan") 暴徒
  | によって暴動に参加させられた人。

h2 特殊能力
p 毎晩、生存者から1人選択して暴行を加えることができる。
p 1人では何も起きないが、2人以上の暴動者から同時に暴行を加えられた人は死亡する。
p
  | 村に存在する
  a(href="/manual/job/HooliganGuard") 警備員
  | に拘束された場合、その夜の暴行は無効化され、翌朝から暴動者が解除される。

h2 勝利条件
p 暴動者になった人は、暴徒陣営勝利の場合も勝利できる。（元々の勝利条件も有効。）
