p 月下人狼オリジナル役職。村人たちを巧みに操り人気アイドルを目指す。
h2 特殊能力
p 最初の夜にファンにする人を1人選ぶ。ファンになった人とは互いのことを認識できる。
p ファンが生存している間、毎朝その時点で生存している村人陣営のプレイヤーの数を知ることができる。アイドルが死亡した場合、次の夜はファンは能力を使用できない。
p 4日目夜の時点でファンが生存している場合、次の朝にランダムにファンが1人増える。また、5日目以降にファンが生存していない場合は処刑投票で他の人と得票数が同じ場合に優先的に処刑されるようになる。
h2 勝利条件
p 村人陣営の勝利。
