p 「るる鯖」にローカルルールとして存在する役職。選んだ相手を一方的に狂愛する。
h2 特殊能力
p 一日目の夜に、狂愛対象を選択する。
p 狂愛者が生存中に対象が死亡すると後を追って自分も死亡し、さらに死亡の原因となった人を1人道連れに死亡させる。（処刑で死亡した場合は、対象に投票した人の中から選ばれる。）
p 狂愛の対象になった人は自分が狂愛されていることを感知できない。
h2 勝利条件
p 終了時に狂愛対象が生存していれば勝利陣営と一緒に勝利（自身の生死は関係ない）。
p また、狂愛対象となった人は本来の勝利条件に加えて、狂愛者が勝利した場合も一緒に勝利できる。


