p 月下人狼オリジナル役職。バレンタインの日にも人狼に参加するみんなのためにチョコレートを作って配る。実は村に住むあの人を狙っているのだ。
h2 特殊能力
p 最初の夜に参加者の中から1人本命を選び、その人と恋人になる。その人には本命チョコを、他の全員には義理チョコを配る。
p チョコを貰った側は2日目の夜に食べてみるまで本命か義理か分からない。義理の場合、誰からのチョコか分からず、一定確率で特殊効果が発生する。
h2 勝利条件
p 恋人陣営の勝利。

