p 「ワンナイト人狼」に登場する役職。基本は村人側。
h2 特殊能力
p 初日の夜に参加者から1人選び、選んだ人と役職を交換する。盗んだ役職はすぐに知ることができるが、その夜には盗んだ役職の能力は使えない。
p 身代わりくんと自分は選べない。
p 選ばれた人は怪盗になるが、次の夜になるまで気づかない。
p 一度役職を交換した後は特に能力はない。
h2 勝利条件
p 村人陣営の勝利。
p 役職の交換後はその役職に準拠する。

