p 月下人狼オリジナル役職。仲間と歌会を楽しむ村人。
h2 特殊能力
p 夜の時間に生存者を1人選んで歌を送ることができる。歌は最大17文字・3行まで。歌は翌朝相手に届けられる。
p 歌を受け取った人は歌人となり、次の夜以降返歌を送ることができる。
p 返歌が返ってきたら次の歌を送ることができるようになり、何往復でも可能。ただし、歌を送る相手を変えることはできない。

h2 勝利条件
p 村人陣営の勝利

