p 量子人狼の参加者。
h2 特殊能力
p 量子人狼の参加者は村人・占い師・人狼の重ねあわせとして確率的に表現されている。
p 確率が0%でない限り、占い師と人狼の能力が使える。
p 死ぬかゲームが終了すると波動関数が収束して役職が決定する。
p 量子人狼について詳しくは<a href="/manual/quantumwerewolf" target="_blank">量子人狼について</a>を参照してください。
h2 勝利条件
p 所属陣営の勝利。
p ただし波動関数が収束するまでは所属陣営は確率的にしか分からない。

