p 「人狼ジャッジメント」などに登場する役職。サンタクロースとともにプレゼントを配る、クリスマスには欠かせない存在。

h2 特殊能力
p 村のサンタクロースが誰か知ることができる。
p サンタクロースが人狼・ヴァンパイアの襲撃・魔女の毒薬の対象になった場合、身代わりとなって死亡する。

h2 勝利条件
p 村人陣営の勝利。また、サンタクロースがプレゼントを配り終わって村から去った場合も勝利。

