p どの陣営にも属さない役職。

h2 特殊能力
p 1回だけ、夜に取り憑く相手を選択することができる。相手は自身が取り憑かれたことは知らされない。
p 取り憑いた相手の勝利条件に「自分自身の生存」が含まれていた場合、地縛霊が生存していれば対象が死亡しても生存扱いで判定される。
p 3日目の夜までに取り憑く相手を選択しなかった場合、4日目の朝に死亡する。

h2 勝利条件
p 取り憑いた相手の勝利。誰にも取り憑かなかった場合は敗北となる。


