p 月下人狼オリジナル役職。サンタクロースはクリスマスを人狼で過ごす真の人狼プレイヤーの前にのみ現れる。
h2 特殊能力
p 毎晩夜に生存者の中から一人選択してプレゼントを送る。プレゼントを受け取った相手はランダムに能力を得る。
p 一度プレゼントを送った相手には送ることができない。生存者全員にプレゼントを送ったら村を去る。
p プレゼントの中身は、占いセット・霊能セット・狩人セット・巫女セットなど。たまにハズレが届く。
h2 勝利条件
p 村人陣営の勝利。または村を去った場合勝利陣営と一緒に勝利。

