p 「Twitter人狼」に存在する役職。人狼の一種。
h2 特殊能力
p 基本的には人狼と同様であるが、他の人狼を把握することができないし会話もできない。
p 襲撃対象を選択することもできないが、他の人狼が全員死亡した場合は襲撃できるようになる。
p 孤独な狼のみが複数生き残った場合、誰か1人だけが襲撃可能になる。
p 普通の人狼は孤独な狼を把握することができる。
h2 勝利条件
p 人狼陣営の勝利

