p 月下人狼オリジナル役職。毎日動画配信をして視聴者を楽しませる村人。

h2 特殊能力
p ゲーム開始時に参加者が何人か自身の視聴者となる。視聴者はゲームの参加人数4人につき1人で、村人陣営以外から選ばれる可能性もある。
p 配信者は現在生存している視聴者の人数を知ることができる。
p また、配信者の夜の発言は独り言ではなく配信となり、視聴者は配信を見ることができる。

p 配信者は2日目以降毎晩、ランダムに能力を1つ得てその日だけその能力を使用できる。能力の使用先や結果は視聴者にも伝わる。
p 生存している視聴者がいなくなった場合、配信者は次の夜に引退してただの村人となる。

h2 勝利条件
p 村人陣営の勝利

