p 「人狼ジャッジメント」に登場する役職。糸が切れてしまったてるてる坊主の怨霊。
h2 特殊能力
p 一定日数を生存し、かつ処刑によって死亡した場合、勝利陣営と一緒に勝利。
h2 勝利条件
p 以下二つの条件を同時に満たす必要がある：
p 1. ゲーム開始時の人数が4人なら第2日の朝、5～6人なら第3日の朝、7～10人なら第4日の朝、11人以上なら第5日の朝まで生存していること；
p 2. 昼の投票（再投票を含む）によって処刑されること。
p 朝を迎えた時点で条件1を満たしていれば、「てるてる坊主の怨霊の力が満ちました。処刑されれば勝利です。」というメッセージが届く。
p 投票を行わずに突然死した場合は即敗北となる。