p 「うそつき人狼」に登場する役職。村人を守る。
h2 特殊能力
p 夜の間に村人に罠を仕掛け、人狼から守る。
p 罠が仕掛けられた人を人狼が襲った場合、その人の代わりに人狼が誰か一人死亡する。
p ただし罠師が罠を仕掛けた人を狩人が護衛した場合、狩人が罠にかかり死亡する。その場合人狼の襲撃からは守れない。
p 2日連続で同じ人を守ることはできない。
p 対象選択しないと突然死するので注意しましょう。
h2 勝利条件
p 村人陣営の勝利

