p 「究極の人狼」に登場する役職。第三の陣営。
h2 特殊能力
p 他のヴァンパイアが分かる。
p 毎晩一人を選んで襲撃できる。ただし1日目の夜は襲撃できない。
p 占い師が占うと、「ヴァンパイア」という結果が出る。
p 対象選択しないと突然死するので注意しましょう。
h2 勝利条件
p ヴァンパイア陣営の勝利。
p ヴァンパイア陣営は人狼が全滅している上で、村人の数がヴァンパイアの数以下になると勝利する。（ドラキュラが村の過半数を吸血した場合もヴァンパイア陣営の勝利となる。）

