p 桃栗特殊役職。人狼の一種。村人を襲う人狼の能力と強力な占い能力を持つ。
h2 特殊能力
p 人狼なので、他の人狼を判別して会話できるし、夜は村人の中から一人選んで殺すことができる。
p 夜の間に参加者を一人占い、村人か人狼かだけでなくその役職名を知ることができる。ただし、占い師を占うと呪殺される。
p 人狼占いにより妖狐を呪殺することができる。
p ただし、狂人系の役職を占った場合占った相手が別の役職に変化する。
h2 勝利条件
p 人狼陣営の勝利

