p 妖狐の亜種。<a href="https://twitter.com/igako_jinro" target="_blank">いがこ氏</a>が考案したとされる役職。
h2 特殊能力
p 普通の妖狐と同じく、人狼に襲われても死亡しないが、占われると死亡する。
p 毎晩、指定した相手の役職を透視することができる。透視した役職は翌朝全員に告知される。ただし、誰が透視されたのかは公開されない。また、透視対象の役職が村人だった場合は透視結果は告知されない。
h2 勝利条件
p 妖狐陣営の勝利。

